@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc.Html;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Activityfeed;
@using VocaDb.Model.Domain.Activityfeed;

@helper EntryLink(ActivityEntryContract entryProperties) {
	@Html.ActionLink(entryProperties.DisplayName, "Details", entryProperties.EntryRef.EntryType.ToString(), new { id = entryProperties.EntryRef.Id }, new { title = entryProperties.AdditionalNames })
}

@helper EntryType(ActivityEntryContract entry) {
    
    var tr = @HelperRes.ActivityFeedHelperStrings.ResourceManager.GetString(entry.EditEvent.ToString() + entry.EntryRef.EntryType);
    
    if (!string.IsNullOrEmpty(tr)) {
        
       <span>@tr</span> 
        
    } else {
     
		if (entry.EditEvent == EntryEditEvent.Created) {
			<span>@string.Format(HelperRes.ActivityFeedHelperStrings.CreatedNew, Translate.EntryTypeNames[entry.EntryRef.EntryType])</span>
		} else {
			<span>@string.Format(HelperRes.ActivityFeedHelperStrings.Updated, Translate.EntryTypeNames[entry.EntryRef.EntryType])</span>
		}
           
    }
    
}

@helper ActivityEntry(ActivityEntryContract entry) {
	<div class="message activityEntry ui-tabs ui-widget ui-widget-content ui-corner-all">
		<p>
		@EntryType(entry)
		<span>@EntryLink(entry)</span>         
		@if (!string.IsNullOrEmpty(entry.ArtistString)) {
			<span> @HelperRes.ActivityFeedHelperStrings.ByArtist @entry.ArtistString</span>
		}
		<span>-</span>
		@entry.CreateDate
		@if (!entry.Author.AnonymousActivity || Login.CanModerateUsers) {
			<span>@HelperRes.ActivityFeedHelperStrings.ByUser</span>
			@Html.ProfileIcon(entry.Author, 20)
			<span>
	  		@Html.UserLink(entry.Author, entry.Author.Name)
			</span>
		}
		</p>
	</div>
}

@helper NewsEntry(NewsEntryContract entry) {

	var panelClass = entry.Important ? "ui-state-highlight " : string.Empty;
	
	<div class="@(panelClass + " message newsEntry ui-tabs ui-widget ui-widget-content ui-corner-all")">
		<div class="messageTitle ui-widget-header ui-corner-all">
			<div class="messageTitleText">
				@if (!entry.Anonymous || Login.CanModerateUsers) {
					@Html.ProfileIcon(entry.Author, 20)
					<span>
					@Html.UserLink(entry.Author, entry.Author.Name)
					</span>
					<span> @HelperRes.ActivityFeedHelperStrings.At </span>
	}
				@entry.CreateDate

				@if (Login.CanEditNews) {
					@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", "NewsEntry", new { id = entry.Id }, null)
	}
			</div>	
		</div>	
		<p class="messageContent">
			@if (entry.Important) {
				@Helpers.NotificationIcon()
   }
			<span>@HtmlHelpers.FormatText(entry.Text)</span>
		</p>
	</div>
	
}