@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using VocaDb.Model.Domain.Songs;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Activityfeed;
@using VocaDb.Model.Domain.Activityfeed;
@using VocaDb.Model.DataContracts;

@helper EntryLink(ActivityEntryContract entryProperties) {
	@Html.ActionLink(entryProperties.DisplayName, "Details", entryProperties.EntryRef.EntryType.ToString(), new { id = entryProperties.EntryRef.Id }, new { title = entryProperties.AdditionalNames })
}

@helper ActivityEntry(ActivityEntryContract entry) {
	<div class="message ui-tabs ui-widget ui-widget-content ui-corner-all">
		@if (entry.EditEvent == EntryEditEvent.Created) {
			<span>Created a new </span>
		} else {
			<span>Updated </span>
		}
		<span>@entry.EntryRef.EntryType:</span>
		<span>@EntryLink(entry)</span> 
		<span>-</span>
		@entry.CreateDate
		@if (!entry.Author.AnonymousActivity || Login.CanModerateUsers) {
			<span>by</span>
			@Html.ProfileIcon(entry.Author, 25)
			@Html.UserLink(entry.Author, entry.Author.Name)
		}
	</div>
}

@helper NewsEntry(NewsEntryContract entry) {

	var panelClass = entry.Important ? "ui-state-highlight " : string.Empty;
	
	<div class="@(panelClass + " message ui-tabs ui-widget ui-widget-content ui-corner-all")">
		<div class="messageTitle ui-widget-header ui-corner-all">
			<div class="messageTitleText">
				@if (!entry.Anonymous || Login.CanModerateUsers) {
					@Html.ProfileIcon(entry.Author, 25)
					@Html.UserLink(entry.Author, entry.Author.Name)
					<span> at </span>
				}
				@entry.CreateDate
			</div>	
		</div>	
		<p class="messageContent">
			@if (entry.Important) {
				@Helpers.NotificationIcon()
			}
			<span>@Helpers.ConvertNewlinesToBreaks(entry.Text)</span>
		</p>
	</div>
	
}