@using System.Web.Mvc;
@using VocaDb.Model.DataContracts.Albums;
@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.HelperPage

@helper PrintArchivedAlbumData(ArchivedAlbumContract data) {

	<fieldset>
		<legend>Content</legend>
	
		<table>
			@ArchivedEntryHelpers.DataRow("Id", data.Id)
			@ArchivedEntryHelpers.TranslatedNameRow(data.TranslatedName)
			@ArchivedEntryHelpers.DataRowList("Names", DataFormatUtils.GenerateHtmlFromHelper(data.Names, ArchivedEntryHelpers.NameInfo))
			@ArchivedEntryHelpers.DataRow("Description", data.Description)
			@ArchivedEntryHelpers.DataRow("Disc type", Translate.DiscTypeName(data.DiscType))
			@if (data.OriginalRelease != null) {
				if (data.OriginalRelease.ReleaseDate != null) {
					ArchivedEntryHelpers.DataRow("Release date", data.OriginalRelease.ReleaseDate.Formatted);
				}
				ArchivedEntryHelpers.DataRow("Catalog number", data.OriginalRelease.CatNum);
				ArchivedEntryHelpers.DataRow("Release event", data.OriginalRelease.EventName);
			}
			@ArchivedEntryHelpers.DataRowList("External links", DataFormatUtils.GenerateHtmlFromHelper(data.WebLinks, ArchivedEntryHelpers.WebLinkInfo))
			@ArchivedEntryHelpers.ObjectRefList("Artists", data.Artists)
			@ArchivedEntryHelpers.DataRowList("Tracks", DataFormatUtils.GenerateHtml(data.Songs, song => MvcHtmlString.Create("(Disc " + song.DiscNumber + ") " + song.TrackNumber + ". " + song.NameHint + " [" + song.Id + "]")))
			@ArchivedEntryHelpers.DataRowList("PVs", DataFormatUtils.GenerateHtmlFromHelper(data.PVs, ArchivedEntryHelpers.PVInfo))
		</table>	

	</fieldset>

}