@using System.Web.Mvc;
@using VocaDb.Model.DataContracts;
@using VocaDb.Model.DataContracts.Albums;
@using VocaDb.Model.DataContracts.PVs;
@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.HelperPage

@helper DataRow(string name, object val) {
	<tr>
		<td>@name</td>
		<td>@val</td>
	</tr>	
}

@helper DataRowList(string name, IEnumerable<MvcHtmlString> rows) {
	if (rows != null) {
	<tr>
		<td>@name</td>
		<td>
			<ul>
			@foreach (var row in rows) {
				<li>@row</li>
			}			
			</ul>
		</td>
	</tr>	
	}
}

@helper ObjectRefList(string name, IEnumerable<ObjectRefContract> objRefs) {
	DataRowList(name, DataFormatUtils.GenerateHtml(objRefs, objRef => MvcHtmlString.Create(objRef.NameHint + " [" + objRef.Id + "]")));
}

@helper PVInfo(ArchivedPVContract pv) {
	<text>@pv.Service (@pv.PVType)</text>
}

@helper WebLinkInfo(ArchivedWebLinkContract link) {
	if (!string.IsNullOrEmpty(link.Description)) {
		@link.Description<text>: </text>
	}
	@link.Url
}

@helper PrintArchivedAlbumData(ArchivedAlbumContract data) {

	<h3>Content</h3>
	
	<table>
		@DataRow("Id", data.Id)
		<tr>
			<td>Primary names</td>
			<td>
				Non-English: @data.TranslatedName.Japanese<br />
				Romanized: @data.TranslatedName.Romaji<br />
				English: @data.TranslatedName.English
			</td>
		</tr>
		@if (data.Names != null) {
		<tr>
			<td>Names</td>
			<td>
				<ul>
				@foreach (var name in data.Names) {
					<li>@name.Value (@Translate.ContentLanguageSelectionName(name.Language))</li>
				}
				</ul>
			</td>
		</tr>
		}
		@DataRow("Description", data.Description)
		@DataRow("Disc type", Translate.DiscTypeName(data.DiscType))
		@if (data.OriginalRelease != null) {
			if (data.OriginalRelease.ReleaseDate != null) {
				DataRow("Release date", data.OriginalRelease.ReleaseDate.Formatted);
			}
			DataRow("Catalog number", data.OriginalRelease.CatNum);
			DataRow("Release event", data.OriginalRelease.EventName);
		}
		@if (data.WebLinks != null) {
		<tr>
			<td>External links</td>
			<td>
				<ul>
				@foreach (var link in data.WebLinks) {
					<li>
						@if (!string.IsNullOrEmpty(link.Description)) {
							@link.Description<text>: </text>
						}
						@link.Url
					</li>
				}
				</ul>
			</td>
		</tr>
		}
		@DataRowList("External links", DataFormatUtils.GenerateHtmlFromHelper(data.WebLinks, WebLinkInfo))
		@ObjectRefList("Artists", data.Artists)
		@DataRowList("Tracks", DataFormatUtils.GenerateHtml(data.Songs, song => MvcHtmlString.Create("(Disc " + song.DiscNumber + ") " + song.TrackNumber + ". " + song.NameHint + " [" + song.Id + "]")))
		@DataRowList("PVs", DataFormatUtils.GenerateHtmlFromHelper(data.PVs, PVInfo))
	</table>	

}