@using System.Web.Mvc;
@using VocaDb.Model.DataContracts;
@using VocaDb.Model.DataContracts.Albums;
@using VocaDb.Model.DataContracts.PVs;
@using VocaDb.Model.Domain;
@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.HelperPage

@helper CurrentVersionMessage(int version, EntryStatus status) {
	<p>@ViewRes.ArchivedObjectVersionsStrings.CurrentVersionIs @version (@Translate.EntryStatusNames[status]).</p>	
}

@helper DataRow(string name, object val) {
	<tr>
		<td>@name</td>
		<td>@val</td>
	</tr>	
}

@helper DataRowList(string name, IEnumerable<MvcHtmlString> rows) {
	if (rows != null) {
	<tr>
		<td>@name</td>
		<td>
			<ul>
			@foreach (var row in rows) {
				<li>@row</li>
   }			
			</ul>
		</td>
	</tr>	
	}
}

@helper NameInfo(LocalizedStringContract name) {
	<text>@Translate.ContentLanguageSelectionName(name.Language): @name.Value</text>
}

@helper ObjectRefInfo(ObjectRefContract objRef) {
	if (objRef != null) {
	<text>@objRef.NameHint [@objRef.Id]</text>
	}
}

@helper ObjectRefList(string name, IEnumerable<ObjectRefContract> objRefs) {
	@DataRowList(name, DataFormatUtils.GenerateHtmlFromHelper(objRefs, ObjectRefInfo));
}

@helper PictureRow(string name, string url) {
	<tr>
		<td>@name</td>
		<td><img src="@url" alt="@name" class="coverPic" /></td>
	</tr>	

}

@helper PVInfo(ArchivedPVContract pv) {
	<text>@pv.Service (@pv.PVType): @pv.PVId</text>
}

@helper TranslatedNameRow(TranslatedStringContract name) {
	<tr>
		<td>Original language:</td>
		<td>@Translate.ContentLanguageSelectionName(name.DefaultLanguage)</td>
	</tr>
	<tr>
		<td>Primary names</td>
		<td>
			Non-English: @name.Japanese<br />
			Romanized: @name.Romaji<br />
			English: @name.English<br />
		</td>
	</tr>
}

@helper TranslatedNameRow(ArchivedTranslatedStringContract name) {
	<tr>
		<td>Original language:</td>
		<td>@name.DefaultLanguage</td>
	</tr>
	<tr>
		<td>Primary names</td>
		<td>
			Non-English: @name.Japanese<br />
			Romanized: @name.Romaji<br />
			English: @name.English<br />
		</td>
	</tr>
}

@helper WebLinkInfo(ArchivedWebLinkContract link) {
	if (!string.IsNullOrEmpty(link.Description)) {
		@link.Description<text>: </text>
	}
	@link.Url
}
