@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.HelperPage

@helper PrintArchivedArtistData(int archivedEntryId, ArchivedArtistContract data) {

	<fieldset>
		<legend>Content</legend>
	
		<table>
			@ArchivedEntryHelpers.DataRow("Id", data.Id)
			@ArchivedEntryHelpers.PictureRow("Picture", Url.Action("ArchivedVersionPicture", "Artist", new { id = archivedEntryId }))
			@ArchivedEntryHelpers.TranslatedNameRow(data.TranslatedName)
			@ArchivedEntryHelpers.DataRowList("Names", DataFormatUtils.GenerateHtmlFromHelper(data.Names, ArchivedEntryHelpers.NameInfo))
			@ArchivedEntryHelpers.DataRow("Description", data.Description)
			@ArchivedEntryHelpers.DataRow("Artist type", Translate.ArtistTypeName(data.ArtistType))
			@ArchivedEntryHelpers.DataRowList("External links", DataFormatUtils.GenerateHtmlFromHelper(data.WebLinks, ArchivedEntryHelpers.WebLinkInfo))
			@ArchivedEntryHelpers.ObjectRefList("Groups", data.Groups)
			@ArchivedEntryHelpers.ObjectRefList("Members", data.Members)
			@ArchivedEntryHelpers.ObjectRefList("Albums", data.Albums)
		</table>	

	</fieldset>

}

@helper Albums(VocaDb.Model.DataContracts.Albums.AlbumWithAdditionalNamesContract[] albums) {

	<ul>
	@foreach (var album in albums) {
		<li>
			@Helpers.DraftIcon(album)
			@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames })
			(added @album.CreateDate).		
			<br />
			<span class="extraInfo">@album.ArtistString</span>
		</li>
	}
	</ul>
	
}

@helper Songs(VocaDb.Model.DataContracts.Songs.SongWithAdditionalNamesContract[] songs) {

	<ul>
	@foreach (var song in songs) {
		<li>
			@Html.PVServiceIcons(song.PVServices)
			@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })
			(added @song.CreateDate).
		</li>
	}
	</ul>
	
}