@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using VocaDb.Model.Domain.Songs;
@using VocaDb.Web.Helpers;

@helper ArchivedObjectVersions(IEnumerable<VocaDb.Web.Models.Shared.ArchivedObjectVersion> archivedVersions) {
	
	<table>
		<tr>
			<th>Version</th>
			<th>Created</th>
			<th>Author</th>
			<th>Notes</th>
		</tr>
		@foreach (var ver in archivedVersions.OrderByDescending(v => v.Contract.Version)) {
			<tr>
				<td>
					@ver.Contract.Version
				</td>
				<td>
					@ver.Contract.Created
				</td>
				<td>
					@Html.UserLink(ver.Contract.Author, ver.Contract.AgentName)
				</td>
				<td>
					@ver.Reason
					@if (!string.IsNullOrEmpty(ver.ChangeMessage)) {
						@(" (" + ver.ChangeMessage + ")")
					}
				</td>
			</tr>
		}
	</table>	
	
}

@helper ConvertNewlinesToBreaks(string text) {
	var lines = text.Split(new[] { Environment.NewLine, "\n" }, StringSplitOptions.None);
	foreach (var line in lines) {
		@line
		<br />
	}
}

@helper EmbedPV(VocaDb.Model.DataContracts.PVs.PVContract pv, int width = 560, int height = 315) {
	
	if (pv.Service == VocaDb.Model.Domain.PVs.PVService.NicoNicoDouga) {
		<script type="text/javascript" src="@(string.Format("http://ext.nicovideo.jp/thumb_watch/{0}?w={1}&h={2}", pv.PVId, width, height))"></script>
	}

	if (pv.Service == VocaDb.Model.Domain.PVs.PVService.Youtube) {
		<iframe width="@width" height="@height" src="http://www.youtube.com/embed/@pv.PVId" frameborder="0" allowfullscreen></iframe>
	}	
	
}

@helper NotificationIcon() {
	<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
}

@helper NotificationPanel(string message, string messageId = "") {
	using (Html.BeginHighlightPanel()) {
		<p>
			@Helpers.NotificationIcon()
			<span id="@messageId">@message</span>
		</p>
	}
}

@helper ValidationSymmaryPanel(string message) {
	if (!ViewData.ModelState.IsValid) {
		using (Html.BeginErrorPanel()) {
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				@Html.ValidationSummary(false, message)
			</p>
		}
	}
}

@helper GoogleSiteSearch() {
	
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load('search', '1', { language: 'en' });
	google.setOnLoadCallback(function () {
		var customSearchControl = new google.search.CustomSearchControl('010575853430721629857:uosxb117-zg');
		customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		customSearchControl.draw('cse');
	}, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />	
	
}
