@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using VocaDb.Model.Domain.Songs;
@using VocaDb.Web.Helpers;

@helper ArchivedObjectVersions(IEnumerable<VocaDb.Model.DataContracts.ArchivedObjectVersionContract> archivedVersions) {
	
	<table>
		<tr>
			<th>Version</th>
			<th>Created</th>
			<th>Author</th>
			<th>Notes</th>
		</tr>
		@foreach (var ver in archivedVersions.OrderByDescending(v => v.Version)) {
			<tr>
				<td>
					@ver.Version
				</td>
				<td>
					@ver.Created
				</td>
				<td>
					@(ver.Author != null ? Html.ActionLink(ver.Author.Name, "Profile", "User", new { id = ver.Author.Name }, null) : MvcHtmlString.Create(ver.AgentName))
				</td>
				<td>
					@ver.Notes
				</td>
			</tr>
		}
	</table>	
	
}

@helper ConvertNewlinesToBreaks(string text) {
	var lines = text.Split(new[] { Environment.NewLine }, StringSplitOptions.None);
	foreach (var line in lines) {
		@line
		<br />
	}
}

@helper NotificationPanel(string message, string messageId = "") {
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<span id="@messageId">@message</span>
			</p>
		</div>
	</div>
}

@helper ValidationSymmaryPanel(string message) {
	if (!ViewData.ModelState.IsValid) {
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				@Html.ValidationSummary(false, message)
			</p>
		</div>
	</div>
	}
}

@helper GoogleSiteSearch() {
	
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load('search', '1', { language: 'en' });
	google.setOnLoadCallback(function () {
		var customSearchControl = new google.search.CustomSearchControl('010575853430721629857:uosxb117-zg');
		customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		customSearchControl.draw('cse');
	}, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />	
	
}
