@inherits VocaDb.Web.Code.HelperPage

@helper LockingAutoComplete(string bindingHandler, string binding) {
	<input type="text" class="input-large" data-bind="@bindingHandler: @binding, visible: !@(binding)()" />
	<div class="input-append" data-bind="visible: @(binding)()">
		<input type="text" class="input-large" readonly data-bind="value: @binding" />
		<button type="button" class="btn" data-bind="click: function() { @(binding)(null); }">Clear</button>
	</div>
}

@helper ServerSidePaging() {

	<div class="pagination" data-bind="visible: $data">
		<ul>
			<li data-bind="css: { disabled: isFirstPage }">
				<a data-bind="click: page(1)" href="#">&laquo;&laquo; First</a>
			</li>
			<li data-bind="css: { disabled: isFirstPage }">
				<a data-bind="click: previousPage" href="#">&laquo; Previous</a>
			</li>

			<li data-bind="visible: showMoreBegin" class="disabled">
				<a href="#">…</a>				
			</li>
			
			<!-- ko foreach: pages -->
			<li data-bind="css: { active: $data == $parent.page() }">
				<a data-bind="click: function() { $parent.page($data) }, text: $data" href="#"></a>
			</li>
			<!-- /ko -->
			
			<li data-bind="visible: showMoreEnd" class="disabled">
				<a href="#">…</a>
			</li>
			
			<li data-bind="css: { disabled: isLastPage }">
				<a data-bind="click: nextPage" href="#">Next &raquo;</a>
			</li>
			<li data-bind="css: { disabled: isLastPage }">
				<a data-bind="click: goToLastPage" href="#">Last &raquo;&raquo;</a>
			</li>

		</ul>
	</div>

}

@helper WebLinksEditViewKnockout(bool showCategory = true) {
	<!-- binding context: WebLinksEditViewModel -->
	<table>
		<thead>
			<tr>
				<th>@HelperRes.HelperStrings.WebLinkUrlTitle</th>
				<th>@HelperRes.HelperStrings.WebLinkDescriptionTitle</th>
				@if (showCategory) {
                <th>@HelperRes.HelperStrings.WebLinkCategoryTitle</th>					
				}
				<th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: webLinks">
			<tr>
				<td><input type="text" data-bind="value: url" maxlength="512" class="input-xlarge" /></td>
				<td><input type="text" data-bind="value: description" maxlength="512" /></td>
				@if (showCategory) {
					<td>
						<select data-bind="value: category, options: $parent.categories, optionsText: 'name', optionsValue: 'id'" class="input-medium"></select>
					</td>
				}
				<td><a href="#" class="textLink deleteLink" data-bind="click: $parent.remove">@ViewRes.SharedStrings.Delete</a></td>
			</tr>
		</tbody>
	</table>
	
	<a href="#" class="textLink addLink" data-bind="click: add">@HelperRes.HelperStrings.WebLinkNewRow</a>	
}
