@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Model.Domain.Songs
@using VocaDb.Web.Helpers;

@helper LyricsInfo(LyricsForSongContract lyrics) {
	<text>@lyrics.Language (@lyrics.Source)</text>
}

@helper PrintArchivedSongData(ComparedSongsContract comparedSongs) {

	<fieldset>
		<legend>Content</legend>
	
		<table>
			@ArchivedEntryHelpers.DataRow("Id", comparedSongs.FirstData.Id)
			@ArchivedEntryHelpers.TranslatedNameRow(comparedSongs, d => d.TranslatedName)
			@ArchivedEntryHelpers.DataRowList("Names", comparedSongs, d => DataFormatUtils.GenerateHtmlFromHelper(d.Names, ArchivedEntryHelpers.NameInfo))
			@ArchivedEntryHelpers.DataRow("Notes", comparedSongs, d => d.Notes)
			@ArchivedEntryHelpers.DataRow("Song type", comparedSongs, d => d.SongType)
			@ArchivedEntryHelpers.DataRow("Original version", comparedSongs, d => ArchivedEntryHelpers.ObjectRefInfo(d.OriginalVersion))
			@ArchivedEntryHelpers.DataRowList("External links", comparedSongs, d => DataFormatUtils.GenerateHtmlFromHelper(d.WebLinks, ArchivedEntryHelpers.WebLinkInfo))
			@ArchivedEntryHelpers.DataRowList("Artists", comparedSongs, d => DataFormatUtils.GenerateHtml(d.Artists, artist => MvcHtmlString.Create(artist.NameHint + " [" + artist.Id + "] - IsSupport: " + artist.IsSupport + ", Roles: " + artist.Roles)))
			@ArchivedEntryHelpers.DataRowList("PVs", comparedSongs, d => DataFormatUtils.GenerateHtmlFromHelper(d.PVs, ArchivedEntryHelpers.PVInfo))
			@ArchivedEntryHelpers.DataRowList("Lyrics", comparedSongs, d => DataFormatUtils.GenerateHtmlFromHelper(d.Lyrics, LyricsInfo))
		</table>	

	</fieldset>

}

@helper SongIconLink(SongContract song) {
	<a href="@Url.Action("Details", "Song", new { id = song.Id })">
		<img src="@song.ThumbUrl" alt="Cover" class="coverPicThumb" />
	</a>		
}

@helper SongLink(SongContract song) {
	@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })
}

@helper Songs(IEnumerable<SongContract> songs, bool songType = false) {
	
	<table>
		@foreach (var song in songs) {
		<tr>
			<td>
				@if (!string.IsNullOrEmpty(song.ThumbUrl)) {
					@SongIconLink(song)
				}
			</td>
			<td>
				@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })
				(@Translate.SongTypeNames[song.SongType])
				<br />
				<span class="extraInfo">@song.ArtistString</span>
			</td>
	   </tr>
	 }	
	</table>
		
}

@helper Songs(IEnumerable<SongWithAlbumContract> songs, bool songType = false, bool album = false) {
	
	<table class="table-striped">
		@foreach (var song in songs) {
		<tr>
			<td>
				@if (!string.IsNullOrEmpty(song.ThumbUrl)) {
					@SongIconLink(song)
				}
			</td>
			<td>
				@SongLink(song)
				&nbsp;
				@SongTypeLabel(song.SongType)
				@Helpers.PVServiceIcons(song.PVServices)
				<br />
				<span class="extraInfo">@song.ArtistString</span><br />
				@if (album && song.Album != null) {
				<span class="extraInfo">@ViewRes.Song.IndexStrings.FromAlbum @AlbumHelpers.DetailsLink(song.Album)</span><br />
				}
			</td>
	   </tr>
	 }	
	</table>
		
}

@helper SongGrid(IEnumerable<SongContract> songs, int columns,
	bool displayType = false) {
	
	<table>
		@{ int i = 0; }
	
		@foreach (var song in songs) {
			if (i % columns == 0) {
				@Html.Raw("<tr>")
			}
			<td>
				@if (!string.IsNullOrEmpty(song.ThumbUrl)) {
				<a href="@Url.Action("Details", "Song", new { id = song.Id })">
					<img src="@song.ThumbUrl" alt="Thumb" class="coverPicThumb" />
				</a>
				}
			</td>
			<td>
				@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })
				@if (displayType) {
					@("(")@Translate.SongTypeNames[song.SongType]@(")")
				}
				<br />
				<span class="extraInfo">@song.ArtistString</span>
			</td>
			{ i++; }
			if (i % columns == 0) {
				@Html.Raw("</tr>")
			}
		}
		@if (i % columns != 0) {
			@Html.Raw("</tr>")
		}
	</table>
			
}

@helper SongLists(IEnumerable<SongListContract> songLists) {
	
	<table>
		@foreach (var list in songLists) {
			<tr>
				<td>@Html.ActionLink(list.Name, "Details", "SongList", new { id = list.Id }, new { title = list.Description })</td>
				<td>
					@if (list.CanEdit) {
						<a href="@Url.Action("Edit", "SongList", new { id = list.Id })" class="textLink editLink">@ViewRes.SharedStrings.Edit</a>
					}
				</td>
			</tr>
		}
	</table>

}

@helper SongTypeLabel(SongType songType) {
	switch (songType) {
		case SongType.Cover:
			<span class="label" title="@Translate.SongTypeNames[songType]">C</span>
			break;

		case SongType.DramaPV:
			<span class="label label-success" title="@Translate.SongTypeNames[songType]">D</span>
			break;		
			
		case SongType.Instrumental:
			<span class="label label-inverse" title="@Translate.SongTypeNames[songType]">I</span>
			break;
			
		case SongType.Mashup:
			<span class="label" title="@Translate.SongTypeNames[songType]">M</span>
			break;
			
		case SongType.Original:
			<span class="label label-info" title="@Translate.SongTypeNames[songType]">O</span>
			break;
			
		case SongType.Other:
			<span class="label" title="@Translate.SongTypeNames[songType]">O</span>
			break;
			
		case SongType.Remaster:
			<span class="label label-info" title="@Translate.SongTypeNames[songType]">R</span>
			break;
			
		case SongType.Remix:
			<span class="label" title="@Translate.SongTypeNames[songType]">R</span>
			break;
			
		case SongType.MusicPV:
			<span class="label label-success" title="@Translate.SongTypeNames[songType]">PV</span>
			break;		
	}
}