@using System.Web.Mvc.Html;
@using VocaDb.Model.DataContracts.Albums;
@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@inherits VocaDb.Web.Code.HelperPage

@helper AlbumTagUsages(IEnumerable<AlbumTagUsageContract> links, 
	Func<AlbumWithAdditionalNamesContract, string> extraData = null) {

	<div class="tracklist">
		<ul>
		@foreach (var link in links) {
			<li>
				<div class="albumListItem">
					<div class="thumbnail">
						@AlbumHelpers.AlbumThumb(link.Album)
					</div>
					@Html.ActionLink(link.Album.Name, "Details", "Album", new { id = link.Album.Id }, null)
					@(" (" + link.Count + ")")
					@if (extraData != null) {
						@extraData(link.Album)
					}
					<br />
					<span class="extraInfo">@link.Album.ArtistString</span>
				</div>
			</li>
	 }
		</ul>
	</div>
	
}

@helper ArtistTagUsages(IEnumerable<ArtistTagUsageContract> artists, 
	Func<ArtistWithAdditionalNamesContract, string> extraData = null) {

	<ul>
	@foreach (var link in artists) {
		<li>
			@Html.ActionLink(link.Artist.Name, "Details", "Artist", new { id = link.Artist.Id }, null)
			@(" (" + link.Count + ")")
			@if (extraData != null) {
				@extraData(link.Artist)
			}
			<br />
			<span class="extraInfo">@link.Artist.AdditionalNames</span>
		</li>
 }
	</ul>
	
}

@helper SongTagUsages(IEnumerable<SongTagUsageContract> links, 
	Func<SongWithAdditionalNamesContract, string> extraData = null) {

	<div class="tracklist">
		<ul>
		@foreach (var link in links) {
			<li>
				<div class="songListItem">
					@if (!string.IsNullOrEmpty(link.Song.ThumbUrl)) {
						<div class="thumbnail">
							@SongHelpers.SongThumb(link.Song)
						</div>
					}
									
					@Html.ActionLink(link.Song.Name, "Details", "Song", new { id = link.Song.Id }, null)
					@(" (" + link.Count + ")")
					@if (extraData != null) {
						@extraData(link.Song)
					}
					<br />
					<span class="extraInfo">@link.Song.ArtistString</span>
				</div>
			</li>
	 }
		</ul>
	</div>
	
}
