@using VocaDb.Web.Helpers;
@using VocaDb.Model.Domain.Security;

@{
    ViewBag.Title = "Admin menu";
}
<h3>Common tasks</h3>
<p>
@Html.ActionLink("View users list", "Index", "User")
</p>
@if (Login.Manager.HasPermission(PermissionFlags.ViewAuditLog)) {
<p>
@Html.ActionLink("View audit log", "ViewAuditLog")
</p>
}
<br />

@if (Login.Manager.HasPermission(PermissionFlags.Admin)) {
<h3>Database maintenance tasks</h3>
<p>
@Html.ActionLink("Refresh NHibernate cache", "RefreshDbCache")
</p>
<p>
@Html.ActionLink("Generate image thumbnails", "GeneratePictureThumbs")
</p>
<p>
@Html.ActionLink("Update entry statuses", "UpdateEntryStatuses")
</p>
<p>
@Html.ActionLink("Update NicoIDs", "UpdateNicoIds")
</p>
<p>
@Html.ActionLink("Update all artist strings", "UpdateArtistStrings")
</p>
<p>
@Html.ActionLink("Update PV Icons", "UpdatePVIcons")
</p>
}