@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Songs.SongInListEditContract

<tr class="trackRow ui-state-default">
	<td style="cursor: move">
		@{ var item = Html.BeginCollectionItem("SongLinks"); }
		@Html.HiddenFor(m => m.SongInListId)
		@Html.HiddenFor(m => m.SongId, new { @class = "songId" })
		@Html.HiddenFor(m => m.SongName)
		@Html.HiddenFor(m => m.SongAdditionalNames)
		@Html.HiddenFor(m => m.Order, new { @class = "songOrderField" })
		<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>	
	</td>
	<td class="songOrder">
		@Model.Order
	</td>
	<td class="trackNameCol">
		<span title="@Model.SongAdditionalNames">@Model.SongName</span><br />
		<span class="extraInfo artistString">@Model.SongArtistString</span>
	</td>
	<td>
		@Html.TextBoxFor(m => m.Notes)
		@{ item.Dispose(); }
	</td><td>
		<a href="@Url.Action("Edit", "Song", new { id = Model.SongId })" target="_blank" title="Open for edit" class="editSongLink iconLink editLink">Edit</a>
		<a href="#" class="songRemove iconLink removeLink" title="Remove from list">Remove</a>
	</td>
</tr>