@model VocaDb.Model.DataContracts.Albums.AlbumWithAdditionalNamesContract[]

<p>@Model.Length album(s).</p>

<ul>
@foreach (var album in Model) {
	<li>
		@Helpers.DraftIcon(album)
		@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames })
		(added @album.CreateDate).		
		<br />
		<span class="extraInfo">@album.ArtistString</span>
	</li>
}
</ul>