@using VocaDb.Model.Helpers
@using VocaDb.Web.Helpers;
@using R = ViewRes.Artist;
@model VocaDb.Web.Models.Artist.Create

@{
	ViewBag.Title = R.CreateStrings.AddArtist;
	ViewBag.Parents = new[] { 
		Html.ActionLink(ViewRes.SharedStrings.Artists, "Index")
	};	
}

@using (Html.BeginForm("Create", "Artist", FormMethod.Post, new { enctype = "multipart/form-data" })) {

	@Helpers.ValidationSymmaryPanel(R.CreateStrings.UnableToCreateArtist);
	
	@Helpers.NotificationPanel(R.CreateStrings.ArtistInfo)

	<div>
		<table><tr><td class="alignTop">

			<div class="editor-label">
				@R.CreateStrings.Name
			</div>

			<div class="editor-field">
				@Html.ValidationMessage("Names")

				<table><tr><td class="formLabel">				
				@Html.LabelFor(m => m.NameOriginal)
				</td><td>
				@Html.TextBoxFor(m => m.NameOriginal, new { id = "nameOriginal", @class = "nameField span12", maxlength = 255, size = 40 })<br />
				@Html.ValidationMessageFor(m => m.NameOriginal)
				</td></tr>

				<tr><td class="formLabel">
				@Html.LabelFor(m => m.NameRomaji)
				</td><td>
				@Html.TextBoxFor(m => m.NameRomaji, new { id = "nameRomaji", @class = "nameField span12", maxlength = 255, size = 40 })<br />
				@Html.ValidationMessageFor(m => m.NameRomaji)
				</td></tr>
					
				<tr><td class="formLabel">
				@Html.LabelFor(m => m.NameEnglish)
				</td><td>
				@Html.TextBoxFor(m => m.NameEnglish, new { id = "nameEnglish", @class = "nameField span12", maxlength = 255, size = 40 })<br />
				@Html.ValidationMessageFor(m => m.NameEnglish)
				</td></tr></table>
			</div>

			<div id="duplicateEntryWarning" style="display:none">
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.ArtistType)
			</div>
			<div class="editor-field">
				@Html.ArtistTypeDropDownListFor(m => m.ArtistType)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Description)
			</div>
			<div class="editor-field">
				@Html.TextAreaFor(m => m.Description, 7, 70, new { @class = "span12" })<br />
			</div>

			<div class="editor-label">
				@R.CreateStrings.ExternalLink
			</div>
			<div class="editor-field">
				<table>
					<tr><td class="formLabel">
						@R.CreateStrings.WebLinkURL *
					</td><td>
					@Html.TextBoxFor(m => m.WebLinkUrl, new { id = "webLinkUrl", maxlength = 512, size = 40, @class = "span12 webLinkUrl" })<br />
					@Html.ValidationMessageFor(m => m.WebLinkUrl)
					</td></tr>
					
					<tr><td class="formLabel">				
						@R.CreateStrings.WebLinkDescription @R.CreateStrings.Optional
					</td><td>
						@Html.TextBoxFor(m => m.WebLinkDescription, new { id = "webLinkDesc", maxlength = 512, size = 40, @class = "span12 webLinkDescription" })
					</td></tr>
				</table>
			</div>
            
			<div class="editor-label">
				@R.CreateStrings.Picture
			</div>
			<div class="editor-field">
				<p>@string.Format(ViewRes.EntryCreateStrings.PictureInfo, string.Join(", ", ImageHelper.AllowedExtensions), ImageHelper.MaxImageSizeMB)</p>
				<input type="file" id="pictureUpload" name="pictureUpload" />					
			</div>

			<p>
				<label class="checkbox inline">					
					@Html.CheckBoxFor(m => m.Draft)
					@R.CreateStrings.Draft
				</label>
			</p>

		</td><td class="alignTop" style="max-width: 250px">
			@using (Html.BeginPanel()) {
				<p>@R.CreateStrings.NameHelp</p>
			}
		</td></tr></table>
		
		<br />
		<button type="submit" class="btn btn-primary">@ViewRes.SharedStrings.Save</button>

	</div>	
	
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Artist/Create.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		initPage();
	});

</script>