@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@model ArtistDetailsContract

@{
	ViewBag.Title = "Artist details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Artists", "Index") };
}

@if (VocaDb.Web.ViewExtension.LoggedUser(this).HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.ManageArtists)) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id });
}

<h3>Basic info</h3>
<table>
	<tr>
		<td rowspan="5">
			<img src="@Url.Action("Picture", new { id = Model.Id })" alt="Artist picture" class="coverPic" />
		</td>
		<td>Name</td>
		<td>
			@Model.Name<br />
			<span class="extraInfo">@Model.AdditionalNames</span>
		</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>
			@Model.Description<br />
		</td>	
	</tr>
	<tr>
		<td>Type</td>
		<td>
			@Model.ArtistType<br />
		</td>	
	</tr>
	<tr>
		<td>Links</td>
		<td>
			@foreach (var link in Model.WebLinks) {
				<a href='@link.Url'>@link.DescriptionOrUrl</a><br />
			}
		</td>	
	</tr>
@if (Model.Circle != null) {
	<tr>
		<td>Circle</td>
		<td>@Html.ActionLink(Model.Circle.Name, "Details", new { id = Model.Circle.Id }, null)</td>
	</tr>
}
</table>
	

@if (Model.Members.Any()) {
<h3>Members</h3>
<ul>
	@foreach (var member in Model.Members) {
		<li>@Html.ActionLink(member.Name, "Details", new { id = member.Id }, null)</li>
	}
</ul>
}

@if (Model.Albums.Any()) {
<h3>Albums</h3>
<ul>
	@foreach (var album in Model.Albums) {
		<li>@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, null)</li>
	}
</ul>
}