@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Helpers;
@model ArtistDetailsContract

@{
	ViewBag.Title = ViewRes.Artist.DetailsStrings.ArtistDetails + " - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink(ViewRes.SharedStrings.Artists, "Index") };
}

@section Toolbar {
@if (Login.Manager.IsLoggedIn) {
	<a href="#" id="addToUserLink" style="@(Model.IsAdded ? "display: none;" : "")">@ViewRes.Artist.DetailsStrings.Follow</a>
	<a href="#" id="removeFromUserLink" style="@(Model.IsAdded ? "" : "display: none;")">@ViewRes.Artist.DetailsStrings.Unfollow</a>
}

@if (Login.CanEdit(Model)) {
	@Html.ActionLink(@ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Id }, new { id = "editArtistLink" });
}

@Html.ActionLink(ViewRes.EntryDetailsStrings.ViewModifications, "Versions", new { id = Model.Id }, new { id = "viewVersions" })

@Helpers.EntryStatusMessage(Model.Status)
}

@if (Model.Deleted) {
	@Helpers.NotificationPanel(Resources.CommonMessages.EntryDeleted)
}

@if (Model.Draft && !Model.Deleted) {
	@Helpers.DraftMessage("glproducers")
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">@ViewRes.EntryDetailsStrings.BasicInfoTab</a></li>
		<li><a href="@Url.Action("Comments", "Artist", new { id = Model.Id })" title="Discussion">@ViewRes.EntryDetailsStrings.DiscussionTab (@Model.CommentCount)</a></li>
		<li><a href="@Url.Action("Albums", "Artist", new { id = Model.Id })" title="All albums"><span>@ViewRes.Artist.DetailsStrings.AllAlbums</span></a></li>
		<li><a href="@Url.Action("Songs", "Artist", new { id = Model.Id })" title="All songs"><span>@ViewRes.Artist.DetailsStrings.AllSongs</span></a></li>
	</ul>

	<div id="basicInfoTab">

		<table>
			<tr>
				<td rowspan="7">
					<a href="@Url.Action("Picture", new { id = Model.Id })">
						<img src="@Url.Action("PictureThumb", new { id = Model.Id })" alt="@ViewRes.Artist.DetailsStrings.ArtistPicture" class="coverPic" />
					</a>
				</td>
				<td>@ViewRes.SharedStrings.Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>
			</tr>
		@if (!string.IsNullOrEmpty(Model.Description)) {
			<tr>
				<td>@ViewRes.SharedStrings.Description</td>
				<td>
					@Helpers.ConvertNewlinesToBreaks(Model.Description)
				</td>	
			</tr>
		}
			<tr>
				<td>@ViewRes.SharedStrings.Type</td>
				<td>
					@Html.ActionLink(Translate.ArtistTypeName(Model.ArtistType), "Index", new { artistType = Model.ArtistType })<br />
				</td>	
			</tr>

			<tr>
				<td>@ViewRes.SharedStrings.Tags</td>
				<td>
					<span id="tagList">
						@{ Html.RenderPartial("TagList", Model.Tags); }
					</span>
					@if (Login.Manager.IsLoggedIn) {
						<a href="#" id="editTags">@ViewRes.EntryDetailsStrings.EditTags</a>
					}				
				</td>
			</tr>


			@if (Model.WebLinks.Any()) {
			<tr>
				<td>@ViewRes.EntryDetailsStrings.ExternalLinks</td>
				<td>
					@foreach (var link in Model.WebLinks) {
						<a href='@link.Url'>@link.DescriptionOrUrl</a><br />
					}
				</td>	
			</tr>
	   
			<tr>
				<td>@ViewRes.EntryDetailsStrings.AdditionDate</td>
				<td>
					@Model.CreateDate
				</td>	
			</tr>	   
   }
		@if (Model.Groups.Any()) {
			<tr>
				<td>@ViewRes.Artist.DetailsStrings.Groups</td>
				<td>@Html.LinkList(Model.Groups, grp => Html.ActionLink(grp.Group.Name, "Details", new { id = grp.Group.Id }, new { title = grp.Group.AdditionalNames }))</td>
			</tr>
  }
		</table>
	

		@if (Model.Members.Any()) {
		<h3>@ViewRes.Artist.DetailsStrings.Members</h3>
		<ul>
			@foreach (var member in Model.Members) {
				<li>@Html.ActionLink(member.Member.Name, "Details", new { id = member.Member.Id }, new { title = member.Member.AdditionalNames })</li>
   }
		</ul>
  }

		@if (Model.LatestAlbums.Any()) {
		<h3>@ViewRes.Artist.DetailsStrings.RecentAlbums</h3>
		<ul>
			@ArtistHelpers.Albums(Model.LatestAlbums)
		</ul>
  }

		@if (Model.LatestSongs.Any()) {
		<h3>@ViewRes.Artist.DetailsStrings.RecentSongs</h3>
		<ul>
			@ArtistHelpers.Songs(Model.LatestSongs)
		</ul>	
  }

		<h3>@ViewRes.EntryDetailsStrings.LatestComments</h3>
		
		@if (Model.LatestComments.Any()) {

	  foreach (var comment in Model.LatestComments) {
				@Helpers.PrintComment(comment, false);
	  }

  } else {
	  
			<p>@ViewRes.EntryDetailsStrings.NoComments</p>
	  
  }
		
		<p>
			<a href="#" id="viewCommentsLink">@ViewRes.EntryDetailsStrings.ViewAllComments</a>
		</p>

	</div>

	<div id="Discussion">
	</div>

	<div id="All_albums">
	</div>

	<div id="All_songs">
	</div>

</div>

<div id="editTagsPopup" style="display:none;" title="@ViewRes.SharedStrings.Tags">

	<input type="hidden" id="editTagsArtistId" />

	<div id="editTagsContent"></div>

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/DiscussionTab.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Artist/Details.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id, "@ViewRes.SharedStrings.Save");
	});

</script>