@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Helpers;
@model ArtistDetailsContract

@{
	ViewBag.Title = "Artist details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Artists", "Index") };
}

@if (VocaDb.Web.Helpers.Login.CanManageDb) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id });
}

<h3>Basic info</h3>
<table>
	<tr>
		<td rowspan="5">
			<img src="@Url.Action("PictureThumb", new { id = Model.Id })" alt="Artist picture" class="coverPic" />
		</td>
		<td>Name</td>
		<td>
			@Model.Name<br />
			<span class="extraInfo">@Model.AdditionalNames</span>
		</td>
	</tr>
@if (!string.IsNullOrEmpty(Model.Description)) {
	<tr>
		<td>Description</td>
		<td>
			@Model.Description<br />
		</td>	
	</tr>
}
	<tr>
		<td>Type</td>
		<td>
			@Translate.ArtistTypeName(Model.ArtistType)<br />
		</td>	
	</tr>
@if (Model.WebLinks.Any()) {
	<tr>
		<td>Links</td>
		<td>
			@foreach (var link in Model.WebLinks) {
				<a href='@link.Url'>@link.DescriptionOrUrl</a><br />
			}
		</td>	
	</tr>
}
@if (Model.Groups.Any()) {
	<tr>
		<td>Circles and labels</td>
		<td>@Html.LinkList(Model.Groups, grp => Html.ActionLink(grp.Group.Name, "Details", new { id = grp.Group.Id }, new { title = grp.Group.AdditionalNames })</td>
	</tr>
}
</table>
	

@if (Model.Members.Any()) {
<h3>Members</h3>
<ul>
	@foreach (var member in Model.Members) {
		<li>@Html.ActionLink(member.Member.Name, "Details", new { id = member.Id }, new { title = member.Member.AdditionalNames })</li>
	}
</ul>
}

@if (Model.AlbumLinks.Any()) {
<h3>Recently added albums</h3>
<ul>
	@foreach (var album in Model.AlbumLinks) {
		<li>@Html.ActionLink(album.Album.Name, "Details", "Album", new { id = album.Album.Id }, new { title = album.Album.AdditionalNames })</li>
	}
</ul>
}

@if (Model.LatestSongs.Any()) {
<h3>Recently added songs</h3>
<ul>
	@foreach (var song in Model.LatestSongs) {
		<li>@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })</li>
 }
</ul>	
}