@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Helpers;
@model ArtistDetailsContract

@{
	ViewBag.Title = "Artist details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Artists", "Index") };
}

@section Toolbar {
@if (VocaDb.Web.Helpers.Login.CanManageDb) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { id = "editArtistLink" });
}

@Html.ActionLink("View modifications", "Versions", new { id = Model.Id }, new { id = "viewVersions" })
}

@if (Model.Deleted) {
	Helpers.NotificationPanel("This entry has been deleted. It is still temporarily accessible, but won't show up in any of the listings.");
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">Basic info</a></li>
		<li><a href="@Url.Action("Comments", "Artist", new { id = Model.Id })" title="Discussion">Discussion</a></li>
		<li><a href="@Url.Action("Albums", "Artist", new { id = Model.Id })" title="All albums"><span>All albums</span></a></li>
		<li><a href="@Url.Action("Songs", "Artist", new { id = Model.Id })" title="All songs"><span>All songs</span></a></li>
	</ul>

	<div id="basicInfoTab">

		<table>
			<tr>
				<td rowspan="5">
					<a href="@Url.Action("Picture", new { id = Model.Id })">
						<img src="@Url.Action("PictureThumb", new { id = Model.Id })" alt="Artist picture" class="coverPic" />
					</a>
				</td>
				<td>Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>
			</tr>
		@if (!string.IsNullOrEmpty(Model.Description)) {
			<tr>
				<td>Description</td>
				<td>
					@Helpers.ConvertNewlinesToBreaks(Model.Description)
				</td>	
			</tr>
		}
			<tr>
				<td>Type</td>
				<td>
					@Translate.ArtistTypeName(Model.ArtistType)<br />
				</td>	
			</tr>
		@if (Model.WebLinks.Any()) {
			<tr>
				<td>Links</td>
				<td>
					@foreach (var link in Model.WebLinks) {
						<a href='@link.Url'>@link.DescriptionOrUrl</a><br />
					}
				</td>	
			</tr>
		}
		@if (Model.Groups.Any()) {
			<tr>
				<td>Circles and labels</td>
				<td>@Html.LinkList(Model.Groups, grp => Html.ActionLink(grp.Group.Name, "Details", new { id = grp.Group.Id }, new { title = grp.Group.AdditionalNames }))</td>
			</tr>
		}
		</table>
	

		@if (Model.Members.Any()) {
		<h3>Members</h3>
		<ul>
			@foreach (var member in Model.Members) {
				<li>@Html.ActionLink(member.Member.Name, "Details", new { id = member.Member.Id }, new { title = member.Member.AdditionalNames })</li>
			}
		</ul>
		}

		@if (Model.LatestAlbums.Any()) {
		<h3>Recently added albums</h3>
		<ul>
			@{ Html.RenderPartial("Albums", Model.LatestAlbums); }  
		</ul>
		}

		@if (Model.LatestSongs.Any()) {
		<h3>Recently added songs</h3>
		<ul>
			@{ Html.RenderPartial("Songs", Model.LatestSongs); }  
		</ul>	
		}
	</div>

	<div id="Discussion">
	</div>

	<div id="All_albums">
	</div>

	<div id="All_songs">
	</div>

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/DiscussionTab.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Artist/Details.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id);
	});

</script>