@using VocaDb.Web.Helpers;
@using VocaDb.Model.Domain.Artists;
@model  VocaDb.Web.Models.ArtistEdit
@{
	ViewBag.Title = "Edit artist - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Artists", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

@section Toolbar {
@if (Login.CanDeleteEntries) {
	@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { id = "deleteLink", onclick = "return confirm(\"Are you sure you want to delete this artist?\");" })
}
@if (Login.CanMergeEntries) {
	@Html.ActionLink("Merge", "Merge", new { id = Model.Id }, new { id = "mergeLink" })
}
}

@Helpers.ValidationSymmaryPanel("Unable to save")

@using (Html.BeginForm("EditBasicDetails", "Artist", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Name)

	<p>
		<input type="submit" value="Save changes" />
	</p>
	
	<div id="tabs">

		<ul>
			<li><a href="#basicInfoTab">Basic info</a></li>
			<li><a href="#discoTab">Discography</a></li>
		</ul>

		<div id="basicInfoTab">
			<div>
				<div class="editor-label">
					@Html.LabelFor(m => m.DefaultLanguageSelection)
				</div>
				<div class="editor-field">
					@Html.LanguageSelectionDropDownListFor(m => m.DefaultLanguageSelection)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.Names)
				</div>
				<div class="editor-field">
					<table>
						<tr>
							<th>Name *</th>
							<th>Language</th>
							<th>Actions</th>
						</tr>
						@foreach (var name in Model.Names) {
							  Html.RenderPartial("LocalizedStringEditableRow", name);
						  }

						@{ Html.RenderPartial("LocalizedStringNewRow"); }
					</table>
				</div>

				<div class="editor-label">
					<label>Picture</label>
				</div>
				<div class="editor-field">
					<table>
						<tr>
							<td>
								<img src="@Url.Action("PictureThumb", new { id = Model.Id })" alt="Artist picture" class="coverPic" />					
							</td><td>
								<p>Allowed types: @string.Join(", ", VocaDb.Model.Helpers.ImageHelper.AllowedExtensions) . Maximum size is 5 MB.</p>
								<input type="file" id="pictureUpload" name="pictureUpload" />					
							</td>
						</tr>
					</table>
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.Description)
				</div>
				<div class="editor-field">
					@Html.TextAreaFor(m => m.Description, 7, 70, null)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.ArtistType)
				</div>
				<div class="editor-field">
					@Html.DropDownListFor(m => m.ArtistType, new SelectList(Model.AllArtistTypes, "Key", "Value"))
				</div>

				@if (Model.ArtistType != ArtistType.Circle && Model.ArtistType != ArtistType.Label) {
					<table>
						<tr><td>
							@Html.LabelFor(m => m.Groups)
						</td><td>
							<table>
								@foreach (var grp in Model.Groups) {
									Html.RenderPartial("GroupForArtistEditRow", grp);
								}
								<tr id="groupRow_new">
									<td>
										@Html.DropDownList("groupAddGroup", new SelectList(Model.AllCircles, "Key", "Value"), new { id = "groupAddGroup" })
									</td>
									<td>
										<input type="button" id="groupAddBtn" value="Add" />
									</td>
								</tr>
							</table>
						</td>
					</tr></table>
				}
			
				<div class="editor-label">
					@Html.LabelFor(m => m.WebLinks)
				</div>
				<div class="editor-field">
					<table>
						<tr>
							<th>Description</th>
							<th>URL *</th>
							<th>Actions</th>
						</tr>
						@foreach (var webLink in Model.WebLinks) {
							  Html.RenderPartial("WebLinkEditRow", webLink);
						  }
						@{ Html.RenderPartial("WebLinkCreateRow"); }
					</table>
				</div>

			</div>
		</div>

		<div id="discoTab">
			<table>
			@foreach (var album in Model.AlbumLinks) {
			   Html.RenderPartial("ArtistForAlbumRow", album);
		   }
			<tr id="albumRow_new">
				<td>
					<input type="text" maxlength="128" id="albumAddName" /><br />
					<select id="albumAddList" size="5" />
				</td>
				<td>
					<input type="button" id="albumAddBtn" value="Add" />
				</td>
			</tr>
			</table>
		</div>

	</div>
	
	<p>
		<input type="submit" value="Save changes" />
	</p>

}

<script type="text/javascript" src="@Url.Content("~/Scripts/Artist/Edit.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>
