@using VocaDb.Web.Helpers;
@using VocaDb.Model;
@using VocaDb.Web.Models;
@using VocaDb.Model.Domain.Artists;
@using VocaDb.Model.DataContracts.Artists;
@using PagedList.Mvc;
@using PagedList;
@model ArtistIndex
@{
	ViewBag.Title = "Artists";
}

@section Toolbar {
@if (Login.CanManageDb) {
	@Html.ActionLink("Add an artist", "Create", null, new { id = "createLink" })
}
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@if (Model.DraftsOnly) {
	@Helpers.NotificationPanel(Resources.CommonMessages.Drafts)
}

@using (Html.BeginForm("Index", "Artist")) {
	
<p>
	Filter: @Html.TextBoxFor(m => m.Filter, new { size = 30 }) 
	&nbsp; 
	@Html.DropDownListFor(a => a.ArtistType, new SelectList(Model.FilterableArtistTypes, "Key", "Value", Model.ArtistType))
	&nbsp;
	@Html.CheckBoxFor(m => m.DraftsOnly)
	@Html.LabelFor(m => m.DraftsOnly)
	<button type="submit" class="textLink searchLink">Apply</button>
</p>

if (Model.Artists.Any()) {
	
<p>Entries found: @Model.Artists.TotalItemCount</p>
	
@Html.PagedListPager(Model.Artists, page => Url.Action("Index", new { page, filter = Model.Filter, artistType = Model.ArtistType, draftsOnly = Model.DraftsOnly }))

<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Actions</th>
	</tr>
@foreach (var artist in Model.Artists) {
	<tr>
		<td>
			@Helpers.DraftIcon(artist.Status)
			@Html.ActionLink(artist.Name, "Details", new { id = artist.Id })<br />
			<span class="extraInfo">@artist.AdditionalNames</span>
		</td>
		<td>
			@Translate.ArtistTypeName(artist.ArtistType)
		</td>
		<td>
			@if (Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = artist.Id })
   }
		</td>
	</tr>
}
</table>
	
@Html.PagedListPager(Model.Artists, page => Url.Action("Index", new { page, filter = Model.Filter, artistType = Model.ArtistType, draftsOnly = Model.DraftsOnly }))
}

if (!Model.Artists.Any()) {

	<p>No results! Try a different query or Google custom search.</p>
	@Helpers.GoogleSiteSearch()

}
}


<script type="text/javascript">

	$(document).ready(function () {
		$("#createLink").button({ icons: { primary: 'ui-icon-plusthick'} });		
	});

</script>