@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Artists;
@using PagedList.Mvc;
@using PagedList;
@{
	ViewBag.Title = "Artists";
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm()) {
	
<p>Filter: @Html.TextBox("filter") &nbsp; <input type="submit" value="Apply" /></p>

@Html.PagedListPager((IPagedList)ViewBag.Artists, page => Url.Action("Index", new { page, filter = ViewBag.Filter }))

<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Actions</th>
	</tr>
@foreach (ArtistWithAdditionalNamesContract artist in ViewBag.Artists) {
	<tr>
		<td>
			@Html.ActionLink(artist.Name, "Details", new { id = artist.Id })<br />
			<span class="extraInfo">@artist.AdditionalNames</span>
		</td>
		<td>
			@artist.ArtistType
		</td>
		<td>
			@if (Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = artist.Id })
   }
		</td>
	</tr>
}
</table>
	
@Html.PagedListPager((IPagedList)ViewBag.Artists, page => Url.Action("Index", new { page, filter = ViewBag.Filter }))
}

@model VocaDb.Web.Models.ObjectCreate
@if (Login.CanManageDb) {
	using (Html.BeginForm("Create", "Artist")) {
	
    <div>
        <fieldset>
            <div class="editor-label">
                Name:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>			
			<input type="submit" value="Create" />
		</fieldset>
	</div>
	}
}