@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Artist;
@using PagedList.Mvc;
@using R = ViewRes.Artist.IndexStrings;
@model ArtistIndex
@{
	ViewBag.Title = @ViewRes.SharedStrings.Artists;
}

@section Toolbar {
	@Html.ActionLink(ViewRes.Artist.IndexStrings.AddArtist, "Create", null, new { id = "createLink", @class = (Login.CanManageDb ? "" : "disabled") })
}

<div class="row-fluid">
	
	<div class="span3">
		<form>
			<div>
				@ViewRes.EntryIndexStrings.SortBy
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">@Translate.ArtistSortRuleNames[Model.Sort]
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						@foreach (var sortRule in Translate.ArtistSortRuleNames.ValuesAndNames) {
							<li>@Html.ActionLink(sortRule.Value, "Index", new IndexRouteParams(Model.RouteParams, null) { sort = sortRule.Key })</li>
						}
					</ul>
				</div>
			</div>
		</form>
	</div>

</div>

@using (Html.BeginForm("Index", "Artist", FormMethod.Post, new { @class = "form-inline" })) {
	@Html.HiddenFor(m => m.Sort)
	
<p>
	@ViewRes.SharedStrings.Filter: 
	@Html.TextBoxFor(m => m.Filter, new Dictionary<string, object> { { "id", "filterBox" }, { "size", 30 }, { "data-placement", "top" }, { "data-toggle", "tooltip" }, { "maxlength", 255 }, { "title", R.FilterIndexHint } }) 
	&nbsp; 
	@Html.DropDownListFor(a => a.ArtistType, new SelectList(Model.FilterableArtistTypes, "Key", "Value", Model.ArtistType))
	&nbsp;
	<label class="checkbox">
		@Html.CheckBoxFor(m => m.DraftsOnly)
		@ViewRes.EntryIndexStrings.OnlyDrafts
	</label>
	&nbsp;
	<button type="submit" class="btn btn-primary">@ViewRes.SharedStrings.Apply</button>
</p>

	if (Model.Artists.Any()) {
	
<p>@string.Format(ViewRes.SharedStrings.EntriesFound, Model.Artists.TotalItemCount)</p>
	
@Html.PagedListPager(Model.Artists, page => Url.Action("Index", Model.CreateRouteParams(page)), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)
	
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th colspan="2">@ViewRes.SharedStrings.ArtistName</th>
			<th>@ViewRes.SharedStrings.Type</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@foreach (var artist in Model.Artists) {
		<tr>
			<td>
				@ArtistHelpers.ArtistIconLink(artist)
			</td>
			<td>
				@Helpers.DraftIcon(artist.Status)
				@Html.ActionLink(artist.Name, "Details", new { id = artist.Id })<br />
				<span class="extraInfo">@artist.AdditionalNames</span>
			</td>
			<td>
				@ArtistHelpers.ArtistTypeLabel(artist.ArtistType)
				@Translate.ArtistTypeName(artist.ArtistType)
			</td>
			<td>
				@if (Login.CanEdit(artist)) {
					@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = artist.Id }, new { @class = "textLink editLink" })
	}
			</td>
		</tr>
 }
	</tbody>
</table>
	
@Html.PagedListPager(Model.Artists, page => Url.Action("Index", Model.CreateRouteParams(page)), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)
	}

	if (!Model.Artists.Any()) {

	<p>@ViewRes.EntryIndexStrings.NoResults</p>
	@Helpers.GoogleSiteSearch()

}
}


<script type="text/javascript">

	$(document).ready(function () {
		$("#createLink").button({ disabled: $("#createLink").hasClass("disabled"), icons: { primary: 'ui-icon-plusthick'} });		
		$("#filterBox").tooltip();
	});

</script>