@model VocaDb.Web.Models.MikuDbAlbums.Index
@{
	ViewBag.Title = "MikuDB albums";
}

@helper ImportedAlbumData(VocaDb.Model.DataContracts.MikuDb.ImportedAlbumDataContract album) {
	
	if (album != null) {
	<p>
		Artists: @string.Join(", ", album.ArtistNames)<br />
		Vocalists: @string.Join(", ", album.VocalistNames)<br />
		Circle: @album.CircleName<br />
		Year: @album.ReleaseYear<br />
	</p>
	}

}

@Html.ActionLink("Import new", "ImportNew")

@using (Html.BeginForm("Index", "MikuDbAlbum")) {

<p>
	Status:
	@Html.DropDownListFor(m => m.Status, new SelectList(Model.AllStatuses))
	&nbsp;
	<input type="submit" value="Apply" />
</p>
	
	<table>
		<tr>
			<th>Title</th>
			<th>Imported</th>
			<th>Data</th>
		</tr>
		@foreach (var album in Model.Albums) {
			<tr>
				<td><a href="@album.SourceUrl">@album.Title</a></td>
				<td>@album.Created</td>
				<td>@ImportedAlbumData(album.Data)</td>
			</tr>
		}
	</table>
	
}