@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.MikuDb.MikuDbAlbumContract

@helper ImportedAlbumData(VocaDb.Model.DataContracts.MikuDb.ImportedAlbumDataContract album) {
	
	if (album != null) {
		<p class="albumData">
			Artists: @string.Join(", ", album.ArtistNames)<br />
			@if (album.VocalistNames.Any()) {
				<span>Vocalists: @string.Join(", ", album.VocalistNames)<br /></span>
			}
			@if (!string.IsNullOrEmpty(album.CircleName)) {
				<span>Circle: @album.CircleName<br /></span>
			}
			@if (album.ReleaseYear != null) {
				<span>Year: @album.ReleaseYear<br /></span>
			}
		</p>
	}

}

<tr>
	@using (Html.BeginCollectionItem("albums")) {
	<td>
		@Html.HiddenFor(m => m.Id)
		@Html.CheckBoxFor(m => m.Selected)
		<a href="@Model.SourceUrl">@Model.Title</a><br />
		@Model.Created<br />
		<img src="@Url.Action("CoverPicture", new { id = Model.Id })" alt="Cover picture" class="coverPic" /><br />
		@Html.ActionLink("Skip", "SkipAlbum", new { id = Model.Id })
		@Html.ActionLink("Delete", "Delete", new { id = Model.Id })
	</td>
	<td>@ImportedAlbumData(Model.Data)</td>
	<td>
		@if (Model.Data != null && Model.Data.Tracks.Any()) {
			foreach (var track in Model.Data.Tracks) {
				@track.TrackNum<text>.&nbsp;</text>@track.Title<br />
			}
		}
	</td>
	 }
</tr>
