@using VocaDb.Web.Helpers
@using R = ViewRes.User.FavoriteSongsStrings;
@model VocaDb.Web.Models.User.FavoriteSongs

@{
    ViewBag.Title = "Rated songs for " + Model.User.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink(Model.User.Name, "Details", "User", new {id = Model.User.Id}, null)
	};	
}

<div class="row-fluid">
	
	<div class="span3">
		<form>
			<div>
				@ViewRes.EntryIndexStrings.SortBy
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">@Translate.SongSortRuleNames[Model.Sort]
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						@foreach (var sortRule in Translate.SongSortRuleNames.ValuesAndNames) {
							<li>@Html.ActionLink(sortRule.Value, "FavoriteSongs", new { id = Model.User.Id, rating = Model.Rating, sort = sortRule.Key, groupByRating = Model.GroupByRating })</li>
						}
					</ul>
				</div>
			</div>
		</form>
	</div>

</div>

@using (Html.BeginForm("FavoriteSongs", "User", new { id = Model.User.Id }, FormMethod.Post, new { @class = "form-inline" })) {
	@Html.HiddenFor(m => m.Sort)

	<label class="checkbox inline">
		@Html.CheckBoxFor(m => m.GroupByRating)
		@R.GroupByRating
	</label>

	<button type="submit" class="btn btn-primary">@ViewRes.SharedStrings.Apply</button>
}


<div id="ui-tabs-3">
@{ Html.RenderAction("FavoriteSongsPaged", new { id = Model.User.Id, rating = Model.Rating, sort = Model.Sort }); }
</div>

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pager.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}