@using Microsoft.Web.Helpers;
@model VocaDb.Web.Models.User.ForgotPassword
@{
	ViewBag.Title = "Request password reset";
}

@Helpers.ValidationSymmaryPanel("Unable to process request")

@using (Html.BeginForm()) {
	
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(m => m.Username)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Username)<br />
			@Html.ValidationMessageFor(m => m.Username)
		</div>
	
		<div class="editor-label">
			@Html.LabelFor(m => m.Email)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Email)<br />
			@Html.ValidationMessageFor(m => m.Email)
		</div>

		<div class="editor-label">
			CAPTCHA
		</div>
		<div class="editor-field">
			@ReCaptcha.GetHtml(publicKey: "6LcXm8kSAAAAAF1vG6IH1la0Dt1-dKKcethSJhzo")

			@Html.ValidationMessage("CAPTCHA")
		</div>
		
		<br />
		<p>
			<button type="submit" class="btn btn-primary">Send</button>
		</p>
	</fieldset>

}