@using VocaDb.Web.Helpers;
@using R = ViewRes.Home;
@model VocaDb.Model.DataContracts.UseCases.FrontPageContract

@{
	ViewBag.DisplaySocialLinks = true;
}

<h3>@ViewRes.Home.IndexStrings.Welcome</h3>

<table>
	<tr>
		<td class="alignTop">
			<h4>@R.IndexStrings.NewAlbums</h4>
			@AlbumHelpers.AlbumList(Model.NewAlbums, false, true)
		</td>
		<td class="alignTop">
			<h4>@R.IndexStrings.TopAlbums</h4>
			@AlbumHelpers.AlbumList(Model.TopAlbums, false, true)
		</td>
	</tr>
</table>

<h4>@ViewRes.Home.IndexStrings.News @Html.ActionLink(ViewRes.Home.IndexStrings.ViewAll, "Index", "NewsEntry")</h4>

@foreach (var entry in Model.NewsEntries) {
	@ActivityfeedHelpers.NewsEntry(entry);
}

<h4>@ViewRes.Home.IndexStrings.RecentActivity @Html.ActionLink(ViewRes.Home.IndexStrings.ViewMore, "Index", "ActivityEntry")</h4>

@foreach (var entry in Model.ActivityEntries) {
	@ActivityfeedHelpers.ActivityEntry(entry);
}

<h4>Search the whole site using Google custom search</h4>
@Helpers.GoogleSiteSearch()
