@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.UseCases.FrontPageContract

@{
	ViewBag.DisplayGPlus = true;
}

<h3>@ViewRes.IndexStrings.Welcome</h3>

<h4>@ViewRes.IndexStrings.News @Html.ActionLink(ViewRes.IndexStrings.ViewAll, "Index", "NewsEntry")</h4>

@foreach (var entry in Model.NewsEntries) {
	@ActivityfeedHelpers.NewsEntry(entry);
}

<h4>@ViewRes.IndexStrings.RecentActivity @Html.ActionLink(ViewRes.IndexStrings.ViewMore, "Index", "ActivityEntry")</h4>

@foreach (var entry in Model.ActivityEntries) {
	@ActivityfeedHelpers.ActivityEntry(entry);
}

<h4>Search the whole site using Google custom search</h4>
@Helpers.GoogleSiteSearch()
