@using VocaDb.Web.Helpers;
@using R = ViewRes.Home;
@model VocaDb.Model.DataContracts.UseCases.FrontPageContract

@{
	ViewBag.DisplaySocialLinks = true;
}

<h3>@ViewRes.Home.IndexStrings.Welcome</h3>

@if (Model.NewSongs.Any()) {
<h4>@R.IndexStrings.RecentSongs (@Html.ActionLink(ViewRes.Home.IndexStrings.ViewMore, "Index", "Song", new { sort = VocaDb.Model.Service.SongSortRule.RatingScore }, null))</h4>
    
<div class="scrollable-navi">
<a class="prev browse up"></a>
<div class="scrollable vertical" id="songs-navi">
	<div class="items">
		@for (var i = 0; i * 4 < Model.NewSongs.Length; ++i) {
		<div>
            @foreach (var song in Model.NewSongs.Skip(i * 4).Take(4)) {
                <div class="item" id="@("#songPV_" + PVHelper.PrimaryPV(song.PVs).Id)" class="alignTop">
			        <input type="hidden" class="songId" value="@song.Id" />
			        <img src="@song.ThumbUrl" alt="Cover" class="coverPicThumb" />
                    <strong class="songName">@song.Name</strong>
                    <span class="songArtists">@song.ArtistString</span>
		        </div>
            }
        </div>
        }
    </div>
</div>	
<a class="next browse down"></a>    
</div>

<div id="songPreview" class="pvViewerContent">
	<h4 class="songPreviewTitle">
		<span id="songPreviewName">
		    @Model.NewSongs.First().Name			
		</span>
        &nbsp;
        <small id="songPreviewArtists">@Model.NewSongs.First().ArtistString</small>
	</h4>
    <a class="btn btn-info" id="songLink" href="@Url.Action("Details", "Song", new { id = Model.NewSongs.First().Id })">@R.IndexStrings.ViewSongInfo</a>
	<div id="songPVPlayer">
	@Helpers.EmbedPV(PVHelper.PrimaryPV(Model.NewSongs.First().PVs))
    </div>
</div>
}

<br />
<h4>@R.IndexStrings.NewAlbums (@Html.ActionLink(ViewRes.Home.IndexStrings.ViewMore, "Index", "Album", new { sort = VocaDb.Model.Service.AlbumSortRule.ReleaseDate }, null))</h4>
@AlbumHelpers.AlbumThumbs(Model.NewAlbums)

<h4>@R.IndexStrings.TopAlbums (@Html.ActionLink(ViewRes.Home.IndexStrings.ViewMore, "Index", "Album", new { sort = VocaDb.Model.Service.AlbumSortRule.RatingAverage }, null))</h4>
@AlbumHelpers.AlbumThumbs(Model.TopAlbums)

<br />
<h4>@ViewRes.Home.IndexStrings.News (@Html.ActionLink(ViewRes.Home.IndexStrings.ViewAll, "Index", "NewsEntry"))</h4>

@foreach (var entry in Model.NewsEntries) {
	@ActivityfeedHelpers.NewsEntry(entry);
}

<br />
<h4>@ViewRes.Home.IndexStrings.RecentActivity (@Html.ActionLink(ViewRes.Home.IndexStrings.ViewMore, "Index", "ActivityEntry"))</h4>

@foreach (var entry in Model.ActivityEntries) {
	@ActivityfeedHelpers.ActivityEntry(entry);
}

<br />
<h4>@R.IndexStrings.SearchSite</h4>
@Helpers.GoogleSiteSearch()

@section BodyScripts {
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Home/Index.js")"></script>

}