@using VocaDb.Web.Helpers;

<h3>Welcome to the Vocaloid Database!</h3>

@Helpers.NotificationPanel("This site is currently in beta testing. Short downtimes and small bugs are to be expected.")

<table>
	<tr>
		<td class="recentAlbums">
			<h3>Recently added albums</h3>
			<ul>
			@foreach (VocaDb.Model.DataContracts.Albums.AlbumWithAdditionalNamesContract album in ViewBag.Albums) {
				<li>
					@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames })<br />
					<span class="extraInfo">@album.ArtistString</span>
				</li>
			}
			</ul>
		</td>
		<td class="recentSongs">
			<h3>Recently added songs</h3>
			<ul>
			@foreach (VocaDb.Model.DataContracts.Songs.SongWithAdditionalNamesContract song in ViewBag.Songs) {
				<li>
					@Html.PVServiceIcons(song.PVServices)
					@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })<br />
					<span class="extraInfo">@song.ArtistString</span>
				</li>				
			}
			</ul>		
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Search the whole site using Google custom search</h3>
			@Helpers.GoogleSiteSearch()
		</td>
	</tr>
</table>