@model VocaDb.Web.Models.Home.SearchEntries

@{
    ViewBag.Title = ViewRes.MiscStrings.Search;
}

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" })) {
	
	<p>
		@ViewRes.SharedStrings.Filter: @Html.TextBoxFor(m => m.Filter, new { size = 30 }) 
		&nbsp;
		<button type="submit" class="btn">@ViewRes.SharedStrings.Apply</button>
	</p>

}

@if (Model.Artists.Items.Any()) {

	<h3>
		@Html.ActionLink(ViewRes.SharedStrings.Artists + " (" + Model.Artists.TotalCount + ")", "Index", "Artist", new { filter = Model.Filter }, null)
	</h3>
	
	@ArtistHelpers.Artists(Model.Artists.Items)
	
}

@if (Model.Albums.Items.Any()) {

	<br />
	<h3>
		@Html.ActionLink(ViewRes.SharedStrings.Albums + " (" + Model.Albums.TotalCount + ")", "Index", "Album", new { filter = Model.Filter }, null)
	</h3>
	
	@AlbumHelpers.AlbumList(Model.Albums.Items, false, true)
	
}

@if (Model.Songs.Items.Any()) {

	<br />
	<h3>
		@Html.ActionLink(ViewRes.SharedStrings.Songs + " (" + Model.Songs.TotalCount + ")", "Index", "Song", new { filter = Model.Filter }, null)
	</h3>
	
	@SongHelpers.Songs(Model.Songs.Items)
	
}