@using System.Web.Optimization
@inherits VocaDb.Web.Code.VocaDbPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VocaDB Search 2.0 ALPHA</title>
</head>
<body style="padding-top: 50px">
	<div class="rightFrame container-fluid" style="min-height: 1000px; width: 90%; margin-left: auto; margin-right: auto;">
		<div class="row-fluid">
			<div class="span12">

				<br /><br />

				<ul class="nav nav-pills">
					<li data-bind="css: { active: searchType() == 'Anything' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Anything'); }">Anything</a>
					</li>
					<li data-bind="css: { active: searchType() == 'Artist' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Artist'); }">Artists</a>
					</li>
					<li data-bind="css: { active: searchType() == 'Album' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Album'); }">Albums</a>
					</li>
					<li data-bind="css: { active: searchType() == 'Song' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Song'); }">Songs</a>
					</li>
				</ul>


				<div id="anythingSearchTab" class="form-horizontal">
					<div class="control-label">Query</div>
					<div class="control-group">
						<div class="controls">
							<input type="text" data-bind="value: searchTerm, valueUpdate: 'afterkeydown'" class="input-xlarge" />
							&nbsp;
							<button class="btn" data-bind="click: function() { showAdvancedFilters(!showAdvancedFilters()); }, css: { active: showAdvancedFilters }">
								More filters
								<span class="caret"></span>
							</button>
						</div>
					</div>

					<div data-bind="visible: showAdvancedFilters" style="display: none;">
						<div class="control-group">
							<div class="control-label">Tag</div>
							<div class="controls">
								<div class="input-append">
									@KnockoutHelpers.LockingAutoComplete("tagAutoComplete", "tag")
								</div>
							</div>
						</div>

						<div class="control-group" data-bind="visible: showArtistSearch, with: artistSearchViewModel">
							<div class="control-label">Artist type</div>
							<div class="controls">
								@ArtistHelpers.ArtistTypesDropdownKnockout("artistType")
							</div>
						</div>
					</div>
				</div>

				@{ Html.RenderPartial("Partials/_AnythingSearchList"); }

				@{ Html.RenderPartial("Partials/_ArtistSearchList"); }

				@{ Html.RenderPartial("Partials/_AlbumSearchList"); }

				@{ Html.RenderPartial("Partials/_SongSearchList"); }

			</div>

		</div>
	</div>

	<!-- Footer -->
	<span class="about-disclaimer">Background illustration by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=34786809">みゆ</a> | <a href="https://code.google.com/p/vocadb/">Other credits</a></span>

	<!-- Scripts -->
	<link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
	@Styles.Render("~/Content/css")
	<link href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.10.1.custom.min.css")" rel="stylesheet" type="text/css" />
	@{ Html.RenderPartial("Partials/_LayoutScripts"); }
	@Scripts.Render("~/bundles/Home/Search")

	<script type="text/javascript">

		$(document).ready(function () {

			var cultureCode = '@UICulture';
			var resourceRepo = new vdb.repositories.ResourceRepository('@RootPath');
			var entryRepo = new vdb.repositories.EntryRepository('@RootPath');
			var artistRepo = new vdb.repositories.ArtistRepository('@RootPath');
			var albumRepo = new vdb.repositories.AlbumRepository('@RootPath');
			var songRepo = new vdb.repositories.SongRepository('@RootPath');
			var vm = new vdb.viewModels.SearchViewModel(entryRepo, artistRepo, albumRepo, songRepo, resourceRepo, cultureCode);
			ko.applyBindings(vm);

		});

	</script>

</body>
</html>
