@using System.Web.Optimization
@using VocaDb.Web.Helpers
@inherits VocaDb.Web.Code.VocaDbPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>@BrandableStrings.Layout.SiteTitle</title>
	<meta name="keywords" content="Vocaloid, VocaDB, Vocaloid database, Hatsune Miku" />
	<meta name="og:image" content="@ViewContext.Controller.ViewBag.Banner" />
	<link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />

	@{ Html.RenderPartial("Partials/_GoogleAnalytics"); }
</head>
<body style="padding-top: 50px">

	<div data-bind="stopBinding: true" class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div id="topBar" class="container">
				<div class="brand">@Html.ActionLink(BrandableStrings.Layout.SiteName, "Index", "Home")</div>
				@{ Html.RenderPartial("GlobalSearchBox", new VocaDb.Web.Models.GlobalSearchBoxModel()); }
			</div>
		</div>
	</div>	

	<div class="rightFrame container-fluid" style="min-height: 1000px; width: 90%; margin-left: auto; margin-right: auto;">
		<div class="row-fluid">
			<div class="span12" style="display: none;" data-bind="visible: true">

				<br /><br />

				<ul class="nav nav-pills">
					<li data-bind="css: { active: searchType() == 'Anything' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Anything'); }">Anything</a>
					</li>
					<li data-bind="css: { active: searchType() == 'Artist' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Artist'); }">Artists</a>
					</li>
					<li data-bind="css: { active: searchType() == 'Album' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Album'); }">Albums</a>
					</li>
					<li data-bind="css: { active: searchType() == 'Song' }">
						<a href="#anythingSearchTab" data-bind="click: function() { searchType('Song'); }">Songs</a>
					</li>
				</ul>


				<div id="anythingSearchTab" class="form-horizontal">
					<div class="control-label">Query</div>
					<div class="control-group">
						<div class="controls">
							<div class="input-append">
								<input type="text" data-bind="value: searchTerm, valueUpdate: 'afterkeydown'" class="input-xlarge" />
								<button class="btn btn-danger" data-bind="click: function() { searchTerm(''); }, visible: searchTerm">Clear</button>
								&nbsp;
							</div>
							<button class="btn" data-bind="click: function() { showAdvancedFilters(!showAdvancedFilters()); }, css: { active: showAdvancedFilters }">
								More filters
								<span class="caret"></span>
							</button>
						</div>
					</div>

					<div data-bind="visible: showAdvancedFilters" style="display: none;">
						<div class="control-group">
							<div class="control-label">Tag</div>
							<div class="controls">
								<div class="input-append">
									@KnockoutHelpers.LockingAutoComplete("tagAutoComplete", "tag")
								</div>
							</div>
						</div>

						<div class="control-group" data-bind="visible: showArtistSearch, with: artistSearchViewModel">
							<div class="control-label">Artist type</div>
							<div class="controls">
								@ArtistHelpers.ArtistTypesDropdownKnockout("artistType")
							</div>
						</div>

						<div data-bind="visible: showAlbumSearch, with: albumSearchViewModel">
							<div class="control-group">
								<div class="control-label">Album type</div>
								<div class="controls">
									@AlbumHelpers.DiscTypesDropdownKnockout("albumType")
								</div>
							</div>

							<div class="control-group">
								<div class="control-label">Artist</div>
								<div class="controls">
									<div style="display: inline-block;" class="input-append">
										@KnockoutHelpers.LockingAutoComplete("artistAutoComplete", "artistSearchParams", textBinding: "artistName", valBinding: "artistId")
									</div>
									<!-- ko if: artistId -->
									@AlbumHelpers.ArtistAlbumParticipationStatusOptionsKnockout("artistParticipationStatus")
									<!-- /ko -->
								</div>
							</div>

						</div>

						<div data-bind="visible: showSongSearch, with: songSearchViewModel">
							<div class="control-group">
								<div class="control-label">Song type</div>
								<div class="controls">
									@SongHelpers.SongTypesDropdownKnockout("songType")
								</div>
							</div>

							<div class="control-group">
								<div class="control-label">Artist</div>
								<div class="controls">
									<div style="display: inline-block;" class="input-append">
										@KnockoutHelpers.LockingAutoComplete("artistAutoComplete", "artistSearchParams", textBinding: "artistName", valBinding: "artistId")
									</div>
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" data-bind="checked: pvsOnly" />
										Only with PVs
									</label>
								</div>
							</div>
						</div>

					</div>
				</div>

				@{ Html.RenderPartial("Partials/_AnythingSearchList"); }

				@{ Html.RenderPartial("Partials/_ArtistSearchList"); }

				@{ Html.RenderPartial("Partials/_AlbumSearchList"); }

				@{ Html.RenderPartial("Partials/_SongSearchList"); }

			</div>

		</div>
	</div>

	<!-- Footer -->
	<span class="about-disclaimer">Background illustration by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=34786809">みゆ</a> | <a href="https://code.google.com/p/vocadb/">Other credits</a></span>

	<!-- Scripts -->
	@Styles.Render("~/Content/css")
	<link href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.10.1.custom.min.css")" rel="stylesheet" type="text/css" />
	@{ Html.RenderPartial("Partials/_LayoutScripts"); }
	@Scripts.Render("~/bundles/Home/Search")

	<script type="text/javascript">

		$(document).ready(function () {

			var cultureCode = '@UICulture';
			var languageSelection = '@UserContext.LanguagePreference';
			var query = @Html.Raw(JsonHelpers.Serialize(ViewBag.Query));

			var resourceRepo = new vdb.repositories.ResourceRepository('@RootPath');
			var entryRepo = new vdb.repositories.EntryRepository('@RootPath');
			var artistRepo = new vdb.repositories.ArtistRepository('@RootPath');
			var albumRepo = new vdb.repositories.AlbumRepository('@RootPath');
			var songRepo = new vdb.repositories.SongRepository('@RootPath');

			var vm = new vdb.viewModels.SearchViewModel(entryRepo, artistRepo, albumRepo, songRepo, resourceRepo, languageSelection, cultureCode);
			ko.applyBindings(vm);

			if (query)
				vm.searchTerm(query);

		});

	</script>

</body>
</html>
