@using System.Web.Optimization
@using VocaDb.Web.Helpers
@using VocaDb.Model.Utils

@{
	var searchObjectType = Html.GlobalSearchObjectType();
	var searchTerm = Html.GlobalSearchTerm();	
}

@functions {

	string PageTitle {
		get {
			if (!string.IsNullOrEmpty(ViewBag.PageTitle))
				return ViewBag.PageTitle;

			return !string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : string.Empty;
		}
	}
	
}

<!DOCTYPE html>
<html>
<head>
    <title>@(!string.IsNullOrEmpty(PageTitle) ? PageTitle + " - " : "")Vocaloid Database</title>
	<meta name="description" content="VocaDB is a Vocaloid database with translated artists, albums and songs." />	
	<meta name="keywords" content="Vocaloid, VocaDB, Vocaloid database, Hatsune Miku" />
	<meta name="og:image" content="@ViewContext.Controller.ViewBag.Banner"/>

	<link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
	@Styles.Render("~/Content/css")
	<link href="@Url.Content("~/Content/Styles/Icons.css")" rel="stylesheet" type="text/css" />	
	<link href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.10.1.custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery.qtip.css")" rel="stylesheet" type="text/css" />
	<link rel="search" type="application/opensearchdescription+xml" title="VocaDB" href="/opensearch.xml" />

    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.1.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/underscore.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.qtip.min.js")" type="text/javascript"></script>
	@Scripts.Render("~/bundles/VocaDB")
	
	@RenderSection("Head", false)

	<script type="text/javascript">

		var _gaq = _gaq || [];
		var pluginUrl = 'http://www.google-analytics.com/plugins/ga/inpage_linkid.js';
		_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
		_gaq.push(['_setAccount', 'UA-26327627-1']);
		_gaq.push(['_setDomainName', 'vocadb.net']);
		_gaq.push(['_trackPageview']);
		(function () {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>

	<body style="padding-top: 50px">
		  
	    <div data-bind="stopBinding: true" class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-inner">
			    <div id="topBar" class="container">
				    <div class="brand">@Html.ActionLink("VocaDB", "Index", "Home")</div>
				    @{ Html.RenderPartial("GlobalSearchBox", new VocaDb.Web.Models.GlobalSearchBoxModel(searchObjectType, searchTerm)); }
			    </div>
		    </div>
	    </div>
	
		<div class="container-fluid">
			<div class="row-fluid">
				@{ Html.RenderPartial("Partials/_LeftMenu"); }

				<div class="span10 rightFrame well">
                    
							@if (ViewBag.Parents != null) {
		   var arr = (MvcHtmlString[])ViewBag.Parents;
								<ul class="breadcrumb">
								@foreach (var link in arr) {
									<li>
										@link 
										@if (link != arr.Last()) {
											<span class="divider">/</span>
		  }
									</li>
		}
								</ul>
	   }
                                        
							@if (!string.IsNullOrEmpty(ViewBag.Title)) {
								<h2 class="pageTitle">@ViewBag.Title
								@if (!string.IsNullOrEmpty(ViewBag.Subtitle)) {
									<small>&nbsp;@ViewBag.Subtitle</small>
		}
								</h2>
	   }
                    
                            @if (Login.Manager.LockdownEnabled) {
                                <div class="alert">
                                    @AppConfig.LockdownMessage
                                </div>
                            }

							@if (IsSectionDefined("Toolbar")) {
								<p>
									@RenderSection("Toolbar")
								</p>
	   }
				
							@if (Login.Manager.IsLoggedIn && Login.Manager.LoggedUser.HasUnreadMessages) {
								<div class="alert alert-info">
									<i class="icon-envelope"></i>
									<span>@Html.ActionLink("You have unread messages", "Messages", "User")</span>
								</div>
	                        }
		
                            <div id="messages">
                                <div class="wrapper">
                                    <div id="ajaxLoadingMessage" style="display: none;">@ViewRes.SharedStrings.Loading</div>

								    <div id="errorMessage" class="alert alert-error" style="display: none;">
									    <a class="close" data-dismiss="alert" href="#">&times;</a>
									    <span id="errorMessageString">@TempData.ErrorMessage()</span>
								    </div>

                                    <div id="successMessage" class="alert alert-success" style="display: none;">
                                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                                        <span id="successMessageString">@TempData.SuccessMessage()</span>
                                    </div>
                                    
                                    <div id="warnMessage" class="alert" style="display: none;">
                                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                                        <span id="warnMessageString">@TempData.WarnMessage()</span>
                                    </div>
                                </div>
                            </div>
                                                            		
							@if (!string.IsNullOrEmpty(TempData.StatusMessage())) {
								@Helpers.NotificationPanel(TempData.StatusMessage())
							}
		
							@RenderBody()
					
						<div id="loginPopup" title="@ViewRes._LayoutStrings.LogIn" style="display: none;">
						</div>

				</div>
			</div>  
		</div>
				
		@Scripts.Render("~/bundles/shared/common")
        <script type="text/javascript">
            
        	var baseAddress = '@Url.Content("~/")';

            // TODO: move to a controller.
        	vdb = vdb || {};
        	vdb.values = vdb.values || {};
            vdb.values.hostAddress = '@VocaDb.Model.Utils.AppConfig.HostAddress';
        	vdb.values.baseAddress = baseAddress;
        	vdb.resources = vdb.resources || {};
        	var urlMapper = new vdb.UrlMapper(baseAddress);

            vdb.resources.album = {
                addedToCollection: '@Html.Raw(AjaxRes.AlbumStrings.AddedToCollection)'
            };
            vdb.resources.shared = @ResourceHelpers.ToJSON(AjaxRes.SharedStrings.ResourceManager, true);

        	vdb.ui.initAll();

        	var entryReportRepository = new vdb.repositories.EntryReportRepository(urlMapper);
        	var entryTypeTranslations = entryTypeTranslations = @ResourceHelpers.ToJSON(Resources.EntryTypeNames.ResourceManager);
        	var topBarData = @Html.Raw(JsonHelpers.Serialize(new {
				searchObjectType = searchObjectType.ToString(), searchTerm
			}));
        	var hasUnreadMessages = @(Login.Manager.IsLoggedIn && Login.User.HasUnreadMessages ? "true" : "false");
        	var getNewReportCount = @(Login.CanManageEntryReports ? "true" : "false");
        	var topBarViewModel = new vdb.viewModels.TopBarViewModel(
        		entryTypeTranslations, topBarData.searchObjectType, topBarData.searchTerm, hasUnreadMessages, getNewReportCount, entryReportRepository);
        	ko.applyBindings(topBarViewModel, $("#topBar")[0]);

        </script>
		<span class="about-disclaimer">Background illustration by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=34786809">みゆ</a> | <a href="https://code.google.com/p/vocadb/">Other credits</a></span>
		@RenderSection("BodyScripts", false)
	</body>
</html>
