@using VocaDb.Web.Helpers
@using VocaDb.Model.Domain.Security

<!DOCTYPE html>
<html>
<head>
    <title>Vocaloid Database@(!string.IsNullOrEmpty(ViewBag.Title) ? " - " + ViewBag.Title : "")</title>
	<meta name="description" content="Vocaloid database with translated artists, albums and songs." />	
	<meta name="keywords" content="Vocaloid, VocaDB, Vocaloid database, Hatsune Miku" />

	<link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/minified/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/VocaDb.js")" type="text/javascript"></script>
	<script src="/Scripts/MicrosoftAjax.js" type="text/javascript"></script>
	<script src="/Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>

	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26327627-1']);
		_gaq.push(['_setDomainName', 'vocadb.net']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>

<body>
	<table>
		<tr>
			<td class="menu">
				<h2>VocaDB</h2>
				<ul>
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Artists", "Index", "Artist")</li>
					<li>@Html.ActionLink("Albums", "Index", "Album")</li>
					<li>@Html.ActionLink("Songs", "Index", "Song")</li>
					@if (Login.Manager.HasPermission(PermissionFlags.MikuDbImport)) {
					<li>@Html.ActionLink("MikuDbAlbum", "Index", "MikuDbAlbum")</li>		 
					}
					@if (Login.Manager.HasPermission(PermissionFlags.Admin)) {
					<li>@Html.ActionLink("Admin", "Index", "Admin")</li>
					}
					@if (!Login.Manager.IsLoggedIn) {
					<li>@Html.ActionLink("Log in", "Login", "User")</li>
					} else {
					<li>@Html.ActionLink("Log out", "Logout", "User")</li>
					}
				</ul>
				@if (Login.Manager.IsLoggedIn) {
					<p>Welcome @Html.ActionLink(Login.User.Name, "Profile", "User", new { id = Login.User.Name }, null)</p>
				}
				
				<br />
				@{ Html.RenderPartial("GlobalSearchBox", new VocaDb.Web.Models.GlobalSearchBoxModel()); }
				
				<br /><br />
				<h3>Related sites</h3>
				<ul>
					<li><a href="http://mikuchan.org">mikuchan</a></li>
					<li><a href="http://mikudb.com">MikuDB</a></li>
					<li><a href="http://vocaloidotaku.net">VocaloidOtaku</a></li>
					<li><a href="http://vocaloidism.com">Vocaloidism</a></li>
				</ul>

				<br />
				<g:plusone></g:plusone>
			</td>
			<td class="rightFrame">
				@if (ViewBag.Parents != null) {
					foreach (MvcHtmlString link in ViewBag.Parents) {
						<span>
						@link &gt;&gt;
						</span>
					}
				}
				<h2>@ViewBag.Title</h2>

				@if (IsSectionDefined("Toolbar")) {
					<p>
					@RenderSection("Toolbar")
					</p>
				}
		
				@RenderBody()
			</td>
		</tr>
	</table>  
</body>
</html>
