@model VocaDb.Web.Models.AddNewLinkRowModel

<tr id="@(Model.Prefix + "Row_new")">
	<td colspan="@Model.FirstColSpan">
		<input type="text" maxlength="128" id="@(Model.Prefix + "AddName")" /><br />
		<select id="@(Model.Prefix + "AddList")" size="5" />
	</td>
	<td>
		<input type="button" id="@(Model.Prefix + "AddBtn")" value="Add" />
	</td>
</tr>