@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.GlobalSearchBoxModel

@using (Html.BeginForm("GlobalSearch", "Home", FormMethod.Post)) {
	@Html.EnumRadioButtonListFor(m => m.ObjectType, Model.AllObjectTypes, new Dictionary<string, object> { { "class", "globalSearchEntryType" } }, Model.ObjectType)
	@Html.Raw("&nbsp;")
	@Html.TextBox("globalSearchTerm", string.Empty, new { id = "globalSearchTerm", @class = "globalSearchBox", size = 50 })
	@Html.Raw("&nbsp;")
	<button type="submit">@ViewRes.SharedStrings.Search</button>
}
