@using VocaDb.Model
@using VocaDb.Model.Domain.Globalization
@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.GlobalSearchBoxModel

@using (Html.BeginForm("GlobalSearch", "Home", FormMethod.Post, new { @class = "navbar-form form-inline pull-left navbar-search", id = "globalSearchBox" })) {
	@Html.EnumRadioButtonListFor(m => m.ObjectType, Model.AllObjectTypes, new Dictionary<string, object> { { "class", "globalSearchEntryType nav-radio" } }, Model.ObjectType)
	@Html.Raw("&nbsp;")

	<div class="input-append navbar-searchBox">
		<input type="text" name="globalSearchTerm" id="globalSearchTerm" class="globalSearchBox search-query span3" size="50" placeholder="@ViewRes.SharedStrings.Search" maxlength="255" />	
		<button type="submit" class="btn btn-info" title="@ViewRes.SharedStrings.Search">
			<i class="icon-search"></i>
		</button>
	</div>
	
	<div class="btn-group navbar-languageBar">
		<a class="btn btn-info navbar-languageBtn dropdown-toggle" data-toggle="dropdown" href="#" title="@ViewRes.User.MySettingsStrings.DefaultLanguageSelection">
			@Translate.ContentLanguagePreferenceName(Login.Manager.LanguagePreference)
			<span class="caret"></span>		
		</a>
	
		<ul class="dropdown-menu">
			@foreach (var lp in EnumVal<ContentLanguagePreference>.Values) {
				<li><a href="#" onclick="return setLanguagePreferenceCookie('@lp');">@Translate.ContentLanguagePreferenceName(lp)</a></li>				
			}
		</ul>
	</div>

}
