@model VocaDb.Web.Models.Shared.PagingData<VocaDb.Model.DataContracts.Albums.AlbumWithAdditionalNamesContract>

<p>@Model.Items.TotalItemCount @ViewRes.MiscStrings.AlbumCount.</p>

<div class="pager">
@Html.Pager(Model.Items.PageSize, Model.Items.PageNumber, Model.Items.TotalItemCount, new AjaxOptions { UpdateTargetId = Model.ContainerName }).Options(o => o.Action(Model.Action).AddRouteValue("id", Model.Id))
</div>

@ArtistHelpers.Albums(Model.Items, null, true)

<div class="pager">
@Html.Pager(Model.Items.PageSize, Model.Items.PageNumber, Model.Items.TotalItemCount, new AjaxOptions { UpdateTargetId = Model.ContainerName }).Options(o => o.Action(Model.Action).AddRouteValue("id", Model.Id))
</div>
