@model VocaDb.Model.DataContracts.PVs.PVContract
@using VocaDb.Web.Helpers;

<tr id="@("pvRow_" + Model.Id)">
	<td>
		<a href="@Model.Url">@Model.DisplayName</a>
	</td>
	<td>
		@Model.PVType
	</td>
	<td>
		<input type="button" class="pvRemove" id="@("pvRemove_" + Model.Id)" value="Remove" />
	</td>
</tr>
