@model VocaDb.Model.DataContracts.PVs.PVContract
@using VocaDb.Web.Helpers;

<tr id="@("pvRow_" + Model.Id)">
	<td>
		<a href="@Model.Url">@Model.DisplayName</a>
	</td>
	<td>
		@Model.PVType
	</td>
	<td>
		<a href="#" class="pvRemove textLink deleteLink" id="@("pvRemove_" + Model.Id)">Delete</a>
	</td>
</tr>
