@using VocaDb.Model;
@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Songs.ArtistForSongContract

<tr>
	<td>
		@{ var item = Html.BeginCollectionItem("ArtistLinks"); }
		@Html.HiddenFor(m => m.Id)
		@Html.HiddenFor(m => m.Artist.Id)
		@Html.HiddenFor(m => m.Artist.AdditionalNames)
		@Html.HiddenFor(m => m.Artist.Name)								
		@Html.ActionLink(Model.Artist.Name, "Edit", "Artist", new { id = Model.Artist.Id }, null)<br />
		<span class="extraInfo">@Model.Artist.AdditionalNames</span>
	</td>
	<td>
		@Html.CheckBoxFor(m => m.IsSupport)
		@Html.LabelFor(m => m.IsSupport, "Support")
	</td>
	<td>
		@Html.HiddenFor(m => m.Roles)
		<div id="rolesList">
			@foreach (var role in Translate.ArtistRoleNames.ValuesAndNames.Where(r => r.Key != VocaDb.Model.Domain.Artists.ArtistRoles.Default)) {
				if (Model.Roles.HasFlag(role.Key)) {
					@role.Value<br />
				}
			}
		</div>
		@{ item.Dispose(); }		
		<a href="#" class="artistRolesEdit textLink editLink">Edit</a>
	</td>
	<td>
		<a href="#" class="artistRemove textLink removeLink">Remove</a>
	</td>
</tr>
