@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@model SongDetails
@{
	ViewBag.Title = "Song details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Songs", "Index") };
}

@if (Login.Manager.IsLoggedIn) {
<a href="#" id="addFavoriteLink" style="@(Model.IsFavorited ? "display: none;" : "")">Add to favorites</a>
<a href="#" id="removeFavoriteLink" style="@(Model.IsFavorited ? "" : "display: none;")">Remove from favorites</a>
}

@if (VocaDb.Web.Helpers.Login.CanManageDb) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id });
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">Basic info</a></li>
		<li><a href="#lyricsTab">Lyrics</a></li>
	</ul>

	<div id="basicInfoTab">
		<table>
			@if (!string.IsNullOrEmpty(Model.NicoId)) {
			<tr>
				<script type="text/javascript" src="@("http://ext.nicovideo.jp/thumb_watch/" + Model.NicoId)"></script>
			</tr>
			}
			<tr>
				<td>Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>	
			</tr>
			@if (!string.IsNullOrEmpty(Model.NicoId)) {
			<tr>
				<td>Nico Nico Douga link</td>
				<td>
					<a href="http://www.nicovideo.jp/watch/@Model.NicoId">@Model.NicoId</a>
				</td>
			</tr>
			}
			@if (Model.Performers.Any()) {
			<tr>
				<td>Performers</td>
				<td>
					@foreach (var artist in Model.Performers) {
						@Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id }, null);
						if (artist != Model.Performers.Last()) {
							<text>,&nbsp;</text>
						}
					}			
				</td>
			</tr>
			}
			@if (Model.OtherArtists.Any()) {
			<tr>
				<td>Other artists</td>
				<td>
					@foreach (var artist in Model.OtherArtists) {
						@Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id }, null);
						if (artist != Model.OtherArtists.Last()) {
							<text>,&nbsp;</text>
						}
					}			
				</td>
			</tr>
			}
			@if (Model.Albums.Any()) {
			<tr>
				<td>Albums</td>
				<td>
					@foreach (var album in Model.Albums) {
						@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, null);
						if (album != Model.Albums.Last()) {
							<text>,&nbsp;</text>
						}
					}			
				</td>
			</tr>
			}
		</table>
	</div>

	<div id="lyricsTab">
	@foreach (var lyrics in Model.Lyrics) {
		<p><text>@lyrics.Language</text>
		@if (!string.IsNullOrEmpty(lyrics.Source)) {
			<text>(from @lyrics.Source)</text>
  }
		</p>
		<p>@Html.Raw(lyrics.Value.Replace("\n", "<br />"))</p>
 }
	</div>
</div>

<script type="text/javascript" src="../../Scripts/Song/Details.js"></script>
<script type="text/javascript">

	$(function () {
		$("#tabs").tabs();
	});

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>
