@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@model SongDetails
@{
	ViewBag.Title = "Song details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Songs", "Index") };
}

@section Toolbar {
@if (Login.Manager.IsLoggedIn) {
	<a href="#" id="addFavoriteLink" style="@(Model.IsFavorited ? "display: none;" : "")">Add to favorites</a>
	<a href="#" id="removeFavoriteLink" style="@(Model.IsFavorited ? "" : "display: none;")">Remove from favorites</a>
	<a href="#" id="addToListLink">Add to custom list</a>
}

@if (VocaDb.Web.Helpers.Login.CanManageDb) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { id = "editSongLink" });
}

@Html.ActionLink("View modifications", "Versions", new { id = Model.Id }, new { id = "viewVersions" })
}

<div id="addToListDialog" style="display:none" title="Add to list">
	<select id="addtoListSelect"></select>
</div>

@if (Model.Deleted) {
	@Helpers.NotificationPanel(Resources.CommonMessages.EntryDeleted)
}

@if (Model.Draft && !Model.Deleted) {
	@Helpers.DraftMessage("glsongs")
}

@if (Model.PrimaryPV != null) {
	using (Html.BeginPanel()) {
		@Helpers.EmbedPV(Model.PrimaryPV)
	}
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">Basic info</a></li>
		@if (Model.Lyrics.Length > 3) {
		<li><a href="#lyricsTab">Lyrics</a></li>
  } else {
	  foreach (var lyrics in Model.Lyrics) {
				<li><a href="@("#lyricsTab_" + lyrics.Id)">@Translate.ContentLanguageSelectionName(lyrics.Language) lyrics</a></li>
	  }
  }
	</ul>

	<div id="basicInfoTab">
		<table>
			<tr>
				<td>Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>	
			</tr>
			@if (Model.Performers.Any()) {
			<tr>
				<td>Vocalists</td>
				<td>
					@Html.LinkList(Model.Performers, artist => Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id }, new { title = artist.AdditionalNames }))
				</td>
			</tr>
   }
			@if (Model.OtherArtists.Any()) {
			<tr>
				<td>Other artists</td>
				<td>
					@Html.LinkList(Model.OtherArtists, artist => Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id }, new { title = artist.AdditionalNames }))
				</td>
			</tr>
   }

			<tr>
				<td>@Html.LabelFor(m => m.SongType)</td>
				<td>@Html.DisplayFor(m => m.SongType)</td>
			</tr>
			
			@if (Model.Albums.Any()) {
			<tr>
				<td>Albums</td>
				<td>
					@Html.LinkList(Model.Albums, album => Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames }))
				</td>
			</tr>
   }
			
			<tr>
				<td>Tags</td>
				<td>
					<span id="tagList">
						@{ Html.RenderPartial("TagList", Model.Tags); }
					</span>
					@if (Login.Manager.IsLoggedIn) {
						<a href="#" id="editTags">Edit tags</a>
	 }				
				</td>
			</tr>


			@if (Model.PVs.Any()) {
			<tr>
				<td>PVs</td>
				<td>
					@foreach (var pv in Model.PVs) {
						<a href="@pv.Url"><img src="@Html.VideoServiceLinkUrl(pv.Service)" alt="@pv.Service" /> @pv.DisplayName</a><br />
	 }			
				</td>
			</tr>
   }
			
			@if (Model.WebLinks.Any()) {
			<tr>
				<td>@Html.LabelFor(m => m.WebLinks)</td>
				<td>
					@foreach (var link in Model.WebLinks) {
						<a href="@link.Url">@link.DescriptionOrUrl</a><br />
	 }			
				</td>
			</tr>
   }
			
			@if (Model.OriginalVersion != null) {
			<tr>
				<td>@Html.LabelFor(m => m.OriginalVersion)</td>
				<td>
					@Html.ActionLink(Model.OriginalVersion.Name, "Details", new { id = Model.OriginalVersion.Id }, new { title = Model.OriginalVersion.AdditionalNames })<br />
					@Model.OriginalVersion.ArtistString
				</td>
			</tr>
   }

			@if (Model.AlternateVersions.Any()) {
			<tr>
				<td>@Html.LabelFor(m => m.AlternateVersions)</td>
				<td>
					@foreach (var alternateVersion in Model.AlternateVersions) {
						@Html.ActionLink(alternateVersion.Name, "Details", new { id = alternateVersion.Id }, new { title = alternateVersion.AdditionalNames })<br />
						@alternateVersion.ArtistString<br />
	 }			
				</td>
			</tr>
   }
			
			@if (!string.IsNullOrEmpty(Model.Notes)) {
			<tr>
				<td>Notes</td>
				<td>
					@Helpers.ConvertNewlinesToBreaks(Model.Notes)
				</td>	
			</tr>
   }			
		</table>
	</div>

	@if (Model.Lyrics.Length > 3) {
		<div id="lyricsTab" style="height: 400px; overflow: scroll">
		@foreach (var lyrics in Model.Lyrics) {
			<h3>@lyrics.Language</h3>
	  if (!string.IsNullOrEmpty(lyrics.Source)) {
				<p>(from @lyrics.Source)</p>
	  }
			<p>@Helpers.ConvertNewlinesToBreaks(lyrics.Value)</p>
			<hr />
  }
		</div>
 } else {

	 foreach (var lyrics in Model.Lyrics) {
			<div id="@("lyricsTab_" + lyrics.Id)" style="height: 400px; overflow: scroll">
			@if (!string.IsNullOrEmpty(lyrics.Source)) {
				<p>(from @lyrics.Source)</p>
   }
			<p>@Helpers.ConvertNewlinesToBreaks(lyrics.Value)</p>
			</div>
	 }

 }
</div>

<div id="editTagsPopup" style="display:none;" title="Tags">

	<input type="hidden" id="editTagsSongId" />

	<div id="editTagsContent"></div>

</div>

<script type="text/javascript" src="../../Scripts/Song/Details.js"></script>
<script type="text/javascript">

	$(function () {
		$("#tabs").tabs();
	});

	$(document).ready(function() { 
		initPage(@Model.Id);
	});

</script>
