@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@using R = ViewRes.Song;
@model SongDetails
@{
	
	if (VocaDb.Model.Helpers.SongHelper.IsAnimation(Model.SongType)) {
		ViewBag.Title = ViewRes.Song.DetailsStrings.PVDetails + " - " + Model.Name;
	} else {
		ViewBag.Title = ViewRes.Song.DetailsStrings.SongDetails + " - " + Model.Name;
	}
	ViewBag.Subtitle = Model.ArtistString;
	ViewBag.Parents = new[] { Html.ActionLink(ViewRes.SharedStrings.Songs, "Index") };
}

@section Toolbar {
<div id="pvPlayer">
	@if (Model.PrimaryPV != null) {
		using (Html.BeginPanel()) {
			@Helpers.EmbedPV(Model.PrimaryPV)
		}
	}
</div>

<a href="#" id="addFavoriteLink" class="@(Login.Manager.IsLoggedIn ? "" : "disabled")" style="@(Model.IsFavorited ? "display: none;" : "")">@ViewRes.Song.DetailsStrings.AddToFavorites</a>
<a href="#" id="removeFavoriteLink" class="@(Login.Manager.IsLoggedIn ? "" : "disabled")" style="@(Model.IsFavorited ? "" : "display: none;")">@ViewRes.Song.DetailsStrings.RemoveFromFavorites</a>
<a href="#" id="addToListLink" class="@(Login.Manager.IsLoggedIn ? "" : "disabled")">@ViewRes.Song.DetailsStrings.AddToCustomList</a>

@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Id }, new { id = "editSongLink", @class = (Model.CanEdit ? "" : "disabled") })

@Html.ActionLink(ViewRes.EntryDetailsStrings.ViewModifications, "Versions", new { id = Model.Id }, new { id = "viewVersions" })

@Helpers.EntryStatusMessage(Model.Status)

@Helpers.AjaxLoader("pvLoader")	
}

@if (Model.Deleted) {
	@Helpers.NotificationPanel(Resources.CommonMessages.EntryDeleted)
}

@if (Model.Draft && !Model.Deleted) {
	@Helpers.DraftMessage("glsongs")
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">@ViewRes.EntryDetailsStrings.BasicInfoTab</a></li>
		@if (Model.Lyrics.Length > 3) {
		<li><a href="#lyricsTab">@ViewRes.Song.DetailsStrings.Lyrics</a></li>
  } else {
	  foreach (var lyrics in Model.Lyrics) {
				<li><a href="@("#lyricsTab_" + lyrics.Id)">@Translate.ContentLanguageSelectionName(lyrics.Language) @ViewRes.Song.DetailsStrings.LyricsLC</a></li>
	  }
  }
		<li><a href="@Url.Action("Comments", "Song", new { id = Model.Id })" title="Discussion">@ViewRes.EntryDetailsStrings.DiscussionTab (@Model.CommentCount)</a></li>
	</ul>

	<div id="basicInfoTab">
		<table>
			<tr>
				<td>@ViewRes.SharedStrings.Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>	
			</tr>
			@if (Model.Performers.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Vocalists</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Performers)
				</td>
			</tr>
   }

			@if (Model.Producers.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Producers</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Producers)
				</td>
			</tr>
   }
   
			@if (Model.Animators.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Animators</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Animators)
				</td>
			</tr>
   }
			
			@if (Model.OtherArtists.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.OtherArtists</td>
				<td>
					@ArtistHelpers.ArtistList(Model.OtherArtists)
				</td>
			</tr>
   }

			<tr>
				<td>@ViewRes.SharedStrings.Type</td>
				<td>@Html.ActionLink(Translate.SongTypeNames[Model.SongType], "Index", new { songType = Model.SongType })</td>
			</tr>
			
			@if (Model.Albums.Any()) {
			<tr>
				<td>@ViewRes.SharedStrings.Albums</td>
				<td>
					@Html.LinkList(Model.Albums, album => Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames }))
				</td>
			</tr>
   }
			
			<tr>
				<td>@ViewRes.SharedStrings.Tags</td>
				<td>
					<span id="tagList">
						@{ Html.RenderPartial("TagList", Model.Tags); }
					</span>
					<a href="#" class="@(Login.Manager.IsLoggedIn ? "" : "disabled")" id="editTags">@ViewRes.EntryDetailsStrings.EditTags</a>
				</td>
			</tr>


			@if (Model.PVs.Any()) {
			<tr>
				<td>@ViewRes.SharedStrings.Media</td>
				<td>
					@foreach (var pv in Model.PVs) {
						<!--@Helpers.FormatPVLink(pv)<br />-->
						<a href="#" class="pvLink" id="pv_@(pv.Id)">
							<img src="@Html.VideoServiceLinkUrl(pv.Service)" alt="@pv.Service" /> @(!string.IsNullOrEmpty(pv.Name) ? pv.Name : pv.Service.ToString())
							@("(" + Translate.PVTypeNames[pv.PVType] + ")")
						</a>
						@Html.Raw("&nbsp;")
						@("(")<a href="@pv.Url">@R.DetailsStrings.ViewExternal</a>@(")")
						<br />
					}			
				</td>
			</tr>
   }
			
			@if (Model.WebLinks.Any()) {
			<tr>
				<td>@ViewRes.EntryDetailsStrings.ExternalLinks</td>
				<td>
					@foreach (var link in Model.WebLinks) {
						<a href="@link.Url">@link.DescriptionOrUrl</a><br />
	 }			
				</td>
			</tr>
   }
			
			@if (Model.OriginalVersion != null) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.OriginalVersion</td>
				<td>
					@Html.ActionLink(Model.OriginalVersion.Name, "Details", new { id = Model.OriginalVersion.Id }, new { title = Model.OriginalVersion.AdditionalNames })<br />
					@Model.OriginalVersion.ArtistString
				</td>
			</tr>
   }

			@if (Model.AlternateVersions.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.AlternateVersions</td>
				<td>
					@foreach (var alternateVersion in Model.AlternateVersions) {
						@Html.ActionLink(alternateVersion.Name, "Details", new { id = alternateVersion.Id }, new { title = alternateVersion.AdditionalNames }) @(" (" + @Translate.SongTypeNames[alternateVersion.SongType] + ")")<br />
						@alternateVersion.ArtistString<br />
	 }			
				</td>
			</tr>
   }
			
			@if (!string.IsNullOrEmpty(Model.Notes)) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Notes</td>
				<td>
					@Helpers.ConvertNewlinesToBreaks(Model.Notes)
				</td>	
			</tr>
   }			

			<tr>
				<td>@ViewRes.EntryDetailsStrings.AdditionDate</td>
				<td>
					@Model.CreateDate
				</td>	
			</tr>
		</table>
		
		<br />
		<h3>@ViewRes.EntryDetailsStrings.LatestComments</h3>
		
		@if (Model.LatestComments.Any()) {

	  foreach (var comment in Model.LatestComments) {
				@Helpers.PrintComment(comment, false);
	  }

  } else {
	  
			<p>@ViewRes.EntryDetailsStrings.NoComments</p>
	  
  }
		
		<p>
			<a href="#" id="viewCommentsLink">@ViewRes.EntryDetailsStrings.ViewAllComments</a>
		</p>

	</div>

	@if (Model.Lyrics.Length > 3) {
		<div id="lyricsTab" style="height: 400px; overflow: scroll">
		@foreach (var lyrics in Model.Lyrics) {
			<h3>@lyrics.Language</h3>
	  if (!string.IsNullOrEmpty(lyrics.Source)) {
				<p>(from @lyrics.Source)</p>
	  }
			<p>@Helpers.ConvertNewlinesToBreaks(lyrics.Value)</p>
			<hr />
  }
		</div>
 } else {

	 foreach (var lyrics in Model.Lyrics) {
			<div id="@("lyricsTab_" + lyrics.Id)" style="height: 400px; overflow: scroll">
			@if (!string.IsNullOrEmpty(lyrics.Source)) {
				<p>(@ViewRes.Song.DetailsStrings.LyricsFrom @lyrics.Source)</p>
   }
			<p>@Helpers.ConvertNewlinesToBreaks(lyrics.Value)</p>
			</div>
	 }
	 
	<div id="Discussion">
	</div>	 

 }
</div>

<div id="editTagsPopup" style="display:none;" title="@ViewRes.SharedStrings.Tags">

	<input type="hidden" id="editTagsSongId" />

	<div id="editTagsContent"></div>

</div>

<div id="addToListDialog" style="display:none" title="@ViewRes.Song.DetailsStrings.AddToList">
	<select id="addtoListSelect"></select>
</div>

<script type="text/javascript" src="../../Scripts/Song/Details.js"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id, "@ViewRes.SharedStrings.Save", "@ViewRes.EntryDetailsStrings.ConfirmDeleteComment", "@VocaDb.Model.Utils.AppConfig.HostAddress" );
	});

</script>
