@using VocaDb.Web.Models
@using VocaDb.Web.Helpers
@model SongEdit
@{
	ViewBag.Title = "Edit song - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Songs", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

@section Toolbar {
@if (Login.CanDeleteEntries) {
	@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { id = "deleteLink", onclick = "return confirm(\"Are you sure you want to delete this song?\");" })
}
@if (Login.CanMergeEntries) {
	@Html.ActionLink("Merge", "Merge", new { id = Model.Id }, new { id = "mergeLink" })
}
}

@Helpers.EntryValidationMessage(Model.Draft, Model.ValidationResult, "glsongs")

@Helpers.ValidationSymmaryPanel("Unable to save properties.")

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">Basic info</a></li>
		<li><a href="#artistsTab">Artists</a></li>
		<li><a href="#pvsTab">PVs</a></li>
		<li><a href="#lyricsTab">Lyrics</a></li>
	</ul>

	<div id="basicInfoTab">
		@using (Html.BeginForm("Edit", "Song", FormMethod.Post)) {
			@Html.HiddenFor(m => m.Name)
			@Html.HiddenFor(m => m.Id)
			<div>
				<fieldset>
					<legend>Basic properties</legend>
					<div class="editor-label">
						@Html.LabelFor(m => m.DefaultLanguageSelection)
					</div>
					<div class="editor-field">
						@Html.LanguageSelectionDropDownListFor(m => m.DefaultLanguageSelection)
					</div>

				   <div class="editor-label">
						@Html.LabelFor(m => m.Names)
					</div>
					<div class="editor-field">
						<table>
							<tr>
								<th>Name *</th>
								<th>Language</th>
								<th>Actions</th>
							</tr>
							@foreach (var name in Model.Names) {
								Html.RenderPartial("LocalizedStringEditableRow", name);
							}

							@{ Html.RenderPartial("LocalizedStringNewRow"); }
						</table>
					</div>

				   <div class="editor-label">
						@Html.LabelFor(m => m.Notes)
					</div>
					<div class="editor-field">
						@Html.TextAreaFor(m => m.Notes, 6, 70, null)
					</div>

				   <div class="editor-label">
						@Html.LabelFor(m => m.SongType)
					</div>
					<div class="editor-field">
						@Html.SongTypeDropDownListFor(m => m.SongType)
					</div>
	
					@if (Model.SongType != VocaDb.Model.Domain.Songs.SongType.Original) {
				   <div class="editor-label">
						@Html.LabelFor(m => m.OriginalVersion)
					</div>
					<div class="editor-field">
						<span id="originalContent">
							@{ Html.RenderPartial("SongLink", Model.OriginalVersion); }
						</span>

						<input id="changeOriginalBtn" type="button" value="Change" />

						<div id="changeOriginalPanel" style="display:none;">
							<input type="text" maxlength="128" size="30" id="changeOriginalName" /><br />
							<select id="changeOriginalList" size="6" /><br />
							<input type="button" id="acceptNewOriginalBtn" value="Set" />
						</div>
					</div>
					}
			
					<div class="editor-label">
						@Html.LabelFor(m => m.WebLinks)
					</div>
					<div class="editor-field">
						<table>
							<tr>
								<th>Description</th>
								<th>URL *</th>
								<th>Actions</th>
							</tr>
							@foreach (var webLink in Model.WebLinks) {
								Html.RenderPartial("WebLinkEditRow", webLink);
							}
							@{ Html.RenderPartial("WebLinkCreateRow"); }
						</table>
					</div>

					<p title="Entries that are missing important information can be marked as drafts so that others can finish them.">
						@Html.CheckBoxFor(m => m.Draft)
						@Html.LabelFor(m => m.Draft)
					</p>

					<p>
						<input type="submit" value="Save properties" />
					</p>
				</fieldset>
			</div>
		}
	</div>

	<div id="pvsTab">
	
		<table>
		@foreach (var pv in Model.PVs) {
			Html.RenderPartial("PVForSongEditRow", pv);
		}
		<tr id="pvRow_new">
			<td>
				<p>Only Youtube and NicoNicoDouga are supported.</p>
				<p>
				URL:
				@Html.TextBox("pvUrl_new", string.Empty, new { id = "pvUrl_new", maxlength = 255, size = 40 })
				</p>
				<p>
				Type:
				@Html.DropDownList("pvType_new", new SelectList(Model.AllPVTypes), new { id = "pvType_new" })
				</p>
			</td>
			<td>
				<input type="button" class="pvAddNew" id="pvAdd" value="Add" />				
			</td>
		</tr>
		</table>
	
	</div>

	<div id="lyricsTab">
		@{ Html.RenderPartial("LyricsEditor", new LyricsEditorModel(Model)); }
	</div>

	<div id="artistsTab">
		<fieldset>
			<legend>Connected performers and producers</legend>

			@Helpers.NotificationPanel("Note that you can tag artists for a song much faster after tagging the album first")

			<table>
			@foreach (var album in Model.ArtistLinks) {
			   Html.RenderPartial("ArtistForSongEditRow", album);
		   }
			
			@{ Html.RenderPartial("AddNewLinkRow", new AddNewLinkRowModel { EntityName = "artist", Prefix = "artist" }); }
			</table>
		</fieldset>
	</div>

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Song/Edit.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>