@using VocaDb.Web.Models
@using VocaDb.Web.Helpers
@model SongEdit
@{
	ViewBag.Title = "Edit song - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Songs", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

@if (Login.CanDeleteEntries) {
	@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { onclick = "return confirm(\"Are you sure you want to delete this song?\");" })
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">Basic info</a></li>
		<li><a href="#artistsTab">Artists</a></li>
		<li><a href="#pvsTab">PVs</a></li>
		<li><a href="#lyricsTab">Lyrics</a></li>
	</ul>

	<div id="basicInfoTab">
		@using (Html.BeginForm("Edit", "Song", FormMethod.Post)) {
			@Html.HiddenFor(m => m.Id)
			<div>
				<fieldset>
					<legend>Basic properties</legend>
					<table><tr>
					<td>Primary name:</td>
					<td><div class="editor-label">
						@Html.LabelFor(m => m.NameRomaji)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.NameRomaji, new { @readonly = "readonly" } )
						@Html.ValidationMessageFor(m => m.NameRomaji)
					</div>
					</td><td>

					<div class="editor-label">
						@Html.LabelFor(m => m.NameJapanese)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.NameJapanese, new { @readonly = "readonly" })
						@Html.ValidationMessageFor(m => m.NameJapanese)
					</div>
					</td><td>

					<div class="editor-label">
						@Html.LabelFor(m => m.NameEnglish)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.NameEnglish, new { @readonly = "readonly" })
						@Html.ValidationMessageFor(m => m.NameEnglish)
					</div>
					</td><td>

					<div class="editor-label">
						@Html.LabelFor(m => m.DefaultLanguageSelection)
					</div>
					<div class="editor-field">
						@Html.LanguageSelectionDropDownListFor(m => m.DefaultLanguageSelection)
					</div>
					</td></tr>
					</table>

				   <div class="editor-label">
						@Html.LabelFor(m => m.Names)
					</div>
					<div class="editor-field">
						<table>
							<tr>
								<th>Name *</th>
								<th>Language</th>
								<th>Actions</th>
							</tr>
							@foreach (var name in Model.Names) {
								Html.RenderPartial("LocalizedStringEditableRow", name);
							}

							@{ Html.RenderPartial("LocalizedStringNewRow"); }
						</table>
					</div>

				   <div class="editor-label">
						@Html.LabelFor(m => m.NicoId)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.NicoId)
					</div>
			
					<div class="editor-label">
						@Html.LabelFor(m => m.WebLinks)
					</div>
					<div class="editor-field">
						<table>
							<tr>
								<th>Description</th>
								<th>URL *</th>
								<th>Actions</th>
							</tr>
							@foreach (var webLink in Model.WebLinks) {
								<tr id="@("webLinkRow_" + webLink.Id)">
									<td>
										<input type="text" maxlength="512" class="webLinkDescription" id="@("webLinkDescription_" + webLink.Id)" value="@webLink.Description" />
									</td>
									<td>
										<input type="text" maxlength="512" class="webLinkUrl" size="50" id="@("webLinkUrl_" + webLink.Id)" value="@webLink.Url" />
									</td>
									<td>
										<input type="button" class="webLinkDelete" id="@("webLinkDelete_" + webLink.Id)" value="Delete" />
									</td>
								</tr>
							}
							<tr id="webLinkRow_new">
								<td>
									<input type="text" maxlength="512" class="webLinkDescriptionNew" id="webLinkDescription_new" />						
								</td>
								<td>
									<input type="text" maxlength="512" class="webLinkUrlNew" size="50" id="webLinkUrl_new" />													
								</td>
								<td>
									<input type="button" class="webLinkAddNew" id="webLinkAdd" value="Add" />
								</td>
							</tr>
						</table>
					</div>

					<p>
						<input type="submit" value="Save properties" />
					</p>
				</fieldset>
			</div>
		}
	</div>

	<div id="pvsTab">
	
		<table>
		@foreach (var pv in Model.PVs) {
			Html.RenderPartial("PVForSongEditRow", pv);
		}
		<tr id="pvRow_new">
			<td>
				<p>Only Youtube and NicoNicoDouga are supported.</p>
				<p>
				URL:
				@Html.TextBox("pvUrl_new", string.Empty, new { id = "pvUrl_new" })
				</p>
				<p>
				Type:
				@Html.DropDownList("pvType_new", new SelectList(Model.AllPVTypes), new { id = "pvType_new" })
				</p>
			</td>
			<td>
				<input type="button" class="pvAddNew" id="pvAdd" value="Add" />				
			</td>
		</tr>
		</table>
	
	</div>

	<div id="lyricsTab">
		@{ Html.RenderPartial("LyricsEditor", new LyricsEditorModel(Model)); }
	</div>

	<div id="artistsTab">

		<fieldset>
			<legend>Connected performers and producers</legend>
			<table>
			@foreach (var album in Model.ArtistLinks) {
	   Html.RenderPartial("ArtistForSongEditRow", album);
   }
			
			@{ Html.RenderPartial("AddNewLinkRow", new AddNewLinkRowModel { EntityName = "artist", Prefix = "artist" }); }
			</table>
		</fieldset>
	</div>

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Song/Edit.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>