@using VocaDb.Web.Models
@using VocaDb.Web.Helpers
@model SongEdit
@{
	ViewBag.Title = "Edit song - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Songs", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

@section Toolbar {
@if (Login.CanDeleteEntries) {
	if (!Model.Deleted) {
		@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { id = "deleteLink", onclick = "return confirm(\"Are you sure you want to delete this song?\");" })
	} else {
		@Html.ActionLink("Restore", "Restore", new { id = Model.Id }, new { id = "restoreLink" })		
	}
}
@if (Login.CanMergeEntries) {
	@Html.ActionLink("Merge", "Merge", new { id = Model.Id }, new { id = "mergeLink" })
}
}

@Helpers.EntryValidationMessage(Model.Draft, Model.ValidationResult, "glsongs")

@Helpers.ValidationSymmaryPanel("Unable to save properties.")

@using (Html.BeginForm("Edit", "Song", FormMethod.Post)) {
	@Html.HiddenFor(m => m.Name)
	@Html.HiddenFor(m => m.Id)

	<p>
		<input type="submit" value="Save changes" />
	</p>
	
	<div id="tabs">

		<ul>
			<li><a href="#basicInfoTab">Basic info</a></li>
			<li><a href="#artistsTab">Artists</a></li>
			<li><a href="#pvsTab">PVs</a></li>
			<li><a href="#lyricsTab">Lyrics</a></li>
		</ul>

		<div id="basicInfoTab">

			<div class="editor-label">
				@Html.LabelFor(m => m.DefaultLanguageSelection)
			</div>
			<div class="editor-field">
				@Html.LanguageSelectionDropDownListFor(m => m.DefaultLanguageSelection)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Names)
			</div>
			<div class="editor-field">
				@Helpers.NamesList(Model.Names)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Notes)
			</div>
			<div class="editor-field">
				@Html.TextAreaFor(m => m.Notes, 6, 70, null)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.SongType)
			</div>
			<div class="editor-field">
				@Html.SongTypeDropDownListFor(m => m.SongType)
			</div>
	
			@if (Model.SongType != VocaDb.Model.Domain.Songs.SongType.Original) {
			<div class="editor-label">
				@Html.LabelFor(m => m.OriginalVersion)
			</div>
			<div class="editor-field">
				<span id="originalContent">
					@{ Html.RenderPartial("SongLink", Model.OriginalVersion); }
				</span>

				<input id="changeOriginalBtn" type="button" value="Change" />

				<div id="changeOriginalPanel" style="display:none;">
					<div>
						<input type="hidden" id="changeOriginalId" />
						<input type="text" maxlength="128" size="30" id="changeOriginalName" /><br />
						<div id="changeOriginalList"></div>
					</div>
					<br />
					<input type="button" id="acceptNewOriginalBtn" value="Set" />
				</div>
			</div>
}
			
			<div class="editor-label">
				@Html.LabelFor(m => m.WebLinks)
			</div>
			<div class="editor-field">
				@Helpers.WebLinksList(Model.WebLinks)
			</div>

			<p title="Entries that are missing important information can be marked as drafts so that others can finish them.">
				@Html.CheckBoxFor(m => m.Draft)
				@Html.LabelFor(m => m.Draft)
			</p>

		</div>

		<div id="pvsTab">
	
			<table>
				<thead>
					<tr>
						<th>Service</th>
						<th>Type</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="pvTableBody">
				@foreach (var pv in Model.PVs) {
		Html.RenderPartial("PVForSongEditRow", pv);
	}
				</tbody>
			</table>

			<h4>Add PV</h4>

			<p>Only Youtube and NicoNicoDouga are supported.</p>
			<p>
			URL:
			@Html.TextBox("pvUrl_new", string.Empty, new { id = "pvUrl_new", maxlength = 255, size = 40 })
			</p>
			<p>
			Type:
			@Html.EnumDropDownList("pvType_new", Translate.PVTypeNames, new { id = "pvType_new" })
			</p>

			<a href="#" class="pvAddNew textLink addLink" id="pvAdd">Add</a>
	
		</div>

		<div id="lyricsTab">

			@foreach (var lyrics in Model.Lyrics) {
				Html.RenderPartial("LyricsForSongEditRow", lyrics);
			}
			<a href="#" class="lyricsAddNew textLink addLink" id="lyricsAdd">Add row</a>

		</div>

		<div id="artistsTab">

			@using (@Html.BeginPanel()) {
				<span>Note that you can tag artists for a song much faster after tagging the album first.</span>
			}

			<table>
				<tbody id="artistsTableBody">
				@foreach (var album in Model.ArtistLinks) {
		Html.RenderPartial("ArtistForSongEditRow", album);
	}
				</tbody>
			</table>

			<h4>Add artist</h4>
			@Helpers.EntrySearchBox("artistAdd", false)
			<br />
			<a href="#" id="artistAddAcceptBtn" class="textLink addLink">Add</a>
		</div>

	</div>
	
	<p>
		<input type="submit" value="Save changes" />
	</p>
	
}

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxbuttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxscrollbar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxlistbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EntrySearchJqx.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Song/Edit.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id);
	});

</script>
}