@using VocaDb.Web;
@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Songs;
@using PagedList.Mvc;
@using PagedList;
@model VocaDb.Web.Models.Song.Index

@{
	ViewBag.Title = @ViewRes.SharedStrings.Songs;
}

@section Toolbar {
@if (Login.CanManageDb) {
	@Html.ActionLink(ViewRes.Song.IndexStrings.AddSong, "Create", null, new { id = "createLink" })
}
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@if (Model.DraftsOnly) {
	@Helpers.NotificationPanel(ViewRes.EntryIndexStrings.Drafts)
}

@using (Html.BeginForm("Index", "Song")) {
	
<p>
	@ViewRes.SharedStrings.Filter: @Html.TextBoxFor(m => m.Filter, new { size = 30 }) 
	&nbsp; 
	@Html.SongTypeDropDownListFor(a => a.SongType)
	&nbsp; 
	@Html.CheckBoxFor(m => m.DraftsOnly)
	@Html.LabelFor(m => m.DraftsOnly)
	<button type="submit">@ViewRes.SharedStrings.Apply</button>
</p>

if (Model.Songs.Any()) {
	
<p>@ViewRes.SharedStrings.EntriesFound: @Model.Songs.TotalItemCount</p>
	
@Html.PagedListPager(Model.Songs, page => Url.Action("Index", new { page, filter = Model.Filter, draftsOnly = Model.DraftsOnly }), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)
<table>
@foreach (var song in Model.Songs) {
	<tr>
		<td>
			@Helpers.DraftIcon(song.Status)
			@Html.ActionLink(song.Name, "Details", new { id = song.Id }, new { title = song.AdditionalNames }) (@song.SongType)<br />
			<span class="extraInfo">@song.ArtistString</span>
		</td>
		<td>
			@if (Login.CanEdit(song)) {
				@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = song.Id })
   }		
		</td>
	</tr>	
}
</table>
@Html.PagedListPager(Model.Songs, page => Url.Action("Index", new { page, filter = Model.Filter, draftsOnly = Model.DraftsOnly }), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)
}

}
@if (!Model.Songs.Any()) {

	<p>@ViewRes.EntryIndexStrings.NoResults</p>
	@Helpers.GoogleSiteSearch()

}


<script type="text/javascript" src="@Url.Content("~/Scripts/Song/Index.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		initPage();
	});

</script>