@using VocaDb.Web;
@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Songs;
@using PagedList.Mvc;
@using PagedList;
@model VocaDb.Web.Models.Song.Index

@{
    ViewBag.Title = "Songs";
}

@section Toolbar {
@if (Login.CanManageDb) {
	@Html.ActionLink("Submit a new song", "Create", null, new { id = "createLink" })
}
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@if (Model.DraftsOnly) {
	@Helpers.NotificationPanel(Resources.CommonMessages.Drafts)
}

@using (Html.BeginForm("Index", "Song")) {
	
<p>
	Filter: @Html.TextBoxFor(m => m.Filter) 
	&nbsp; 
	@Html.CheckBoxFor(m => m.DraftsOnly)
	@Html.LabelFor(m => m.DraftsOnly)
	<input type="submit" value="Apply" />
</p>

if (Model.Songs.Any()) {
	
@Html.PagedListPager(Model.Songs, page => Url.Action("Index", new { page, filter = Model.Filter, draftsOnly = Model.DraftsOnly }))
<table>
@foreach (var song in Model.Songs) {
	<tr>
		<td>
			@Helpers.DraftIcon(song.Status)
			@Html.ActionLink(song.Name, "Details", new { id = song.Id }, new { title = song.AdditionalNames })<br />
			<span class="extraInfo">@song.ArtistString</span>
		</td>
		<td>
			@if (VocaDb.Web.Helpers.Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = song.Id })
   }		
		</td>
	</tr>	
}
</table>
@Html.PagedListPager(Model.Songs, page => Url.Action("Index", new { page, filter = Model.Filter, draftsOnly = Model.DraftsOnly }))
}

}
@if (!Model.Songs.Any()) {

	<p>No results! Try a different query or Google custom search.</p>
	@Helpers.GoogleSiteSearch()

}

@if (Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.Admin)) {
	using (Html.BeginForm("CreateQuick", "Song")) {
		Html.RenderPartial("ObjectCreateForm", new ObjectCreate());
	}
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Song/Index.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		initPage();
	});

</script>