@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Songs;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Songs";
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm()) {
	
<p>Filter: @Html.TextBox("filter") &nbsp; <input type="submit" value="Filter" /></p>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, filter = ViewBag.Filter }))
<table>
@foreach (SongWithAdditionalNamesContract song in ViewBag.OnePageOfProducts) {
	<tr>
		<td>
			@Html.ActionLink(song.Name, "Details", new { id = song.Id, title = song.AdditionalNames })<br />
			<span class="extraInfo">@song.ArtistString</span>
		</td>
		<td>
			@if (VocaDb.Web.Helpers.Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = song.Id })
			}		
		</td>
	</tr>	
}
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, filter = ViewBag.Filter }))
}

@model VocaDb.Web.Models.ObjectCreate
@if (Login.CanManageDb) {
	using (Html.BeginForm("Create", "Song")) {
	
    <div>
        <fieldset>
            <div class="editor-label">
                Name:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>			
			<input type="submit" value="Create" />
		</fieldset>
	</div>
	}
}