@using VocaDb.Web.Helpers
@model VocaDb.Web.Models.LyricsForSongModel

<div>

	@using (Html.BeginCollectionItem("Lyrics")) {
	<p>
	@Html.LabelFor(m => m.Language):
	@Html.DropDownListFor(m => m.Language, new SelectList(Model.AllLanguages, Model.Language))

	@Html.LabelFor(m => m.Source):
	@Html.TextBoxFor(m => m.Source, new { size = 45 })
	</p>
	
	@Html.TextAreaFor(m => m.Value, 30, 65, null)

	}
	 
	<br />

	<a href="#" class="deleteLyrics textLink deleteLink">Delete</a>
	<hr />

</div>