@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Songs.SongContract>

@{
	ViewBag.Title = "Merge song - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Songs", "Index", "Search", UrlMapper.Search.Songs(), null), 
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};		

}

@using (Html.BeginForm()) {

	@Helpers.MergeEntryInfo()

	<input type="hidden" name="targetSongId" id="targetSongId" />
	
	<br />
	<div id="targetSong">		
	</div><br />
	
	@Helpers.EntrySearchNameBox("songName")
	
	<br /><br />

	<button type="submit" class="btn btn-primary" id="mergeBtn">Merge</button>
	
}

@section BodyScripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EntrySearchDrop.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Song/Merge.js")"></script>
    <script type="text/javascript">

		$(document).ready(function () {
			var urlMapper = new vdb.UrlMapper('@RootPath');
			initPage(@Model.Id, urlMapper);
	    });

    </script>
}