@model  VocaDb.Model.DataContracts.Songs.SongContract

@{
	ViewBag.Title = "Merge song - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Songs", "Index"), 
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};		

}

@using (Html.BeginForm()) {

	@Helpers.NotificationPanel("Choose the entry which this one will be merged to. All references will be pointed to that new entry and this entry will be deleted.")

	<input type="hidden" name="targetSongId" id="targetSongId" />
	
	<div>
	@Html.TextBox("songName", string.Empty, new { id = "songName", maxlength = "128" })<br />
	<div id="songList"></div>
	@Html.ValidationMessage("songList")
	</div>

	<br />

	<button type="submit" class="btn btn-primary" id="mergeBtn">Merge</button>
	
}

<link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets27/styles/jqx.base.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets27/jqxcore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets27/jqxbuttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets27/jqxscrollbar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets27/jqxlistbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EntrySearchJqx.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Song/Merge.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id);
	});

</script>
