@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventDetailsContract

@{
	
	ViewBag.Title = "Event - " + Model.Name;

	ViewBag.Parents = new[] { 
		Html.ActionLink("Events", "EventsBySeries")
	};
	
}

@section Toolbar {
	@if (Login.CanManageDb) {
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { id = "editEventLink" })
	}
}

@if (Model.Series != null) {
	<p>Series: @Html.ActionLink(Model.Series.Name, "SeriesDetails", new { id = Model.Series.Id })</p>
}

<p>Occurrence date: @Model.Date.ToShortDateString()</p>

@if (!string.IsNullOrEmpty(Model.Description)) {
	@Model.Description
}

<h3>Albums</h3>
<ul>
	@foreach (var album in Model.Albums) {
		<li>@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames })</li>
	}
</ul>

@section BodyScripts {
<script type="text/javascript">

	$(document).ready(function () {
		$("#editEventLink").button({ icons: { primary: 'ui-icon-wrench'} });
	});

</script>
}