@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventSeriesWithEventsContract[]

@{
    ViewBag.Title = "Events";
}

@foreach (var series in Model) {

	<h3>
	@if (!string.IsNullOrEmpty(series.Name)) {
		@Html.ActionLink(series.Name, "SeriesDetails", new { id = series.Id })
		<text>&nbsp;</text>
		if (Login.CanManageEventSeries) {
			@Html.ActionLink("Edit", "EditSeries", new { id = series.Id })
		}
	} else {
		<text>Ungrouped</text>
	}
	</h3>
	if (!string.IsNullOrEmpty(series.Description)) {
		<p>@series.Description</p>
	}
	
	<ul>
	@foreach (var ev in series.Events) {
		<li>
			@Html.ActionLink(ev.Name, "Details", new { id = ev.Id })

			@if (Login.CanManageDb) {
				<text>&nbsp;</text>
				@Html.ActionLink("Edit", "Edit", new { id = ev.Id }, new { @class = "textLink editLink" })
			}
		</li>
	}
	</ul>
	
	if (Login.CanManageDb) {
		@Html.ActionLink("Create event", "Edit", new { seriesId = series.Id != 0 ? (int?)series.Id : null }, new { @class = "textLink addLink" })
	}
	
}

<br />
@if (Login.CanManageEventSeries) {
	@Html.ActionLink("Create series", "EditSeries", null, new { @class = "textLink addLink" })
}