@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventFindResultContract

@{
    ViewBag.Title = "Find event - " + Model.EventName;
}

@Helpers.NotificationPanel("Sorry, an event with this name could not be found. It probably hasn't been added to the database yet.")

@if (Login.CanManageDb && !string.IsNullOrEmpty(Model.EventName)) {

	<p>You may add the event to the database.</p>
	
	using (Html.BeginForm()) {
	
		Html.Hidden("query");
		
		if (Model.Series != null) {

			@Html.HiddenFor(m => m.Series.Id)
			@Html.HiddenFor(m => m.Series.Name)
			
			<input type="radio" name="EventTarget" value="Series" checked="checked" />
	 
			<text>Series:</text>
			@Html.ActionLink(Model.Series.Name, "SeriesDetails", new { id = Model.Series.Id })
			<text>, number</text>	 
			@Html.TextBoxFor(m => m.SeriesNumber)
	 
			<br /><br />
			<input type="radio" name="EventTarget" value="Ungrouped" />
	
		}
			
		<text>Ungrouped event named:</text>
		@Html.TextBoxFor(m => m.EventName)
			
		<br /><br />
		<input type="submit" value="Create event" />
	
	}
	
}