@model VocaDb.Model.DataContracts.Albums.ArtistForAlbumContract

<tr id="@("artistRow_" + Model.Id)">
	<td>
		@Html.ActionLink(Model.Artist.Name, "Edit", "Artist", new { id = Model.Artist.Id }, null)<br />
		<span class="extraInfo">@Model.Artist.AdditionalNames</span>
	</td>
	<td>
		@Html.CheckBoxFor(m => m.IsSupport, new { @class = "isSupportCheck", id="isSupportCheck_" + Model.Id })
		@Html.LabelFor(m => m.IsSupport, "Support")
	</td>
	<td>
		<a href="#" class="artistRemove textLink removeLink" id="@("artistRemove_" + Model.Id)">Remove</a>
	</td>
</tr>
