@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.Album.Create

@{
    ViewBag.Title = "Submit a new album";
	ViewBag.Parents = new[] { 
		Html.ActionLink("Albums", "Index")
	};	
}

@using (Html.BeginForm("Create", "Album", FormMethod.Post)) {

	@Helpers.ValidationSymmaryPanel("Unable to create album. Correct the errors and try again.");
	
	@Helpers.NotificationPanel("Please make sure the entry you're about to submit hasn't been added before. You need to enter at least one name and artist.")
	<br />
																							
	<div>
		<fieldset>
			<table><tr><td class="alignTop">

				<div class="editor-label">
					Name (need at least one)
				</div>

				<div class="editor-field">
					@Html.ValidationMessage("Names")

					<table><tr><td>				
					@Html.LabelFor(m => m.NameOriginal)
					</td><td>
					@Html.TextBoxFor(m => m.NameOriginal, new { id = "nameOriginal", @class = "nameField", maxlength = 255, size = 40 })<br />
					@Html.ValidationMessageFor(m => m.NameOriginal)
					</td></tr>

					<tr><td>
					@Html.LabelFor(m => m.NameRomaji)
					</td><td>
					@Html.TextBoxFor(m => m.NameRomaji, new { id = "nameRomaji", @class = "nameField", maxlength = 255, size = 40 })<br />
					@Html.ValidationMessageFor(m => m.NameRomaji)
					</td></tr>
					
					<tr><td>
					@Html.LabelFor(m => m.NameEnglish)
					</td><td>
					@Html.TextBoxFor(m => m.NameEnglish, new { id = "nameEnglish", @class = "nameField", maxlength = 255, size = 40 })<br />
					@Html.ValidationMessageFor(m => m.NameEnglish)
					</td></tr></table>
				</div>
			
			<div id="duplicateEntryWarning" style="display:none">
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.DiscType)
			</div>
			<div class="editor-field">
				@Html.DiscTypeDropDownListFor(m => m.DiscType)
			</div>

			<div class="editor-label">
				Artists (need at least one)
			</div>
			<div class="editor-field">
				@Html.ValidationMessage("Artists")
				<table>
				@if (Model != null && Model.Artists != null) {
					foreach (var artist in Model.Artists) {
						Html.RenderPartial("ArtistContractRow", artist);
					}
				}
				@{ Html.RenderPartial("AddNewLinkRow", new VocaDb.Web.Models.AddNewLinkRowModel { EntityName = "artist", Prefix = "artist" }); }
				</table>
			</div>

			</td><td class="alignTop" style="max-width: 250px">
				@using (Html.BeginPanel()) {
					<p>@Resources.CommonMessages.NoArtistsToName</p>
					<p>@Resources.CommonMessages.NameHelp</p>
				}
			</td></tr></table>

		</fieldset>

		<input type="submit" value="Save" />

	</div>
	
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Album/Create.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		initPage()
	});

</script>