@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.Album.Create

@{
    ViewBag.Title = "Submit a new album";
	ViewBag.Parents = new[] { 
		Html.ActionLink("Albums", "Index")
	};	
}

@using (Html.BeginForm("Create", "Album", FormMethod.Post)) {

	@Helpers.ValidationSymmaryPanel("Unable to create album. Correct the errors and try again.");
	
	@Helpers.NotificationPanel("Please make sure the entry you're about to submit hasn't been added before. You need to enter at least one name and artist.")
																							
	<div>
		<fieldset>
			<table><tr>
			<td>
				Name:<br />
				(need at least one)
			</td>
			<td><div class="editor-label">
				@Html.LabelFor(m => m.NameOriginal)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.NameOriginal, new { id = "nameOriginal", @class = "nameField" })<br />
				@Html.ValidationMessageFor(m => m.NameOriginal)
			</div>
			</td><td>

			<div class="editor-label">
				@Html.LabelFor(m => m.NameRomaji)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.NameRomaji, new { id = "nameRomaji", @class = "nameField" })<br />
				@Html.ValidationMessageFor(m => m.NameRomaji)
			</div>
			</td><td>

			<div class="editor-label">
				@Html.LabelFor(m => m.NameEnglish)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.NameEnglish, new { id = "nameEnglish", @class = "nameField" })<br />
				@Html.ValidationMessageFor(m => m.NameEnglish)
			</div>
			</td></tr>
			</table>

			<div id="duplicateEntryWarning" style="display:none">
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.DiscType)
			</div>
			<div class="editor-field">
				@Html.DiscTypeDropDownListFor(m => m.DiscType)
			</div>

			<div class="editor-label">
				Artists (need at least 1)
			</div>
			<div class="editor-field">
				@Html.ValidationMessage("Artists")
				<table>
				@if (Model != null && Model.Artists != null) {
					foreach (var artist in Model.Artists) {
						Html.RenderPartial("ArtistContractRow", artist);
					}
				}
				@{ Html.RenderPartial("AddNewLinkRow", new VocaDb.Web.Models.AddNewLinkRowModel { EntityName = "artist", Prefix = "artist" }); }
				</table>
			</div>

		</fieldset>

		<input type="submit" value="Save" />

	</div>
	
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Album/Create.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		initPage()
	});

</script>