@using VocaDb.Web.Helpers;
@using R = ViewRes.Album;
@model VocaDb.Web.Models.Album.Create

@{
    ViewBag.Title = R.CreateStrings.SubmitAlbum;
	ViewBag.Parents = new[] { 
		Html.ActionLink(ViewRes.SharedStrings.Albums, "Index")
	};	
}

@using (Html.BeginForm("Create", "Album", FormMethod.Post)) {

	@Helpers.ValidationSymmaryPanel(R.CreateStrings.UnableToCreateAlbum);
	
	@Helpers.NotificationPanel(R.CreateStrings.AlbumInfo)
																							
	<div>
		<fieldset>
			<table><tr><td class="alignTop">

				<div class="editor-label">
					@ViewRes.EntryCreateStrings.Name
				</div>

				<div class="editor-field">
					@Html.ValidationMessage("Names")

					<table><tr><td>				
					@Html.LabelFor(m => m.NameOriginal)
					</td><td>
					@Html.TextBoxFor(m => m.NameOriginal, new { id = "nameOriginal", @class = "nameField", maxlength = 255, size = 40 })<br />
					@Html.ValidationMessageFor(m => m.NameOriginal)
					</td></tr>

					<tr><td>
					@Html.LabelFor(m => m.NameRomaji)
					</td><td>
					@Html.TextBoxFor(m => m.NameRomaji, new { id = "nameRomaji", @class = "nameField", maxlength = 255, size = 40 })<br />
					@Html.ValidationMessageFor(m => m.NameRomaji)
					</td></tr>
					
					<tr><td>
					@Html.LabelFor(m => m.NameEnglish)
					</td><td>
					@Html.TextBoxFor(m => m.NameEnglish, new { id = "nameEnglish", @class = "nameField", maxlength = 255, size = 40 })<br />
					@Html.ValidationMessageFor(m => m.NameEnglish)
					</td></tr></table>
				</div>
			
			<div id="duplicateEntryWarning" style="display:none">
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.DiscType)
			</div>
			<div class="editor-field">
				@Html.DiscTypeDropDownListFor(m => m.DiscType)
			</div>

			<div class="editor-label">
				<span>@R.CreateStrings.ArtistsInfo</span><br />
				<span class="extraInfo">@R.CreateStrings.ArtistDesc</span>
			</div>
			<div class="editor-field">
				@Html.ValidationMessage("Artists")
				<table>
					<tbody id="artistsTableBody">
					@if (Model != null && Model.Artists != null) {
						foreach (var artist in Model.Artists) {
							Html.RenderPartial("ArtistContractRow", artist);
						}
					}
					</tbody>
				</table>
				<br />
				@Helpers.EntrySearchBox("artistAdd", false)
				<br />
				<a href="#" class="textLink addLink" id="artistAddAcceptBtn">@ViewRes.SharedStrings.Add</a>
			</div>

			</td><td class="alignTop" style="max-width: 250px">
				@using (Html.BeginPanel()) {
					<p>@ViewRes.EntryCreateStrings.NoArtistsToName</p>
					<p>@ViewRes.EntryCreateStrings.NameHelp</p>
				}
			</td></tr></table>

		</fieldset>

		<input type="submit" value="@ViewRes.SharedStrings.Save" />

	</div>
	
}

<link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxbuttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxscrollbar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxlistbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EntrySearchJqx.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Album/Create.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		initPage()
	});

</script>