@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Albums;
@model AlbumDetailsContract
		   
@{
	ViewBag.Title = "Album details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Albums", "Index") };
}

<a href="#" id="addAlbumLink" style="@(Model.UserHasAlbum ? "display: none;" : "")">Add album to collection</a>
<a href="#" id="removeAlbumLink" style="@(Model.UserHasAlbum ? "" : "display: none;")">Remove album from collection</a>

@if (VocaDb.Web.Helpers.Login.CanManageDb) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id });
}

<h3>Basic info</h3>
<table class="properties">
	<tr>
		<td rowspan="5">
			<img src="@Url.Action("CoverPicture", new { id = Model.Id })" alt="Cover picture" class="coverPic" />
		</td>
		<td>Name</td>
		<td>
			@Model.Name<br />
			<span class="extraInfo">@Model.AdditionalNames</span>
		</td>
	</tr>
	<tr>
		<td>
			Artists
		</td>
		<td>
		@foreach (var artist in Model.ArtistLinks) {
			@Html.ActionLink(artist.Artist.Name, "Details", "Artist", new { id = artist.Artist.Id }, null);
																								 if (artist != Model.ArtistLinks.Last()) {
				<text>,&nbsp;</text>
																								 }
  }			
		</td>
	</tr>
@if (!string.IsNullOrEmpty(Model.Description)) {
	<tr>
		<td>Description</td>
		<td>
			@Model.Description<br />
		</td>	
	</tr>
}
	<tr>
		<td>Type</td>
		<td>
			@Model.DiscType<br />
		</td>	
	</tr>
@if (Model.WebLinks.Any()) {
	<tr>
		<td>Links</td>
		<td>
			@foreach (var link in Model.WebLinks) {
				<a href='@link.Url'>@link.DescriptionOrUrl</a><br />
   }
		</td>	
	</tr>
}
</table>

<h3>Tracklist</h3>
<ul>
	@foreach (var song in Model.Songs) {
		<li>
			@song.TrackNumber
			.&nbsp;
			@Html.ActionLink(song.Song.Name, "Details", "Song", new { id = song.Song.Id }, null)<br />
			<span class="extraInfo">@song.Song.ArtistString</span>
		</li>
 }
</ul>

<script type="text/javascript" src="../../Scripts/Album/Details.js"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>