@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.DataContracts.Albums;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models;
@model AlbumDetails
		   
@{
	ViewBag.Title = "Album details - " + Model.Name;
	ViewBag.Subtitle = Model.ArtistString;	
	ViewBag.Parents = new[] { Html.ActionLink("Albums", "Index") };
}

@section Toolbar {
@if (Login.Manager.IsLoggedIn) {
<a href="#" id="addAlbumLink" style="@(Model.UserHasAlbum ? "display: none;" : "")">Add to my collection</a>
<a href="#" id="updateAlbumLink" style="@(Model.UserHasAlbum ? "" : "display: none;")">Update in my collection</a>
}
	
@if (Model.CanEdit) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { id = "editAlbumLink" });
}

@Html.ActionLink("View modifications", "Versions", new { id = Model.Id }, new { id = "viewVersions" })
@Html.ActionLink("Download track info as CSV", "DownloadTags", new { id = Model.Id }, new { id = "downloadTags" })

@Helpers.EntryStatusMessage(Model.Status)
}

@if (Model.Deleted) {
	@Helpers.NotificationPanel(Resources.CommonMessages.EntryDeleted)<br />
}

@if (Model.Draft && !Model.Deleted) {
	@Helpers.DraftMessage("glalbums")
}

<div id="tabs">

	<ul>
		<li><a href="#basicInfoTab">Basic info</a></li>
		<li><a href="@Url.Action("Comments", "Album", new { id = Model.Id })" title="Discussion">Discussion (@Model.CommentCount)</a></li>
	</ul>

	<div id="basicInfoTab">

		<table class="properties">
			<tr>
				<td rowspan="14">
					<a href="@Url.Action("CoverPicture", new { id = Model.Id })">
						<img src="@Url.Action("CoverPictureThumb", new { id = Model.Id })" alt="Cover picture" class="coverPic" />
					</a><br />
					@if (Model.RatingCount > 0) {
						@Helpers.Stars((int)Model.RatingAverage, 5)<br />
						<text>(</text>@Model.RatingCount <text>ratings)</text>
					}
				</td>
				<td>Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>
			</tr>
			<tr>
				<td>Vocalists</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Vocalists)
				</td>
			</tr>

			<tr>
				<td>Producers</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Producers)
				</td>
			</tr>

			@if (Model.Circles.Any()) {
			<tr>
				<td>Circle</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Circles)
				</td>
			</tr>
   }

			@if (Model.Labels.Any()) {
			<tr>
				<td>Label(s)</td>
				<td>
					@ArtistHelpers.ArtistList(Model.Labels)
				</td>
			</tr>
   }

			@if (Model.OtherArtists.Any()) {
			<tr>
				<td>Other artists</td>
				<td>
					@ArtistHelpers.ArtistList(Model.OtherArtists)
				</td>
			</tr>
   }

			@if (!string.IsNullOrEmpty(Model.Description)) {
			<tr>
				<td>Description</td>
				<td>
					@Helpers.ConvertNewlinesToBreaks(Model.Description)
				</td>	
			</tr>
   }

			<tr>
				<td>Type</td>
				<td>
					@Model.DiscType<br />
				</td>	
			</tr>

			<tr>
				<td>Tags</td>
				<td>
					<span id="tagList">
						@{ Html.RenderPartial("TagList", Model.Tags); }
					</span>
					@if (Login.Manager.IsLoggedIn) {
						<a href="#" id="editTags">Edit tags</a>
	 }				
				</td>
			</tr>

			@if (Model.ReleaseDate != null && !Model.ReleaseDate.IsEmpty) {
			<tr>
				<td>Release date</td>
				<td>
					@Model.ReleaseDate.Formatted<br />
				</td>	
			</tr>
   }

		@if (!string.IsNullOrEmpty(Model.CatNum)) {
			<tr>
				<td>Catalog number</td>
				<td>
					@Model.CatNum<br />
				</td>	
			</tr>
  }

		@if (!string.IsNullOrEmpty(Model.ReleaseEvent)) {
			<tr>
				<td>Release event</td>
				<td>
					@Html.ActionLink(Model.ReleaseEvent, "Find", "Event", new { query = Model.ReleaseEvent }, null)<br />
				</td>	
			</tr>
  }

		@if (Model.PVs.Any()) {
		<tr>
			<td>Ads / crossfades</td>
			<td>
				@foreach (var pv in Model.PVs) {
					<a href="@pv.Url"><img src="@Html.VideoServiceLinkUrl(pv.Service)" alt="@pv.Service" /> @pv.DisplayName</a><br />
	}			
			</td>
		</tr>
  }

		@if (Model.WebLinks.Any()) {
			<tr>
				<td>External links</td>
				<td>
					@foreach (var link in Model.WebLinks) {
						<a href='@link.Url'>@link.DescriptionOrUrl</a><br />
	 }
				</td>	
			</tr>
  }
  
			<tr>
				<td>Addition date</td>
				<td>
					@Model.CreateDate
				</td>	
			</tr>
		</table>

		<table>
			<tr>
				@if (Model.PrimaryPV != null) {
				<td>
					@Helpers.EmbedPVThumb(Model.PrimaryPV, 250, 220)
				</td>
	}

				<td>
			
					<h3>Tracklist</h3>
					<div class="tracklist">
					<ul>
						@foreach (var song in Model.Songs) {
							<li>
								@song.TrackNumber
								.&nbsp;
								@Html.ActionLink(song.Song.Name, "Details", "Song", new { id = song.Song.Id }, new { title = song.Song.AdditionalNames })
								&nbsp;
								@Helpers.DraftIcon(song.Song.Status)
								@Html.PVServiceIcons(song.Song.PVServices)
								<br />
								<span class="extraInfo">@song.Song.ArtistString</span>
							</li>
	  }
					</ul>
					</div>
				
					@if (!Model.Songs.Any()) {
						<p>No tracklist provided. Any registered user is able to add one.</p>
					}
				</td>
			</tr>
		</table>

		<h3>Latest comments</h3>
		
		@if (Model.LatestComments.Any()) {
	  
			foreach (var comment in Model.LatestComments) {
				@Helpers.PrintComment(comment, false);
			}			
	  
		} else {
	  
			<p>Nothing yet!</p>
	  
		}
		
		<p>
			<a href="#" id="viewCommentsLink">View all comments</a>
		</p>

	</div>

	<div id="Discussion">
	</div>
</div>

<div id="editTagsPopup" style="display:none;" title="Tags">

	<input type="hidden" id="editTagsAlbumId" />

	<div id="editTagsContent"></div>

</div>

<div id="editCollectionDialog" style="display:none" title="Edit album in collection">
	<p>Status: @Html.EnumDropDownList("collectionStatusSelect", Translate.AlbumCollectionStatusNames, new { id = "collectionStatusSelect" }, Model.AlbumPurchaseStatus)</p>
	<p>Media type: @Html.EnumDropDownList("collectionMediaSelect", Translate.AlbumMediaTypeNames, new { id = "collectionMediaSelect" }, Model.AlbumMediaType)</p>
	<div>Rating: <div id="collectionRating"></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script type="text/javascript" src="../../Scripts/Album/Details.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcore.js")"></script>
<script type="text/javascript" src="../../Scripts/jqwidgets/jqxrating.js"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id, @Model.CollectionRating);
	});

</script>