@using VocaDb.Web.Models
@model  AlbumEdit
@{
	ViewBag.Title = "Edit album - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Albums", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { onclick = "return confirm(\"Are you sure you want to delete this album?\");" })

@if (!ViewData.ModelState.IsValid) {
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		@Html.ValidationSummary(false, "Unable to save properties.")
	</div>
</div>
}

@using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Name)
    <div>
        <fieldset>
			<legend>Basic properties</legend>
			<table><tr>
			<td>Primary name:</td>
            <td><div class="editor-label">
                @Html.LabelFor(m => m.NameRomaji)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.NameRomaji, new { @readonly = "readonly" } )
                @Html.ValidationMessageFor(m => m.NameRomaji)
            </div>
			</td><td>

            <div class="editor-label">
                @Html.LabelFor(m => m.NameJapanese)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.NameJapanese, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.NameJapanese)
            </div>
			</td><td>

            <div class="editor-label">
                @Html.LabelFor(m => m.NameEnglish)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.NameEnglish, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.NameEnglish)
            </div>
			</td><td>

            <div class="editor-label">
                @Html.LabelFor(m => m.DefaultLanguageSelection)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.DefaultLanguageSelection, new SelectList(Model.AllLanguages))
            </div>
			</td></tr>
			</table>

           <div class="editor-label">
                @Html.LabelFor(m => m.Names)
            </div>
            <div class="editor-field">
				<table>
					<tr>
						<th>Name *</th>
						<th>Language</th>
						<th>Actions</th>
					</tr>
					@foreach (var name in Model.Names) {
						<tr id="@("nameRow_" + name.Id)">
							<td>
								<input type="text" maxlength="128" class="nameEdit" id="@("nameEdit_" + name.Id)" value='@name.Value' />
							</td>
							<td>
								@Html.DropDownList("nameLanguage_" + name.Id, new SelectList(Model.AllLanguages, @name.Language), new { id = "nameLanguage_" + name.Id, @class = "nameLanguage" })
							</td>
							<td>
								<input type="button" class="nameDelete" id="@("nameDelete_" + name.Id)" value="Delete" />
								<input type="button" class="nameCopy" id="@("nameCopy_" + name.Id)" value="Copy to primary" />
							</td>
						</tr>
					}
					<tr id="nameRow_new">
						<td>
							<input type="text" maxlength="128" class="nameEditNew" id="nameEdit_new" />						
						</td>
						<td>
							@Html.DropDownList("nameLanguage_new", new SelectList(Model.AllLanguages), new { id = "nameLanguage_new" })
						</td>
						<td>
							<input type="button" class="nameAddNew" id="nameAdd" value="Add" />
						</td>
					</tr>
				</table>
            </div>

           <div class="editor-label">
                <label>Picture</label>
            </div>
            <div class="editor-field">
				<table>
					<tr><td>
						<img src="@Url.Action("CoverPictureThumb", new { id = Model.Id })" alt="Cover picture" class="coverPic" />
					</td><td>
						<p>Allowed types: @string.Join(", ", VocaDb.Model.Helpers.ImageHelper.AllowedExtensions)</p>
						<input type="file" id="pictureUpload" name="pictureUpload" />
					</td></tr>
				</table>
            </div>

           <div class="editor-label">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Description, 7, 70, null)
            </div>

           <div class="editor-label">
                @Html.LabelFor(m => m.DiscType)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.DiscType, new SelectList(Model.AllDiscTypes, Model.DiscType))
            </div>

			<table><tr>
				<td>Release Date:</td>
				<td>
					<div class="editor-label">
						@Html.LabelFor(m => m.ReleaseDay)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.ReleaseDay, new { size = "4" } )
					</div>				
				</td>
				<td>
					<div class="editor-label">
						@Html.LabelFor(m => m.ReleaseMonth)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.ReleaseMonth, new { size = "4" } )
					</div>				
				</td>
				<td>
					<div class="editor-label">
						@Html.LabelFor(m => m.ReleaseYear)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.ReleaseYear, new { size = "10" } )
					</div>				
				</td>
			</tr></table>

           <div class="editor-label">
                @Html.LabelFor(m => m.CatNum)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CatNum)
            </div>

           <div class="editor-label">
                @Html.LabelFor(m => m.ReleaseEvent)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ReleaseEvent)
            </div>
			
            <div class="editor-label">
                @Html.LabelFor(m => m.WebLinks)
            </div>
            <div class="editor-field">
				<table>
					<tr>
						<th>Description</th>
						<th>URL *</th>
						<th>Actions</th>
					</tr>
					@foreach (var webLink in Model.WebLinks) {
						<tr id="@("webLinkRow_" + webLink.Id)">
							<td>
								<input type="text" maxlength="512" class="webLinkDescription" id="@("webLinkDescription_" + webLink.Id)" value="@webLink.Description" />
							</td>
							<td>
								<input type="text" maxlength="512" class="webLinkUrl" size="50" id="@("webLinkUrl_" + webLink.Id)" value="@webLink.Url" />
							</td>
							<td>
								<input type="button" class="webLinkDelete" id="@("webLinkDelete_" + webLink.Id)" value="Delete" />
							</td>
						</tr>
					}
					<tr id="webLinkRow_new">
						<td>
							<input type="text" maxlength="512" class="webLinkDescriptionNew" id="webLinkDescription_new" />						
						</td>
						<td>
							<input type="text" maxlength="512" class="webLinkUrlNew" size="50" id="webLinkUrl_new" />													
						</td>
						<td>
							<input type="button" class="webLinkAddNew" id="webLinkAdd" value="Add" />
						</td>
					</tr>
				</table>
            </div>

            <p>
                <input type="submit" value="Save properties" />
            </p>
        </fieldset>
    </div>
}

<div>
    <fieldset>
		<legend>Tracklist</legend>
		<table>
			@foreach (var track in Model.Tracks) {
				Html.RenderPartial("SongInAlbumEditRow", track);
			}

			@{ Html.RenderPartial("AddNewLinkRow", new AddNewLinkRowModel { EntityName = "song", Prefix = "song", FirstColSpan = 2 }); }
		</table>
	</fieldset>
</div>

<div>
    <fieldset>
		<legend>Artists</legend>
		<table>
			@foreach (var album in Model.ArtistLinks) {
				Html.RenderPartial("ArtistForAlbumEditRow", album);
			}

			@{ Html.RenderPartial("AddNewLinkRow", new AddNewLinkRowModel { EntityName = "artist", Prefix = "artist" }); }
		</table>
	</fieldset>
</div>

<script type="text/javascript" src="../../Scripts/Album/Edit.js"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>
