@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@model AlbumEdit
@{
	ViewBag.Title = "Edit album - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Albums", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

@section Toolbar {
@if (Login.CanDeleteEntries) {
	if (!Model.Deleted) {
		@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { id = "deleteLink", onclick = "return confirm(\"Are you sure you want to delete this album?\");" })
	} else {
		@Html.ActionLink("Restore", "Restore", new { id = Model.Id }, new { id = "restoreLink" })
		if (Login.CanMoveToTrash) {
			@Html.Raw("&nbsp;")
			@Html.ActionLink("Move to trash", "MoveToTrash", new { id = Model.Id }, new { id = "trashLink", onclick = "return confirm(\"Are you sure you want to move this album to trash?\");" })
		}
	}
}
@if (Login.CanMergeEntries) {
	@Html.Raw("&nbsp;")	
	@Html.ActionLink("Merge", "Merge", new { id = Model.Id }, new { id = "mergeLink" })
}
}

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxbuttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxscrollbar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxlistbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EntrySearchJqx.js")"></script>

<script type="text/javascript">
	$(document).ready(function() { 
		$("#tabs").tabs();
	});
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Album/Edit.js")"></script>

<link rel="stylesheet" href="@Url.Content("~/Content/jquery.tooltip.css")" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tooltip.min.js")" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function() { 
		initPage(@Model.Id, "@Model.DiscType");
	});
</script>
}


@Helpers.EntryValidationMessage(Model.Draft, Model.ValidationResult, "glalbums")

@Helpers.ValidationSymmaryPanel("Unable to save properties.")

<br />
@using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Name)

	@Helpers.SaveBtn()
	
	<div id="tabs">

		<ul>
			<li><a href="#basicInfoTab">Basic info</a></li>
			<li><a href="#artistsTab">Artists</a></li>
			<li><a href="#tracksTab">Tracks</a></li>
			<li><a href="#picsTab">Pictures</a></li>
			<li><a href="#pvsTab">Media</a></li>
		</ul>

		<div id="basicInfoTab">

			<div class="editor-label">
				@Html.LabelFor(m => m.DefaultLanguageSelection)
			</div>
			<div class="editor-field">
				@Html.LanguageSelectionDropDownListFor(m => m.DefaultLanguageSelection)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Names)
			</div>
			<div class="editor-field">
				@Helpers.NamesList(Model.Names)
			</div>

			<div class="editor-label">
				<label>Picture</label>
			</div>
			<div class="editor-field">
				<table>
					<tr><td>
						<img src="@Url.Action("CoverPictureThumb", new { id = Model.Id })" alt="Cover picture" class="coverPic" />
					</td><td>
						<p>Allowed types: @string.Join(", ", VocaDb.Model.Helpers.ImageHelper.AllowedExtensions) . Maximum size is 5 MB.</p>
						<input type="file" id="coverPicUpload" name="coverPicUpload" />
					</td></tr>
				</table>
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Description)
			</div>
			<div class="editor-field">
				@Html.TextAreaFor(m => m.Description, 7, 70, new { @class = "span4" })
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.DiscType)
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.DiscType, new SelectList(Model.AllDiscTypes, Model.DiscType))
			</div>

			<table><tr>
				<td>Release Date:</td>
				<td>
					<div class="editor-label">
						@Html.LabelFor(m => m.ReleaseYear)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.ReleaseYear, new { size = "10", maxlength = 4, @class = "input-small" })<br />
						@Html.ValidationMessageFor(m => m.ReleaseYear)
					</div>				
				</td>
				<td>
					<div class="editor-label">
						@Html.LabelFor(m => m.ReleaseMonth)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.ReleaseMonth, new { size = "4", maxlength = 2, @class = "input-mini" })<br />
						@Html.ValidationMessageFor(m => m.ReleaseMonth)
					</div>				
				</td>
				<td>
					<div class="editor-label">
						@Html.LabelFor(m => m.ReleaseDay)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.ReleaseDay, new { size = "4", maxlength = 2, @class = "input-mini" })<br />
						@Html.ValidationMessageFor(m => m.ReleaseDay)
					</div>				
				</td>
			</tr></table>

			<div class="editor-label">
				@Html.LabelFor(m => m.CatNum)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.CatNum)
				@Html.ValidationMessageFor(m => m.CatNum)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.ReleaseEvent)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.ReleaseEvent, new { id = "releaseEvent", size = 30 })
			</div>
			
			<div class="editor-label">
				@Html.LabelFor(m => m.WebLinks)
			</div>
			<div class="editor-field">
				@Helpers.WebLinksList(Model.WebLinks)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Status)
			</div>
			<div class="editor-field">
				@Html.EnumDropDownListFor(m => m.Status, Translate.EntryStatusNames.GetValuesAndNames(Model.AllowedEntryStatuses))
				@Helpers.HelpMessage(Resources.CommonMessages.EntryStatusExplanation, "statusHelp")
			</div>

		</div>

		<div id="tracksTab">
			<p>Click track name to edit artists (new songs need to be saved first).</p>

			<table id="tracksTable">
				<thead>
					<tr>
						<th></th>
						<th><input type="checkbox" id="selectAllTracksCheck" /></th>
						<th>Disc</th>
						<th>Track</th>
						<th>Name</th>
						<th colspan="3" />
					</tr>
				</thead>
				<tbody id="tracksTableBody">
				@foreach (var track in Model.Tracks) {
		Html.RenderPartial("SongInAlbumEditRow", track);
	}
				</tbody>
			</table>

			<br />
			<a href="#" class="textLink editLink" id="editSelectedTracksLink">Set artists for selected tracks</a>
			
			<br /><br />
			<h4>Add new</h4>
			<p>Note: do not write the artist name or track number into the track name. Artists will be specified separately.</p>
			@Helpers.EntrySearchBox("songAdd", false, "Add")
		</div>

		<div id="artistsTab">

			@Helpers.NotificationPanel("Changes on this tab are saved immediately.")<br />

			<table>
				<tbody id="artistsTableBody">
				@foreach (var album in Model.ArtistLinks) {
		Html.RenderPartial("ArtistForAlbumEditRow", album);
	}
				</tbody>
			</table>
			
			<br />
			<h4>Add artist</h4>

			@Helpers.EntrySearchBox("artistAdd", false, "Add")
		</div>
		
		<div id="picsTab">
			
			<p>Please only upload pictures relevant to this album, nothing else.</p>
			<p>Allowed types: @string.Join(", ", VocaDb.Model.Helpers.ImageHelper.AllowedExtensions) . Maximum size is 5 MB.</p>

			<table>
				<tbody id="picturesTableBody">
					@foreach (var pic in Model.Pictures) {
						Html.RenderPartialTyped("EntryPictureFileEditRow", pic);
					}
				</tbody>
			</table>
			
			<a href="#" id="picAdd" class="addLink textLink">Create new</a>

		</div>

		<div id="pvsTab">
	
			<p>You can use this page to add advertisements or crossfades related to this album.</p>

			<table>
				<thead>
					<tr>
						<th>Service</th>
						<th>Type</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="pvTableBody">
					@foreach (var pv in Model.PVs) {
		 Html.RenderPartial("PVForSongEditRow", pv);
	 }
				</tbody>
			</table>

			<br />
			<h4>Add media</h4>
			<p>Supported services: Youtube, NicoNicoDouga and SoundCloud.</p>
			<p>
			URL:
			@Html.TextBox("pvUrl_new", string.Empty, new { id = "pvUrl_new", maxlength = 255, size = 40, @class = "input-xlarge" })
			</p>

			<a href="#" class="pvAddNew textLink addLink" id="pvAdd">Add</a>
			@Helpers.AjaxLoader("pvLoader")
	
		</div>

	</div>
	<br />
	
	<p>Update notes (optional)</p>
	@Html.TextAreaFor(m => m.UpdateNotes, new { @class = "input-xlarge" })	
	
	<br />
	@Helpers.SaveBtn()
	
}
	
<div id="editArtistRolesPopup" style="display:none;" title="Artist roles">

	<div id="rolesArtistId" />

	@foreach (var role in Translate.ArtistRoleNames.ValuesAndNames.Where(r => r.Key != VocaDb.Model.Domain.Artists.ArtistRoles.Default)) {
		<span class="tag">
			@Html.CheckBox("artistRole_" + role.Key.ToString(), new { id = "artistRole_" + role.Key.ToString(), @class = "artistRoleCheck" })
			@Html.Label("artistRole_" + role.Key.ToString(), role.Value)
		</span>
	}

</div>

<div id="editTrackPropertiesPopup" style="display:none;" title="Track properties">

	<div id="trackPropertiesContent"></div>

</div>

<div id="editMultipleTrackPropertiesPopup" style="display:none;" title="Track properties">

	<div id="multipleTrackPropertiesContent"></div>

</div>