@model VocaDb.Model.DataContracts.Albums.ParseAlbumFileResultContract
@{
    ViewBag.Title = "Import album tracks from CSV";
    if (Model.Album != null) {
        ViewBag.Parents = new[] { 
		    Html.ActionLink("Albums", "Index"), 
		    Html.ActionLink(Model.Album.Name, "Details", new { id = Model.Album.Id }) 
	    };    
    } else {
        ViewBag.Parents = new[] { 
		    Html.ActionLink("Albums", "Index"), 
	    };            
    }
}

@if (Model.Album != null) {
    <p>Importing info for @Html.ActionLink(Model.Album.Name, "Details", new { id = Model.Album.Id })</p>
}

@using (Html.BeginForm("ImportFromFileParse", "Album", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.Hidden("id")
    
    <input type="file" name="albumCsv" />

    <button class="btn btn-primary">Import</button>
}

@if (Model.Imported != null) {

    <h2>Imported album</h2>
    <p>Title: @Model.Imported.Title</p>
    
    if (Model.Imported.ReleaseYear != null) {
        <p>Year: @Model.Imported.ReleaseYear</p>
    }
    
    <table>
		<tr>
			<th>Track</th>
            <th>Title</th>
            <th>Artists</th>
            <th>Vocalists</th>
		</tr>
		@foreach (var track in Model.Imported.Tracks) {
            <tr>
				<td>@track.TrackNum</td>
                <td>@track.Title</td>
                <td>@string.Join(",", track.ArtistNames)</td>
                <td>@string.Join(",", track.VocalistNames)</td>
			</tr>
        }
	</table>
    
}
