@using VocaDb.Model.Service
@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models;
@using VocaDb.Model.DataContracts.Albums;
@using PagedList.Mvc;
@using PagedList;
@using R = ViewRes.Album;
@model VocaDb.Web.Models.Album.Index
@{
	ViewBag.Title = @ViewRes.SharedStrings.Albums;
}

@section Toolbar {
@if (Login.CanManageDb) {
	@Html.ActionLink(ViewRes.Album.IndexStrings.AddAlbum, "Create", null, new { id = "createLink" })
	if (Login.CanDeleteEntries) {
		@Html.Raw("&nbsp")
		@Html.ActionLink(ViewRes.EntryIndexStrings.ManageDeleted, "Deleted", null, new { id = "manageDeletedLink" })
	}
}
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@if (Model.DraftsOnly) {
	@Helpers.NotificationPanel(ViewRes.EntryIndexStrings.Drafts)
}

@using (Html.BeginForm("Index", "Album", FormMethod.Post, new { @class = "form-inline" })) {
	@Html.HiddenFor(m => m.Sort)
	
<p>
	@ViewRes.SharedStrings.Filter: @Html.TextBoxFor(m => m.Filter, new { size = 30 }) 
	&nbsp;
	@Html.DiscTypeDropDownListFor(m => m.DiscType)
	&nbsp;
	<label class="checkbox">
		@Html.CheckBoxFor(m => m.DraftsOnly)
		@ViewRes.EntryIndexStrings.OnlyDrafts
	</label>
	&nbsp;
	<button type="submit" class="btn">@ViewRes.SharedStrings.Apply</button>
</p>

	if (Model.Albums.Any()) {
	
<p>@ViewRes.SharedStrings.EntriesFound: @Model.Albums.TotalItemCount</p>
	
@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly, sort = Model.Sort }), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)

<br />
	
<table class="table table-striped">
	<thead>
		<tr>
			<th colspan="2">@Html.ActionLink(ViewRes.SharedStrings.Name, "Index", new { filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly, sort = VocaDb.Model.Service.AlbumSortRule.Name })</th>
			<th>@Html.ActionLink(R.IndexStrings.ReleaseDate, "Index", new { filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly, sort = VocaDb.Model.Service.AlbumSortRule.ReleaseDate })</th>
			<th>@Html.ActionLink(R.IndexStrings.Rating, "Index", new { filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly, sort = VocaDb.Model.Service.AlbumSortRule.RatingAverage })</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.View == EntryViewMode.Details) {
	  foreach (var album in Model.Albums) {
				<tr>
					<td>
						@AlbumHelpers.AlbumIconLink(album)
					</td>
					<td>
						@Helpers.DraftIcon(album)
						@Html.ActionLink(album.Name, "Details", new { id = album.Id }, new { title = album.AdditionalNames })<br />
						<small class="extraInfo">@album.ArtistString</small><br />
						<small class="extraInfo">@Translate.DiscTypeName(album.DiscType)</small>
					</td>
					<td>
						@if (!album.ReleaseDate.IsEmpty) {
							<span>
								@HelperRes.AlbumHelpersStrings.Released @album.ReleaseDate.Formatted
								@if (!string.IsNullOrEmpty(album.ReleaseEvent)) {
									<br />
									@Html.ActionLink(album.ReleaseEvent, "Find", "Event", new { query = album.ReleaseEvent }, null)
		}
							</span>
	  }				
					</td>
					<td>
						@if (album.RatingCount > 0) {
							@Helpers.Stars(album.RatingAverage, 5)
							<br /> 
							@album.RatingCount @R.IndexStrings.Times
	  }
					</td>
					<td>
						@if (Login.CanEdit(album)) {
							@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = album.Id }, new { @class = "textLink editLink" })
	  }
					</td>
				</tr>
	  }
  } else {
			@AlbumHelpers.AlbumThumbs(Model.Albums)
  }
	</tbody>
</table>

	@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly, sort = Model.Sort }), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)
	}

}
@if (!Model.Albums.Any()) {

	<p>@ViewRes.EntryIndexStrings.NoResults</p>
	@Helpers.GoogleSiteSearch()

}


<script type="text/javascript">

	$(document).ready(function () {
		$("#createLink").button({ icons: { primary: 'ui-icon-plusthick'} });
		$("#manageDeletedLink").button({ icons: { primary: 'ui-icon-trash'} });
	});

</script>