@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models;
@using VocaDb.Model.DataContracts.Albums;
@using PagedList.Mvc;
@using PagedList;
@model VocaDb.Web.Models.Album.Index
@{
	ViewBag.Title = @ViewRes.SharedStrings.Albums;
}

@section Toolbar {
@if (Login.CanManageDb) {
	@Html.ActionLink(ViewRes.Album.IndexStrings.AddAlbum, "Create", null, new { id = "createLink" })
}
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@if (Model.DraftsOnly) {
	@Helpers.NotificationPanel(ViewRes.EntryIndexStrings.Drafts)
}

@using (Html.BeginForm("Index", "Album", FormMethod.Post, new { @class = "form-inline" })) {
	
<p>
	@ViewRes.SharedStrings.Filter: @Html.TextBoxFor(m => m.Filter, new { size = 30 }) 
	&nbsp;
	@Html.DiscTypeDropDownListFor(m => m.DiscType)
	&nbsp;
	<label class="checkbox">
		@Html.CheckBoxFor(m => m.DraftsOnly)
		@ViewRes.EntryIndexStrings.OnlyDrafts
	</label>
	&nbsp;
	<button type="submit" class="btn">@ViewRes.SharedStrings.Apply</button>
</p>

	if (Model.Albums.Any()) {
	
<p>@ViewRes.SharedStrings.EntriesFound: @Model.Albums.TotalItemCount</p>
	
@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly }), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)

<table>
	<tr>
		<th>@ViewRes.SharedStrings.Name</th>
	</tr>
@foreach (var album in Model.Albums) {
	<tr>
		<td>
			@Helpers.DraftIcon(album)
			@Html.ActionLink(album.Name, "Details", new { id = album.Id }, new { title = album.AdditionalNames })<br />
			<span class="extraInfo">@album.ArtistString</span>
		</td>
		<td>
			@if (Login.CanEdit(album)) {
				@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = album.Id })
   }
		</td>
	</tr>
}
</table>

@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter, discType = Model.DiscType, draftsOnly = Model.DraftsOnly }), VocaDb.Web.Code.LocalizedPagedListRenderOptions.Instance)
	}

}
@if (!Model.Albums.Any()) {

	<p>@ViewRes.EntryIndexStrings.NoResults</p>
	@Helpers.GoogleSiteSearch()

}


<script type="text/javascript">

	$(document).ready(function () {
		$("#createLink").button({ icons: { primary: 'ui-icon-plusthick'} });
	});

</script>