@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models;
@using VocaDb.Model.DataContracts.Albums;
@using PagedList.Mvc;
@using PagedList;
@model VocaDb.Web.Models.Album.Index
@{
    ViewBag.Title = "Albums";
}

@section Toolbar {
@if (Login.CanManageDb) {
	@Html.ActionLink("Submit a new album", "Create", null, new { id = "createLink" })
}
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@if (Model.DraftsOnly) {
	@Helpers.NotificationPanel(Resources.CommonMessages.Drafts)
}

@using (Html.BeginForm("Index", "Album")) {
	
<p>
	Filter: @Html.TextBoxFor(m => m.Filter) 
	&nbsp;
	@Html.CheckBoxFor(m => m.DraftsOnly)
	@Html.LabelFor(m => m.DraftsOnly)
	<input type="submit" value="Apply" />
</p>

if (Model.Albums.Any()) {
	
@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter, draftsOnly = Model.DraftsOnly }))

<table>
	<tr>
		<th>Name</th>
	</tr>
@foreach (var album in Model.Albums) {
	<tr>
		<td>
			@Helpers.DraftIcon(album)
			@Html.ActionLink(album.Name, "Details", new { id = album.Id }, new { title = album.AdditionalNames })<br />
			<span class="extraInfo">@album.ArtistString</span>
		</td>
		<td>
			@if (Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = album.Id })
   }
		</td>
	</tr>
}
</table>

@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter, draftsOnly = Model.DraftsOnly }))
}

}
@if (!Model.Albums.Any()) {

	<p>No results! Try a different query or Google custom search.</p>
	@Helpers.GoogleSiteSearch()

}

@if (Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.Admin)) {
	using (Html.BeginForm("CreateQuick", "Album")) {
		Html.RenderPartial("ObjectCreateForm", new ObjectCreate());
	}
}

<script type="text/javascript">

	$(document).ready(function () {
		$("#createLink").button({ icons: { primary: 'ui-icon-plusthick'} });
	});

</script>