@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models;
@using VocaDb.Model.DataContracts.Albums;
@using PagedList.Mvc;
@using PagedList;
@model VocaDb.Web.Models.Album.Index
@{
    ViewBag.Title = "Albums";
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Index", "Album")) {
	
<p>
	Filter: @Html.TextBoxFor(m => m.Filter) 
	&nbsp; 
	<input type="submit" value="Apply" />
</p>

if (Model.Albums.Any()) {
	
@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter }))

<table>
	<tr>
		<th>Name</th>
	</tr>
@foreach (var album in Model.Albums) {
	<tr>
		<td>
			@Html.ActionLink(album.Name, "Details", new { id = album.Id }, new { title = album.AdditionalNames })<br />
			<span class="extraInfo">@album.ArtistString</span>
		</td>
		<td>
			@if (Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = album.Id })
   }
		</td>
	</tr>
}
</table>

@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new { page, filter = Model.Filter }))
}

}
@if (!Model.Albums.Any()) {

	<p>No results! Try a different query or Google site search.</p>
	@Helpers.GoogleSiteSearch()

}

@if (Login.CanManageDb) {
	using (Html.BeginForm("Create", "Album")) {
		Html.RenderPartial("ObjectCreateForm", new ObjectCreate());
	}
}