@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.DataContracts.Albums;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Albums";
}

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))

<table>
	<tr>
		<th>Name</th>
	</tr>
@foreach (AlbumContract album in ViewBag.Albums) {
	<tr>
		<td>
			@Html.ActionLink(album.Name, "Details", new { id = album.Id })<br />
		</td>
		<td>
			@if (Login.CanManageDb) {
				@Html.ActionLink("Edit", "Edit", new { id = album.Id })
			}
		</td>
	</tr>
}
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))

@model VocaDb.Web.Models.ObjectCreate
@if (Login.CanManageDb) {
	using (Html.BeginForm("Create", "Album")) {
	
    <div>
        <fieldset>
            <div class="editor-label">
                Name:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>			
			<input type="submit" value="Create" />
		</fieldset>
	</div>
}
}