@model VocaDb.Model.DataContracts.Songs.SongInAlbumContract

<tr id="@("songRow_" + Model.Id)">
	<td>@Html.TextBoxFor(m => m.TrackNumber, new { id = "songTrackNumber_" + Model.Id, @readonly = "readonly", @class = "songTrackNumber" })</td>
	<td><a href="#" class="editTrackProperties" id="@("editTrackProperties_" + Model.Id)" title="@Model.Song.AdditionalNames">@Model.Song.Name</a></td>
	<td>
		<input type="button" class="songMoveUp" id="@("songMoveUp_" + Model.Id)" value="Move up" />
		<input type="button" class="songMoveDown" id="@("songMoveDown_" + Model.Id)" value="Move down" />
		<input type="button" class="songRemove" id="@("songRemove_" + Model.Id)" value="Remove" />
	</td>
</tr>