@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Songs.SongInAlbumEditContract

<tr class="trackRow ui-state-default">
	<td>
		@{ var item = Html.BeginCollectionItem("Tracks"); }
		@Html.HiddenFor(m => m.ArtistString)
		@Html.HiddenFor(m => m.SongInAlbumId)
		@Html.HiddenFor(m => m.SongId, new { @class = "songId" })
		@Html.HiddenFor(m => m.SongName)
		@Html.HiddenFor(m => m.SongAdditionalNames)
		@Html.HiddenFor(m => m.TrackNumber, new { @class = "songTrackNumberField" })
		<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>	
	</td>
	<td class="songTrackNumber">
		@Model.TrackNumber
	</td>
	<td class="trackNameCol">
		@if (Model.SongId != 0) {
		<a href="#" class="editTrackProperties" title="@Model.SongAdditionalNames">@Model.SongName</a><br />
		} else {
		<span title="@Model.SongAdditionalNames">@Model.SongName</span><br />
		}
		<span class="extraInfo artistString">@Model.ArtistString</span>
	</td><td>
		@if (Model.SongId != 0) {
			@Html.ActionLink("Edit song", "Edit", "Song", new { id = Model.SongId }, null)
		} else {
			<span>NEW</span>
		}
		@{ item.Dispose(); }
	</td><td>
		<input type="button" class="songRemove" value="Remove" />
	</td>
</tr>