@model VocaDb.Model.DataContracts.Songs.SongInAlbumContract

<tr id="@("songRow_" + Model.Id)" class="ui-state-default">
	<td>
		<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>	
	</td>
	<td id="@("songTrackNumber_" + @Model.Id)" class="songTrackNumber">
		@Model.TrackNumber
	</td>
	<td class="trackNameCol">
		<a href="#" class="editTrackProperties" id="@("editTrackProperties_" + Model.Id)" title="@Model.Song.AdditionalNames">@Model.Song.Name</a></td>
	<td>
		<input type="button" class="songRemove" id="@("songRemove_" + Model.Id)" value="Remove" />
	</td>
</tr>