@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.Shared.PagingData<VocaDb.Model.DataContracts.Users.AlbumForUserContract>

<div class="pager">
@Html.Pager(Model.Items.PageSize, Model.Items.PageNumber, Model.Items.TotalItemCount, new AjaxOptions { UpdateTargetId = Model.ContainerName }).Options(o => o.Action(Model.Action).AddRouteValue("id", Model.Id).AddRouteValue("count", Model.Items.TotalItemCount))
</div>

<table>
	<tr>
		<th colspan="2">Album</th>
		<th>Status</th>
		<th>Media type</th>
		<th>Rating</th>
	</tr>
	@foreach (var album in Model.Items) {
	<tr>
		<td>
			<img src="@Url.Action("CoverPictureThumb", "Album", new { id = album.Album.Id })" alt="Cover" class="coverPicIcon" />
		</td>
		<td>
			@Html.ActionLink(album.Album.Name, "Details", "Album", new { id = album.Album.Id }, new { title = album.Album.AdditionalNames })
			<br />
			<span class="extraInfo">@album.Album.ArtistString</span>
		</td>
		<td>
			@Translate.AlbumCollectionStatusNames.GetName(album.PurchaseStatus)
		</td>
		<td>
			@Translate.AlbumMediaTypeNames.GetName(album.MediaType)
		</td>	
		<td>
			@Helpers.Stars(album.Rating, 5)
		</td>
	</tr>
}	
</table>

<div class="pager">
@Html.Pager(Model.Items.PageSize, Model.Items.PageNumber, Model.Items.TotalItemCount, new AjaxOptions { UpdateTargetId = Model.ContainerName }).Options(o => o.Action(Model.Action).AddRouteValue("id", Model.Id).AddRouteValue("count", Model.Items.TotalItemCount))
</div>
