@model VocaDb.Web.Models.User.ComposeMessage

@using (Html.BeginForm()) {

	<div class="editor-label">
		@Html.LabelFor(m => m.ReceiverName)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.ReceiverName)
		@Html.ValidationMessageFor(m => m.ReceiverName)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(m => m.Subject)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.Subject)
		@Html.ValidationMessageFor(m => m.Subject)

		@Html.CheckBoxFor(m => m.HighPriority)
		@Html.LabelFor(m => m.HighPriority)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(m => m.Body)
	</div>
	<div class="editor-field">
		@Html.TextAreaFor(m => m.Body, 10, 60, null)
		@Html.ValidationMessageFor(m => m.Body)
	</div>
	
	<input type="submit" value="Send" />
	
}