@using VocaDb.Model.DataContracts.Security;
@using VocaDb.Web;
@model UserDetailsContract
		   
@{
	ViewBag.Title = "User details - " + Model.Name;
}

@if (ViewExtension.LoggedUser(this).LoggedUser != null && ViewExtension.LoggedUser(this).LoggedUser.Id == Model.Id) {
	@Html.ActionLink("Edit", "MySettings");
}

<h3>Basic info</h3>
<table>
	<tr>
		<td>Name</td>
		<td>
			@Model.Name<br />
		</td>
	</tr>
</table>
	
@if (Model.AlbumLinks.Any()) {
<h3>Collection</h3>
	<table>
		<tr>
			<th colspan="2">Album</th>
			<th>Artists</th>
		</tr>
		@foreach (var album in Model.AlbumLinks) {
		<tr>
			<td>
				<img src="@Url.Action("CoverPicture", "Album", new { id = album.Album.Id })" alt="Cover" class="coverPicIcon" />
			</td>
			<td>@Html.ActionLink(album.Album.Name, "Details", "Album", new { id = album.Album.Id }, null)</td>		
			<td>
				@foreach (var artist in album.Album.ArtistLinks) {
					@Html.ActionLink(artist.Artist.Name, "Details", "Artist", new { id = artist.Artist.Id }, null);
					if (artist != album.Album.ArtistLinks.Last()) {
						<text>,&nbsp;</text>
					}
				}					
			</td>
		</tr>
		}	
	</table>
<ul>
</ul>
}