@using VocaDb.Model.DataContracts.Users;
@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@model UserDetailsContract
		   
@{
	ViewBag.Title = "User details - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Users", "Index"), 
	};		
}

@if (Login.Manager.IsLoggedIn && Login.User.Id == Model.Id) {
	@Html.ActionLink("My settings", "MySettings");
}
@if (Login.CanManageUsers) {
	<text>&nbsp;</text>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id });	
}

<h3>Basic info</h3>
<table>
	<tr>
		<td>Name</td>
		<td>
			@Model.Name<br />
		</td>
	</tr>
	@if (Login.CanManageUsers || (Login.Manager.IsLoggedIn && Login.User.Id == Model.Id)) {
		<tr>
			<td>Last login</td>
			<td>@Model.LastLogin</td>
		</tr>
		<tr>
			<td>Permissions</td>
			<td>@Model.PermissionFlags</td>
		</tr>
	}
</table>

<div id="tabs">

	<ul>
		<li><a href="#collection">Collection</a></li>
		<li><a href="#favorites">Favorites</a></li>
	</ul>

	<div id="collection">
		<table>
			<tr>
				<th colspan="2">Album</th>
				<th>Media type</th>
			</tr>
			@foreach (var album in Model.AlbumLinks) {
			<tr>
				<td>
					<img src="@Url.Action("CoverPicture", "Album", new { id = album.Album.Id })" alt="Cover" class="coverPicIcon" />
				</td>
				<td>
					@Html.ActionLink(album.Album.Name, "Details", "Album", new { id = album.Album.Id }, new { title = album.Album.AdditionalNames })
					<br />
					<span class="extraInfo">@album.Album.ArtistString</span>
				</td>
				<td>
					@Translate.MediaTypeName(album.MediaType)
				</td>	
			</tr>
			}	
		</table>
	</div>

	<div id="favorites">
		<ul>
		@foreach (var song in Model.FavoriteSongs) {
			<li>
				@Html.ActionLink(song.Song.Name, "Details", "Song", new { id = song.Id }, new { title = song.Song.AdditionalNames })<br />
				<span class="extraInfo">@song.Song.ArtistString</span>
			</li>
		}
		</ul>	
	</div>
</div>

<script type="text/javascript" src="../../Scripts/User/Details.js"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>