@using VocaDb.Model.DataContracts.Users;
@using VocaDb.Web;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.Domain.Security;
@model UserDetailsContract
		   
@{
	ViewBag.Title = "User details - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Users", "Index"), 
	};		
}

@section Toolbar {
@if (Login.Manager.IsLoggedIn && Login.User.Id == Model.Id && Login.User.Active) {
	@Html.ActionLink("My settings", "MySettings", null, new { id = "mySettingsLink" });
	@Html.ActionLink("Messages", "Messages", null, new { id = "messagesLink" });
}

@if (Login.Manager.IsLoggedIn && Login.User.Id != Model.Id && Login.User.Active) {
	//@Html.ActionLink("Compose message", "Messages", null, null, null, "composeTab", new { ReceiverName = Model.Name }, new { id = "composeMessageLink" });
}
@if (Login.CanManageUsers) {
	<text>&nbsp;</text>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { id = "editUserLink" });
}
@if (Login.Manager.HasPermission(PermissionFlags.ManageUserBlocks) && Login.User.Id != Model.Id && Model.Active) {
	<text>&nbsp;</text>
	@Html.ActionLink("Disable", "Disable", new { id = Model.Id }, new { id = "disableUserLink" });
}
}

<table>
	<tr>
		<td rowspan="7" class="alignTop">
			@Html.ProfileIcon(Model)
		</td>
		<td>Name</td>
		<td>
			@Model.Name<br />
		</td>
	</tr>
	<tr>
		<td>User level</td>
		<td>@Translate.UserGroups[Model.GroupId]</td>
	</tr>
	<tr>
		<td>A member since</td>
		<td>@Model.CreateDate.ToShortDateString()</td>
	</tr>
	@if (Login.CanManageUsers || (Login.Manager.IsLoggedIn && Login.User.Id == Model.Id)) {
		<tr>
			<td>Last login</td>
			<td>@Model.LastLogin</td>
		</tr>
		<tr>
			<td>Additional permissions</td>
			<td>@Model.AdditionalPermissions</td>
		</tr>
	}
	@if (Login.Manager.HasPermission(PermissionFlags.ManageUserBlocks)) {
		<tr>
			<td>Active</td>
			<td>@Model.Active</td>
		</tr>
		<tr>
			<td>Effective permissions</td>
			<td>@Model.EffectivePermissions</td>
		</tr>	 
	}
</table>

<br />

<div id="tabs">

	<ul>
		<li><a href="#stats">Statistics</a></li>
		<li><a href="@Url.Action("AlbumCollection", "User", new { id = Model.Id })" title="Collection"><span>Collection (@Model.AlbumCollectionCount)</span></a></li>
		<li><a href="@Url.Action("FavoriteSongs", "User", new { id = Model.Id })" title="Favorite songs"><span>Favorite songs (@Model.FavoriteSongCount)</span></a></li>
	</ul>

	<div id="stats">
		<p>Submissions: @Model.SubmitCount</p>
		<p>Total edits: @Model.EditCount</p>
		<p>Comments: @Model.CommentCount</p>
		<p>Tag votes: @Model.TagVotes</p>
	</div>

	<div id="Collection">
	</div>

	<div id="Favorite_songs">
	</div>
</div>

<script type="text/javascript" src="../../Scripts/User/Details.js"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id);
	});

</script>