@using VocaDb.Model.Domain.Security
@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.UserEdit

@{
	ViewBag.Title = "Edit user - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Users", "Index"), 
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }) 
	};	
}

@using(Html.BeginForm()) {	
	@Html.HiddenFor(m => m.Id)
	
	<fieldset>
		<legend>Account settings</legend>
		<p>
			@Html.CheckBoxFor(m => m.Active)
			Active
		</p>

		@Html.LabelFor(m => m.GroupId)
		@Html.EnumDropDownListFor(m => m.GroupId, Model.EditableGroups)
	</fieldset>

    if (EntryPermissionManager.CanEditAdditionalPermissions(Login.Manager)) {
 	
	<fieldset>
		<legend>Additional permissions</legend>
		@foreach (var entry in Model.Permissions) {	 
			Html.RenderPartial("PermissionEditRow", entry);											 
		}
	</fieldset>
        
    }
	
	@Helpers.SaveBtn()
	
}