@using VocaDb.Model.Domain.Songs
@using VocaDb.Web.Helpers
@model VocaDb.Web.Models.Shared.PagingData<VocaDb.Model.DataContracts.Users.FavoriteSongForUserContract>

<p>@Model.Items.TotalItemCount @ViewRes.MiscStrings.SongCount.</p>

<div class="pager">
@Html.Pager(Model.Items.PageSize, Model.Items.PageNumber, Model.Items.TotalItemCount, new AjaxOptions { HttpMethod = "Post", InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = Model.ContainerName }).Options(o => o.Action(Model.Action).AddRouteValue("id", Model.Id))
</div>

	<table>
		@foreach (var favorite in Model.Items) {
            var song = favorite.Song;
		<tr>
			<td>
				@if (!string.IsNullOrEmpty(favorite.Song.ThumbUrl)) {
					@SongHelpers.SongIconLink(song)
				}
			</td>
			<td>
				@if (favorite.Rating == SongVoteRating.Favorite) {
                    <span class="icon heartIcon" title="@Translate.SongVoteRatingNames[SongVoteRating.Favorite]"></span>
                } else {
                    <span class="icon starIcon" title="@Translate.SongVoteRatingNames[SongVoteRating.Like]"></span>        
                }
				@Html.ActionLink(song.Name, "Details", "Song", new { id = song.Id }, new { title = song.AdditionalNames })
				(@Translate.SongTypeNames[song.SongType])
				<br />
				<span class="extraInfo">@song.ArtistString</span>
			</td>
	   </tr>
	 }	
	</table>


<div class="pager">
@Html.Pager(Model.Items.PageSize, Model.Items.PageNumber, Model.Items.TotalItemCount, new AjaxOptions { HttpMethod = "Post", InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = Model.ContainerName }).Options(o => o.Action(Model.Action).AddRouteValue("id", Model.Id))
</div>
