@using VocaDb.Web.Helpers;
@using R = ViewRes.User;
@model VocaDb.Web.Models.User.Index
@{
	ViewBag.Title = ViewRes.SharedStrings.Users;
}

@using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "form-inline" })) {

	<p>
		@ViewRes.SharedStrings.Filter 
		@Html.EnumDropDownListFor(m => m.GroupId, Translate.UserGroups, null, Model.GroupId)
		
		<button type="submit" class="btn">@ViewRes.SharedStrings.Apply</button>
	</p>

}

<p>@string.Format(ViewRes.SharedStrings.EntriesFound, Model.Users.Length)</p>
	
<table class="table table-striped">
	<thead>
		<tr>
			<th colspan="2">
				@Html.ActionLink(R.DetailsStrings.UserName, "Index", new { GroupId = Model.GroupId, sort = VocaDb.Model.Service.UserSortRule.Name })
			</th>
			<th>
				@Html.ActionLink(R.DetailsStrings.MemberSince, "Index", new { GroupId = Model.GroupId, sort = VocaDb.Model.Service.UserSortRule.RegisterDate })
			</th>
			<th>
				@Html.ActionLink(R.DetailsStrings.UserGroup, "Index", new { GroupId = Model.GroupId, sort = VocaDb.Model.Service.UserSortRule.Group })
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@foreach (var user in Model.Users) {
		<tr>
			<td>
				<a href="@Url.Action("Details", new { id = user.Id })">
					@Html.ProfileIcon(user)					
				</a>
			</td>
			<td>
				@Html.ActionLink(user.Name, "Details", new { id = user.Id })
			</td>
			<td>
				@user.CreateDate
			</td>
			<td>
				@Translate.UserGroups[user.GroupId]
			</td>
			<td>
				@if (Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionToken.ManageUserPermissions)) {
					<text>&nbsp;</text>
					@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = user.Id }, new { @class = "textLink editLink" });	
				}
			</td>
		</tr>
	}
	</tbody>
</table>