@using VocaDb.Model.DataContracts.Users;
@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.User.Index
@{
	ViewBag.Title = "Users";
}

<p>Entries found: @Model.Users.Length</p>

<table>
	<tr>
		<th>Name</th>
		<th>Created</th>
		<th>Group</th>
		<th></th>
	</tr>
@foreach (var user in Model.Users) {
	<tr>
		<td>
			@Html.ActionLink(user.Name, "Details", new { id = user.Id })
		</td>
		<td>
			@user.CreateDate
		</td>
		<td>
			@Translate.UserGroups[user.GroupId]
		</td>
		<td>
			@if (Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionToken.ManageUserPermissions)) {
				<text>&nbsp;</text>
				@Html.ActionLink("Edit", "Edit", new { id = user.Id });	
			}
		</td>
	</tr>
}
</table>