@model VocaDb.Web.Models.LoginModel
@{
	ViewBag.Title = "Log in";
}

@Helpers.ValidationSymmaryPanel("Unable to log in.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <p>
                <input type="submit" value="Log in" />
            </p>
        </fieldset>
    </div>

}