@using R = ViewRes.User;
@model VocaDb.Web.Models.LoginModel
@{
	ViewBag.Title = ViewRes.User.LoginStrings.Login;
}

@Helpers.ValidationSymmaryPanel(ViewRes.User.LoginStrings.UnableToLogin)

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

			<br />
			<label class="checkbox inline">
				@Html.CheckBoxFor(m => m.KeepLoggedIn)
				@R.LoginStrings.KeepMeLoggedIn
			</label>
			<br /><br />

            <p>
				<button type="submit" class="btn btn-primary">@ViewRes.User.LoginStrings.DoLogin</button>
            </p>
        </fieldset>
    </div>

}

<a href="@Url.Action("LoginTwitter")">
	<img src="@Url.Content("~/Content/Sign-in-with-Twitter-darker.png")" alt="Sign in with Twitter" />
</a>

@ViewRes.User.LoginStrings.NoAccount @Html.ActionLink(ViewRes.User.LoginStrings.RegisterHere, "Create"). <br />

@ViewRes.User.LoginStrings.ForgotPassword @Html.ActionLink(ViewRes.User.LoginStrings.ResetPass, "ForgotPassword").