@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Users.UserMessageContract

<div class="message ui-tabs ui-widget ui-widget-content ui-corner-all">

	@Html.HiddenFor(m => m.Sender.Name, new { id = "senderName" })
	@Html.HiddenFor(m => m.Subject, new { id = "subject" })

	<div class="messageTitle ui-widget-header ui-corner-all">
		<div class="messageTitleText">
			@Model.Subject<br />
			<span>
				@Helpers.UniversalTimeLabel(Model.Created)
			</span>
			<span>@ViewRes.User.MessagesStrings.From</span>
			<span>@UserHelpers.UserIconLink(Model.Sender, Model.Sender.Name).</span>
			<span>@ViewRes.User.MessagesStrings.To</span>
			<span>@UserHelpers.UserIconLink(Model.Receiver, Model.Receiver.Name).</span>
		</div>
	</div>
	<p class="messageContent">
		@HtmlHelpers.FormatText(Model.Body)
	</p>

	<a href="#" id="replyMessage">@ViewRes.User.MessagesStrings.Reply</a>

	<script type="text/javascript">

		$(document).ready(function () {
			$("#replyMessage").button({ icons: { primary: 'ui-icon-arrowreturnthick-1-w'} });
		});

	</script>

</div>