@using VocaDb.Web.Models
@using VocaDb.Web.Helpers
@using R = ViewRes.User;
@model MySettingsModel

@{
    ViewBag.Title = "My settings";
	ViewBag.Parents = new[] { 
		Html.ActionLink(ViewRes.SharedStrings.Users, "Index"), 
		Html.ActionLink(Model.Username, "Profile", new { id = Model.Username }) 
	};		
}

@Html.ValidationSummary(true, "Unable to save settings. Please correct the errors and try again.")

@using (Html.BeginForm("MySettings", "User", FormMethod.Post)) {
	@Html.HiddenFor(m => m.Id)

	@Helpers.SaveBtn()
	
	<div id="tabs">

		<ul>
			<li><a href="#accountSettings">Account settings</a></li>
			<li><a href="#interface">Interface</a></li>
			<li><a href="#connectivity">Connectivity</a></li>
		</ul>

		<div id="accountSettings">
			<div>
				<div class="editor-label">
					@Html.LabelFor(m => m.Username)
				</div>
				<div class="editor-field">
					@Html.DisplayFor(m => m.Username)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.Email)
					(optional, used by gravatar and password resets)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(m => m.Email)
					@Html.ValidationMessageFor(m => m.Email)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.EmailOptions)
				</div>
				<div class="editor-field">
					@Html.EmailOptionsDropDownListFor(m => m.EmailOptions)
				</div>

				<p>
					<label class="checkbox inline">
						@Html.CheckBoxFor(m => m.AnonymousActivity)
						Do not show my name in the recent activity list
					</label>
				</p>

				<div class="editor-label">
					@Html.LabelFor(m => m.OldPass)
					(required for changing password.)
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.OldPass)
					@Html.ValidationMessageFor(m => m.OldPass)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.NewPass)
					(fill if changing password.)
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.NewPass)
					@Html.ValidationMessageFor(m => m.NewPass)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.NewPassAgain)
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.NewPassAgain)
 					@Html.ValidationMessageFor(m => m.NewPassAgain)
				</div>
				   
			</div>
		</div>
	
		<div id="interface">
		
			<div class="editor-label">
				@Html.LabelFor(m => m.DefaultLanguageSelection)
			</div>
			<div class="editor-field">
				@Html.LanguagePreferenceDropDownListFor(m => m.DefaultLanguageSelection)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.InterfaceLanguageSelection)
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.InterfaceLanguageSelection, new SelectList(Model.AllInterfaceLanguages, "Key", "Value", Model.InterfaceLanguageSelection))
			</div>

			<div class="editor-label">
				<label>
				@R.MySettings.CultureName
				</label>
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.CultureSelection, new SelectList(Model.AllInterfaceLanguages, "Key", "Value", Model.CultureSelection))
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.PreferredVideoService)
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.PreferredVideoService, new SelectList(Model.AllVideoServices, Model.PreferredVideoService))
			</div>

		</div>

		<div id="connectivity">
	
			<h4>Access key</h4>
			<p>@Model.AccessKey</p>

		</div>
	</div>
	
	<br />
	@Helpers.SaveBtn()
	
}

@section BodyScripts {
<script type="text/javascript" src="@Url.Content("~/Scripts/User/MySettings.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage();
	});

</script>
}