@using VocaDb.Web.Models
@using VocaDb.Web.Helpers
@using R = ViewRes.User;
@model MySettingsModel

@{
    ViewBag.Title = R.MySettingsStrings.MySettingsTitle;
	ViewBag.Parents = new[] { 
		Html.ActionLink(ViewRes.SharedStrings.Users, "Index"), 
		Html.ActionLink(Model.Username, "Profile", new { id = Model.Username }) 
	};		
}

@Html.ValidationSummary(true, R.MySettingsStrings.UnableToSave)

@using (Html.BeginForm("MySettings", "User", FormMethod.Post)) {
	@Html.HiddenFor(m => m.Id)

	@Helpers.SaveBtn()
	
	<div id="tabs">

		<ul>
			<li><a href="#accountSettings">@R.MySettingsStrings.AccountSettings</a></li>
			<li><a href="#interface">@R.MySettingsStrings.Interface</a></li>
			<li><a href="#connectivity">@R.MySettingsStrings.Connectivity</a></li>
		</ul>

		<div id="accountSettings">
			<div>
				<div class="editor-label">
					@R.MySettingsStrings.Username
				</div>
				<div class="editor-field">
					@Html.DisplayFor(m => m.Username)
				</div>

				<div class="editor-label">
					@R.MySettingsStrings.Email
					@R.MySettingsStrings.EmailNote
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(m => m.Email)
					@Html.ValidationMessageFor(m => m.Email)
				</div>

				<div class="editor-label">
					@R.MySettingsStrings.EmailOptions
				</div>
				<div class="editor-field">
					@Html.EmailOptionsDropDownListFor(m => m.EmailOptions)
				</div>

				<p>
					<label class="checkbox inline">
						@Html.CheckBoxFor(m => m.AnonymousActivity)
						@R.MySettingsStrings.AnonymousActivity
					</label>
				</p>

				<div class="editor-label">
					@R.MySettingsStrings.CurrentPass
					@R.MySettingsStrings.RequiredForChangingPassword
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.OldPass)
					@Html.ValidationMessageFor(m => m.OldPass)
				</div>

				<div class="editor-label">
					@R.MySettingsStrings.NewPass
					@R.MySettingsStrings.FillIfChangingPassword
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.NewPass)
					@Html.ValidationMessageFor(m => m.NewPass)
				</div>

				<div class="editor-label">
					@R.MySettingsStrings.NewPassAgain
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.NewPassAgain)
 					@Html.ValidationMessageFor(m => m.NewPassAgain)
				</div>
				   
			</div>
		</div>
	
		<div id="interface">
		
			<div class="editor-label">
				@R.MySettingsStrings.InterfaceLanguageSelection
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.InterfaceLanguageSelection,
					new SelectList(Model.AllInterfaceLanguages, "Key", "Value", Model.InterfaceLanguageSelection), 
					new { @class = "input-xlarge" })
			</div>

			<div class="editor-label">
				<label>
				@R.MySettingsStrings.CultureName
				</label>
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.CultureSelection,
					new SelectList(Model.AllInterfaceLanguages, "Key", "Value", Model.CultureSelection),
					new { @class = "input-xlarge" })
			</div>
			
			<div class="editor-label">
				@R.MySettingsStrings.DefaultLanguageSelection
			</div>
			<div class="editor-field">
				@Html.LanguagePreferenceDropDownListFor(m => m.DefaultLanguageSelection)
			</div>

			<div class="editor-label">
				@R.MySettingsStrings.PreferredVideoService
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(m => m.PreferredVideoService, new SelectList(Model.AllVideoServices, Model.PreferredVideoService))
			</div>

		</div>

		<div id="connectivity">
	
			<h4>@R.MySettingsStrings.AccessKey</h4>
			<p>
				@Model.AccessKey
				
				@Html.ActionLink(R.MySettingsStrings.Reset, "ResetAccesskey", "User", new { onclick = "return confirm(\"" + R.MySettingsStrings.ReallyReset + "\");", @class = "textLink refreshLink" })
			</p>

		</div>
	</div>
	
	<br />
	@Helpers.SaveBtn()
	
}

@section BodyScripts {
<script type="text/javascript" src="@Url.Content("~/Scripts/User/MySettings.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage();
	});

</script>
}