@model VocaDb.Web.Models.SongLists.CreateFromWVR

@{
    ViewBag.Title = "Create song list from WVR";
}

@Helpers.ValidationSymmaryPanel("Unable to parse list")

@using (Html.BeginForm("CreateFromWVR", "SongList", new { commit = false }, FormMethod.Post, new { @class = "form-inline" })) {

	@("Url:")
	@Html.Raw("&nbsp;")
	@Html.TextBoxFor(m => m.Url, new { size = 60 })
		
	<input type="submit" value="Parse" class="btn" /><br />
	@Html.ValidationMessageFor(m => m.Url)
	
}

@using (Html.BeginForm(new { commit = true })) {

	@Html.HiddenFor(m => m.Url)
	
	if (Model.ListResult != null) {

		<p>@Model.ListResult.WVRNumber - @Model.ListResult.Name</p>
	
		<table>
			<tr>
				<th>Order</th>
				<th>Link</th>
				<th>Song</th>
			</tr>
			@foreach (var row in Model.ListResult.Entries) {
				<tr>
					<td>@row.Order</td>
					<td><a href="@row.Url">@row.Name</a></td>
					<td>
						@if (row.Song != null) {
							@Html.ActionLink(row.Song.Name, "Details", new { id = row.Song.Id }, new { title = row.Song.AdditionalNames })
	  } else {
							<span>MISSING</span>
	  }
					</td>
				</tr>
   }
	
		</table>

   if (!Model.ListResult.IsIncomplete) {
			<p>
			<input type="submit" value="Accept" class="btn" />
			</p>
		}
			
	}
	
}