@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Helpers;
@model SongListDetailsContract
		   
@{
	ViewBag.Title = "Song list - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink(Model.Author.Name, "Details", "User", new { id = Model.Author.Id }, null) 
	};
	
	var ownProfile = (Login.Manager.IsLoggedIn && Login.User.Id == Model.Author.Id && Login.User.Active);
	
}

@section Toolbar {	
@if (ownProfile || Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.ManageUserBlocks)) {
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { id = "editListLink" });
}
}

@section BodyScripts {
<script type="text/javascript">

	$(document).ready(function() {
		$("#editListLink").button({ icons: { primary: 'ui-icon-wrench'} });
	});

</script>
}

@if (!string.IsNullOrWhiteSpace(Model.Description)) {
	<p>@Helpers.ConvertNewlinesToBreaks(Model.Description)</p>
}

<div class="tracklist">
	<ul>
		@foreach (var link in Model.SongLinks) {
			<li>
				@link.Order
				.&nbsp;
				@Html.ActionLink(link.Song.Name, "Details", "Song", new { id = link.Song.Id }, new { title = link.Song.AdditionalNames })
				&nbsp;
				@Helpers.DraftIcon(link.Song.Status)
				@Html.PVServiceIcons(link.Song.PVServices)
				<br />
				<span class="extraInfo">@link.Song.ArtistString</span>
			</li>
	}
	</ul>
</div>
