@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Model.Domain.Songs
@using VocaDb.Web.Helpers;
@using VocaDb.Model.Domain.Images
@using VocaDb.Model.Utils
@using VocaDb.Model.Helpers
@using MvcPaging;
@using R = ViewRes.SongList;
@model SongListDetailsContract
		   
@{
	
	if (Model.FeaturedCategory == SongListFeaturedCategory.Nothing) {
		ViewBag.PageTitle = string.Format("{0} - {1}", R.DetailsStrings.SongList, Model.Name);
		ViewBag.Title = Model.Name;
		ViewBag.SubTitle = R.DetailsStrings.SongList;
		ViewBag.Parents = new[] {
			Html.ActionLink(Model.Author.Name, "Details", "User", new {id = Model.Author.Id}, null)
		};
	} else {

		var categoryName = Translate.SongListFeaturedCategoryNames[Model.FeaturedCategory];

		ViewBag.PageTitle = string.Format("{0} - {1}", categoryName, Model.Name);
		ViewBag.Title = Model.Name;
		ViewBag.SubTitle = categoryName;
		
		ViewBag.Parents = new[] {
			Html.ActionLink(categoryName, "Featured", "SongList")
		};		
	}

	var smallThumbUrl = ImageHelper.GetImageUrl(Model.Thumb, ImageSize.SmallThumb);
	var thumbUrl = ImageHelper.GetImageUrl(Model.Thumb, ImageSize.Thumb);
	if (!string.IsNullOrEmpty(thumbUrl)) {
		ViewContext.Controller.ViewBag.Banner = thumbUrl;
	}
	
	var url = VocaUriBuilder.CreateAbsolute(Url.Action("Details", new { id = Model.Id })).ToString();
	
}

@section Head {
	@HtmlHelpers.OpenGraphMetaTags(
		url: url, 
		description: Model.Description
	)
	<link rel="canonical" href="@url" />	
}

@section Toolbar {	
@if (Model.CanEdit) {
	@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Id }, new { id = "editListLink" });
}
}

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pager.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript">

	$(document).ready(function() {
		$("#editListLink").button({ icons: { primary: 'ui-icon-wrench'} });
	});

</script>
}

<div class="media">
	@if (!string.IsNullOrEmpty(smallThumbUrl)) {
		<a class="pull-left" href="@thumbUrl">
			<img class="media-object" src="@smallThumbUrl" alt="Thumb" />				
		</a>		
	}
	<div class="media-body">
		@if (!string.IsNullOrWhiteSpace(Model.Description)) {
			<p>@HtmlHelpers.FormatText(Model.Description)</p>
		}

		<p>@Model.SongLinks.TotalCount @R.DetailsStrings.Songs.</p>
	</div>
</div>
<div id="songsInList">
@{ Html.RenderPartial("SongsInListPaged", new VocaDb.Web.Models.Shared.PagingData<VocaDb.Model.DataContracts.Songs.SongInListContract>(Model.SongLinks.Items.ToPagedList(0, 50, Model.SongLinks.TotalCount), Model.Id, "SongsPaged", "songsInList")); }
</div>		
