@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Model.Domain.Songs
@using VocaDb.Web.Helpers;
@using MvcPaging;
@using R = ViewRes.SongList;
@model SongListDetailsContract
		   
@{
	ViewBag.Title = R.DetailsStrings.SongList + " - " + Model.Name;
	if (Model.FeaturedCategory == SongListFeaturedCategory.Nothing) {
		ViewBag.Parents = new[] {
			Html.ActionLink(Model.Author.Name, "Details", "User", new {id = Model.Author.Id}, null)
		};
	} else {
		ViewBag.Parents = new[] {
			Html.ActionLink(Translate.SongListFeaturedCategoryNames[Model.FeaturedCategory], "Featured", "SongList")
		};		
	}

}

@section Toolbar {	
@if (Model.CanEdit) {
	@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Id }, new { id = "editListLink" });
}
}

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pager.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript">

	$(document).ready(function() {
		$("#editListLink").button({ icons: { primary: 'ui-icon-wrench'} });
	});

</script>
}

@if (!string.IsNullOrWhiteSpace(Model.Description)) {
	<p>@HtmlHelpers.FormatText(Model.Description)</p>
}

<p>@Model.SongLinks.TotalCount @R.DetailsStrings.Songs.</p>

<div id="songsInList">
@{ Html.RenderPartial("SongsInListPaged", new VocaDb.Web.Models.Shared.PagingData<VocaDb.Model.DataContracts.Songs.SongInListContract>(Model.SongLinks.Items.ToPagedList(0, 50, Model.SongLinks.TotalCount), Model.Id, "SongsPaged", "songsInList")); }
</div>