@using R = ViewRes.Tag;
@model VocaDb.Model.DataContracts.Tags.TagDetailsContract

@{
    ViewBag.Title = R.DetailsStrings.TagDetails + " - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink(ViewRes.SharedStrings.Tags, "Index") };	
}

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pager.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript">

	$(document).ready(function() {
		$("#tabs").tabs();
		$("#editTagLink").button({ icons: { primary: 'ui-icon-wrench'} });
	});

</script>
}

@section Toolbar {
	@if (VocaDb.Web.Helpers.Login.CanManageDb) {
		@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Name }, new { id = "editTagLink" });
	}
}

<div id="tabs">

	<ul>
		<li><a href="#overviewTab">@R.DetailsStrings.Overview</a></li>
		<li><a href="@Url.Action("Artists", "Tag", new { id = Model.Name })" title="Artists">@R.DetailsStrings.AllArtists (@Model.ArtistCount)</a></li>
		<li><a href="@Url.Action("AlbumsPaged", "Tag", new { id = Model.Name })" title="Albums">@R.DetailsStrings.AllAlbums (@Model.AlbumCount)</a></li>
		<li><a href="@Url.Action("SongsPaged", "Tag", new { id = Model.Name })" title="Songs">@R.DetailsStrings.AllSongs (@Model.SongCount)</a></li>
	</ul>

	<div id="overviewTab">

		@if (Model.Description != string.Empty) {
		<p>@HtmlHelpers.FormatText(Model.Description)</p>
		}

		@if (Model.CategoryName != string.Empty){
		<p>@R.DetailsStrings.Category: @Model.CategoryName</p>
		}

		@if (Model.Artists.Any()) {
		<h4>@R.DetailsStrings.TopArtists</h4>

		<ul>
			@foreach (var usage in Model.Artists) {
				<li>@Html.ActionLink(usage.Artist.Name + " (" + usage.Count + ")", "Details", "Artist", new { id = usage.Artist.Id }, null)</li>
			}
		</ul>
		}

		@if (Model.Albums.Any()) {
		<h4>@R.DetailsStrings.TopAlbums</h4>

		<ul>
			@foreach (var usage in Model.Albums) {
				<li>@Html.ActionLink(usage.Album.Name + " (" + usage.Count + ")", "Details", "Album", new { id = usage.Album.Id }, null)</li>
			}
		</ul>
		}

		@if (Model.Songs.Any()) {
		<h4>@R.DetailsStrings.TopSongs</h4>

		<ul>
			@foreach (var usage in Model.Songs) {
				<li>@Html.ActionLink(usage.Song.Name + " (" + usage.Count + ")", "Details", "Song", new { id = usage.Song.Id }, null)</li>
			}
		</ul>
		}

	</div>

	<div id="Artists">
	</div>

	<div id="Albums">
	</div>

	<div id="Songs">
	</div>

</div>
